Repository bashaus/bashkim-com: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, stylelint, eslint, prettier --write, yamllint

.lintstagedrc.json:

{
  "package.json": ["sort-package-json"],
  "*.{css,scss}": ["stylelint"],
  "*.{js,ts,tsx}": ["eslint"],
  "*.html": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.{yml,yaml}": ["yamllint"]
}

ci: codeql
  .github/workflows/codeql.yml
Due: yamllint

chore: licence 2025
  LICENSE.md
  packages/website/src/components/FooterCopyright/index.tsx
Due: eslint, prettier --write

refactor: type aliases
  packages/website/src/app/layout.tsx
  packages/website/src/layouts/RootLayout/index.tsx
  packages/website/src/machines/Promise/PromiseMachine.events.ts
  packages/website/src/machines/Promise/PromiseMachine.machine.ts
Due: eslint

style: medium content
  packages/socials/src/medium/index.ts
  packages/socials/src/medium/types.ts
  packages/website/src/app/@socialModals/(.)socials/github/page.tsx
  packages/website/src/app/@socialModals/(.)socials/linked-in/page.tsx
  packages/website/src/app/@socialModals/(.)socials/medium/page.tsx
  packages/website/src/app/@socialModals/(.)socials/stack-overflow/page.tsx
  packages/website/src/domains/socials/SocialDrawer/index.tsx
  packages/website/src/domains/socials/SocialDrawer/view-model.tsx
  packages/website/src/domains/socials/SocialDrawer/view.tsx
  packages/website/src/domains/socials/SocialHeader/index.tsx
  packages/website/src/domains/socials/SocialMediumMultiPartArticle/index.tsx
  packages/website/src/domains/socials/SocialMediumSingleArticle/index.tsx
  packages/website/src/domains/socials/SocialModalGitHub/index.tsx
  packages/website/src/domains/socials/SocialModalLinkedIn/index.tsx
  packages/website/src/domains/socials/SocialModalMedium/index.tsx
  packages/website/src/domains/socials/SocialModalStackOverflow/index.tsx
  packages/website/src/domains/socials/SocialModalStackOverflow/styles.module.scss
Due: stylelint, eslint

chore: correcting medium articles
  packages/socials/src/medium/index.ts
Due: eslint

style: modal
  packages/website/src/components/MenuButtonSettings/index.tsx
  packages/website/src/components/SiteSettings/index.tsx
  packages/website/src/components/SiteSettingsAppearance/index.tsx
  packages/website/src/components/SiteSettingsGridLines/index.tsx
  packages/website/src/components/SiteSettingsToggleButton/index.tsx
  packages/website/src/components/SiteSettingsToggleButton/styles.tsx
Due: eslint

refactor: drawer loading
  packages/design-system/src/components/MenuButton/stories.tsx
  packages/website/src/app/@socialModals/(.)socials/github/loading.tsx
  packages/website/src/app/@socialModals/(.)socials/github/page.tsx
  packages/website/src/app/@socialModals/(.)socials/layout.tsx
  packages/website/src/app/@socialModals/(.)socials/linked-in/loading.tsx
  packages/website/src/app/@socialModals/(.)socials/linked-in/page.tsx
  packages/website/src/app/@socialModals/(.)socials/medium/loading.tsx
  packages/website/src/app/@socialModals/(.)socials/medium/page.tsx
  packages/website/src/app/@socialModals/(.)socials/stack-overflow/loading.tsx
  packages/website/src/app/@socialModals/(.)socials/stack-overflow/page.tsx
  packages/website/src/components/HeaderDesktopSocial/index.tsx
  packages/website/src/components/MenuButtonSettings/index.tsx
  packages/website/src/domains/about-page/components/AboutPageLockup/index.tsx
  packages/website/src/domains/home-page/components/HomeFeatured/index.tsx
  packages/website/src/domains/home-page/components/HomeHello/index.tsx
  packages/website/src/domains/socials-github/SocialModalGitHub/index.tsx
  packages/website/src/domains/socials-github/SocialModalGithubLoading/index.tsx
  packages/website/src/domains/socials-linked-in/SocialHeaderLinkedIn/index.tsx
  packages/website/src/domains/socials-linked-in/SocialModalLinkedIn/index.tsx
  packages/website/src/domains/socials-linked-in/SocialModalLinkedInLoading/index.tsx
  packages/website/src/domains/socials-medium/SocialMediumHeader/index.tsx
  packages/website/src/domains/socials-medium/SocialMediumMultiPartArticle/index.tsx
  packages/website/src/domains/socials-medium/SocialMediumSingleArticle/index.tsx
  packages/website/src/domains/socials-medium/SocialModalMedium/index.tsx
  packages/website/src/domains/socials-medium/SocialModalMediumLoading/index.tsx
  packages/website/src/domains/socials-stack-overflow/SocialModalStackOverflow/index.tsx
  packages/website/src/domains/socials-stack-overflow/SocialModalStackOverflow/styles.module.scss
  packages/website/src/domains/socials-stack-overflow/SocialModalStackOverflowLoading/index.tsx
  packages/website/src/domains/socials/SocialModalLinkedIn/index.tsx
  packages/website/src/libraries/material-ui/components/MuiButtonBase/index.tsx
  packages/website/src/libraries/material-ui/components/MuiDialog/index.tsx
  packages/website/src/libraries/material-ui/components/MuiDrawer/index.tsx
  packages/website/src/libraries/material-ui/components/MuiListItemText/index.tsx
  packages/website/src/libraries/material-ui/components/MuiListSubheader/index.tsx
  packages/website/src/libraries/material-ui/theme/index.ts
Due: stylelint, eslint

chore: mui import eslint plugin
  packages/eslint/package.json
  packages/eslint/src/configs/base.mjs
  packages/website/src/app/@socialModals/(.)socials/github/loading.tsx
  packages/website/src/app/@socialModals/(.)socials/github/page.tsx
  packages/website/src/app/@socialModals/(.)socials/linked-in/loading.tsx
  packages/website/src/app/@socialModals/(.)socials/linked-in/page.tsx
  packages/website/src/app/@socialModals/(.)socials/medium/loading.tsx
  packages/website/src/app/@socialModals/(.)socials/medium/page.tsx
  packages/website/src/app/@socialModals/(.)socials/stack-overflow/loading.tsx
  packages/website/src/app/@socialModals/(.)socials/stack-overflow/page.tsx
  packages/website/src/domains/socials-github/SocialGitHub/index.tsx
  packages/website/src/domains/socials-github/SocialGitHubHeader/index.tsx
  packages/website/src/domains/socials-github/SocialGitHubLoading/index.tsx
  packages/website/src/domains/socials-github/SocialModalGithubLoading/index.tsx
  packages/website/src/domains/socials-linked-in/SocialLinkedIn/index.tsx
  packages/website/src/domains/socials-linked-in/SocialLinkedInHeader/index.tsx
  packages/website/src/domains/socials-linked-in/SocialLinkedInLoading/index.tsx
  packages/website/src/domains/socials-linked-in/SocialModalLinkedIn/index.tsx
  packages/website/src/domains/socials-linked-in/SocialModalLinkedInLoading/index.tsx
  packages/website/src/domains/socials-medium/SocialMedium/index.tsx
  packages/website/src/domains/socials-medium/SocialMediumLoading/index.tsx
  packages/website/src/domains/socials-stack-overflow/SocialStackOverflow/index.tsx
  packages/website/src/domains/socials-stack-overflow/SocialStackOverflow/styles.module.scss
  packages/website/src/domains/socials-stack-overflow/SocialStackOverflowLoading/index.tsx
  yarn.lock
Due: sort-package-json, stylelint, eslint, prettier --write

fix: social icon color
  packages/website/src/domains/socials-linked-in/SocialLinkedInHeader/index.tsx
  packages/website/src/domains/socials-medium/SocialMediumHeader/index.tsx
Due: eslint

chore: google analytics
  .env
  packages/website/.env.local.example
  packages/website/.env.production
  packages/website/package.json
  packages/website/src/app/layout.tsx
  packages/website/src/components/SentryHandler/index.tsx
  packages/website/src/components/SiteSettings/styles.module.scss
  packages/website/src/layouts/SiteLayout/index.tsx
  packages/website/src/libraries/sentry/init.ts
  yarn.lock
Due: sort-package-json, stylelint, eslint, prettier --write

chore: mui package
  packages/design-system/package.json
Due: sort-package-json, prettier --write

refactor: page flip
  package.json
  packages/design-system/package.json
  packages/design-system/src/components/Magazine/errors.ts
  packages/design-system/src/components/Magazine/helpers.spec.ts
  packages/design-system/src/components/Magazine/helpers.ts
  packages/design-system/src/components/Magazine/index.tsx
  packages/design-system/src/components/Magazine/stories.tsx
  packages/design-system/src/components/Magazine/types.ts
  packages/design-system/src/components/Turn/index.tsx
  packages/design-system/src/components/Turn/stories.tsx
  packages/design-system/src/components/Turn/styles.module.scss
  packages/design-system/src/components/Turn/types.ts
  packages/design-system/src/index.ts
  packages/design-system/src/slices/CaptionedMagazineSlice/index.tsx
  packages/design-system/src/slices/CaptionedMagazineSlice/styles.module.scss
  packages/design-system/src/types/turn-js.d.ts
  packages/prismic-fixtures/src/slice-types/CaptionedMagazine/fixture.json
  packages/style-guide/src/utils/_z-index.scss
  packages/website/src/types/turn-js.d.ts
  yarn.lock
Due: sort-package-json, stylelint, eslint, prettier --write

style: video dialog
  packages/design-system/src/components/VideoDialog/index.tsx
  packages/design-system/src/components/VideoDialog/stories.tsx
  packages/design-system/src/components/VideoDialog/styles.module.scss
  packages/design-system/src/components/VideoPoster/index.tsx
Due: stylelint, eslint

feat: medium socials from rss feed
  packages/socials/jest.config.ts
  packages/socials/package.json
  packages/socials/src/medium/helpers.spec.ts
  packages/socials/src/medium/helpers.ts
  packages/socials/src/medium/index.ts
  packages/socials/src/medium/rss.ts
  packages/socials/src/medium/types.ts
  packages/website/src/domains/socials-medium/SocialMedium/index.tsx
  packages/website/src/domains/socials-medium/SocialMediumMultiPartArticle/index.tsx
  packages/website/src/domains/socials-medium/SocialMediumSingleArticle/index.tsx
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore: framer motion fade in
  packages/website/package.json
  packages/website/src/components/MotionFadeIn/index.tsx
  packages/website/src/components/Page/index.tsx
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore: webpack 5.98.0
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore: typescript 5.7.3
  package.json
  packages/eslint/package.json
  packages/website/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore: turbo 2.4.2
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore: commitlint 19.7.1
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore: bump stylelint
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore: sort-package-json 2.14.0
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore: sass 1.85.0
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore: prettier 3.5.1
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore: postcss 8.5.2
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore: lint-staged 15.4.3
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore: eslint 9.20
  package.json
  packages/eslint/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore: storybook 8.5.6
  packages/design-system/.storybook/main.ts
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore: next 15.1.7
  packages/website/package.json
  yarn.lock
Due: sort-package-json, prettier --write

refactor: remove forms.scss
  packages/style-guide/src/normalize/_forms.scss
  packages/style-guide/src/normalize/index.scss
Due: stylelint

refactor: material ui theme
  packages/design-system/.storybook/decorators/MuiDecorator/index.tsx
  packages/design-system/.storybook/preview.ts
  packages/design-system/package.json
  packages/design-system/src/index.ts
  packages/design-system/src/material-ui/components/MuiButton/index.tsx
  packages/design-system/src/material-ui/components/MuiDialog/index.tsx
  packages/design-system/src/material-ui/components/MuiDrawer/index.tsx
  packages/design-system/src/material-ui/components/MuiListItemText/index.tsx
  packages/design-system/src/material-ui/components/MuiListSubheader/index.tsx
  packages/design-system/src/material-ui/index.tsx
  packages/style-guide/src/design/_headings.scss
  packages/style-guide/src/normalize/index.scss
  packages/style-guide/src/variables/_font-family.scss
  packages/website/package.json
  packages/website/src/libraries/material-ui/theme/index.ts
  yarn.lock
Due: sort-package-json, stylelint, eslint, prettier --write

refactor: page header partial
  packages/design-system/src/partials/PageHeaderPartial/styles.module.scss
  packages/design-system/src/partials/TitlePartial/stories.tsx
  packages/website/src/app/error.tsx
  packages/website/src/app/not-found.tsx
  packages/website/src/domains/about-page/components/AboutPageHeader/index.tsx
  packages/website/src/domains/home-page/components/HomeHello/index.tsx
  packages/website/src/domains/portfolio-page/components/PortfolioPageLockup/index.tsx
Due: stylelint, eslint

chore: type size
  packages/design-system/src/material-ui/components/MuiTypography/index.tsx
  packages/design-system/src/material-ui/index.tsx
  packages/design-system/src/partials/TitlePartial/stories.tsx
  packages/website/src/app/not-found.tsx
  packages/website/src/domains/about-page/components/AboutPageHeader/index.tsx
  packages/website/src/domains/home-page/components/HomeHello/index.tsx
  packages/website/src/domains/portfolio-page/components/PortfolioPageLockup/index.tsx
Due: eslint

style: mui typography
  packages/design-system/src/material-ui/components/MuiButton/index.tsx
  packages/website/src/domains/home-page/components/HomeHello/index.tsx
  packages/website/src/domains/home-page/components/HomeHello/styles.module.scss
Due: stylelint, eslint

chore: bump storybook to 8.5.8
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

style: move to mui
  packages/design-system/src/layout/Group/index.tsx
  packages/design-system/src/layout/Group/stories.tsx
  packages/design-system/src/layout/Group/styles.module.scss
  packages/design-system/src/layout/Group/styles.tsx
  packages/design-system/src/layout/Group/types.ts
  packages/design-system/src/partials/CaptionedPartial/index.tsx
  packages/design-system/src/partials/CaptionedPartial/styles.module.scss
  packages/design-system/src/partials/FullBannerPartial/index.tsx
  packages/design-system/src/partials/FullBannerPartial/styles.module.scss
  packages/design-system/src/partials/FullImagePartial/index.tsx
  packages/design-system/src/partials/FullImagePartial/styles.module.scss
  packages/design-system/src/partials/FullTextPartial/index.tsx
  packages/design-system/src/partials/FullTextPartial/styles.module.scss
  packages/design-system/src/partials/NewspaperPartial/index.tsx
  packages/design-system/src/partials/NewspaperPartial/styles.module.scss
  packages/design-system/src/partials/NewspaperPartial/styles.tsx
  packages/design-system/src/partials/PageHeaderPartial/index.tsx
  packages/design-system/src/partials/PageHeaderPartial/stories.tsx
  packages/design-system/src/partials/PageHeaderPartial/styles.module.scss
  packages/design-system/src/partials/SubtitlePartial/index.tsx
  packages/website/src/components/GridLines/index.tsx
  packages/website/src/components/GridLines/styles.module.scss
  packages/website/src/components/GridLines/styles.tsx
  packages/website/src/components/SiteSettings/index.tsx
  packages/website/src/domains/about-page/components/AboutCertifications/index.tsx
  packages/website/src/domains/about-page/components/AboutPageHeader/index.tsx
  packages/website/src/domains/case-study-page/components/CaseStudyHeader/index.tsx
  packages/website/src/domains/case-study-page/components/CaseStudyPageLockup/index.tsx
  packages/website/src/domains/cookies-page/components/CookiesDetails/index.tsx
  packages/website/src/domains/home-page/components/HomeFeatured/index.tsx
  packages/website/src/domains/home-page/components/HomeHello/index.tsx
  packages/website/src/domains/portfolio-page/components/PortfolioCaseStudyBrick/index.tsx
  packages/website/src/domains/portfolio-page/components/PortfolioCaseStudyBrick/styles.tsx
  packages/website/src/domains/portfolio-page/components/PortfolioCategory/index.tsx
  packages/website/src/domains/portfolio-page/components/PortfolioCategory/styles.module.scss
  packages/website/src/domains/portfolio-page/components/PortfolioFeaturedCaseStudies/index.tsx
  packages/website/src/domains/portfolio-page/components/PortfolioFeaturedCaseStudies/styles.module.scss
  packages/website/src/domains/portfolio-page/components/PortfolioPageLockup/index.tsx
Due: stylelint, eslint

fix: alt
  packages/website/src/domains/portfolio-page/components/PortfolioFeaturedCaseStudies/index.tsx
Due: eslint
