Repository bashaus/bashkim-com: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, stylelint, eslint, prettier --write, yamllint

.lintstagedrc.json:

{
  "package.json": ["sort-package-json"],
  "*.{css,scss}": ["stylelint"],
  "*.{js,ts,tsx}": ["eslint"],
  "*.html": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.{yml,yaml}": ["yamllint"]
}

fix: build process
  .github/workflows/codeql.yaml
  .github/workflows/lint.yaml
  package.json
  packages/design-system/.storybook/tsconfig.json
  packages/design-system/package.json
  packages/design-system/src/content/Home/stories.tsx
  packages/design-system/tsconfig.json
  packages/prismic-dal/.env.example
  packages/prismic-dal/codegen.ts
  packages/prismic-dal/package.json
  packages/prismic-dal/tsconfig.build.json
  packages/prismic-dal/tsconfig.json
  packages/prismic-dal/turbo.json
  packages/prismic-factories/tsconfig.json
  packages/prismic-schema/tsconfig.json
  packages/socials/.env.example
  packages/socials/codegen.ts
  packages/socials/package.json
  packages/socials/tsconfig.build.json
  packages/socials/tsconfig.json
  packages/socials/turbo.json
  packages/tsconfig/tsconfig.base.json
  packages/tsconfig/tsconfig.lib.json
  packages/website-e2e/tsconfig.json
  packages/website/tsconfig.json
  turbo.json
Due: sort-package-json, eslint, prettier --write, yamllint

fix: env vars
  packages/prismic-dal/turbo.json
  packages/socials/turbo.json
  turbo.json
Due: prettier --write

fix: turbo dependency issues
  package-lock.json
  packages/design-system/turbo.json
  packages/prismic-dal/turbo.json
  packages/socials/turbo.json
  packages/website/turbo.json
  turbo.json
Due: prettier --write

refactor: turbo dependencies
  packages/design-system/turbo.json
  packages/prismic-dal/eslint.config.mjs
  packages/prismic-dal/package.json
  packages/prismic-dal/turbo.json
  packages/socials/eslint.config.mjs
  packages/socials/package.json
  packages/socials/turbo.json
  packages/website/turbo.json
  turbo.json
Due: sort-package-json, prettier --write

chore: passthrough github token
  .github/workflows/lint.yaml
Due: yamllint

chore: bump turbo from 2.8.20 to 2.9.3
  package-lock.json
  package.json
Due: sort-package-json, prettier --write

chore: using zod for transient params
  package-lock.json
  packages/prismic-dal/package.json
  packages/prismic-dal/src/prismic/prismic-date-factory.ts
  packages/prismic-dal/src/prismic/prismic-date-time-factory.ts
Due: sort-package-json, eslint, prettier --write

chore: configuring react jsx configuration
  packages/design-system/index.d.ts
  packages/design-system/tsconfig.json
  packages/tsconfig/tsconfig.react.json
Due: eslint, prettier --write

fix: tokens
  .github/workflows/sonarcloud.yaml
  packages/design-system/turbo.json
Due: prettier --write, yamllint

fix(sonarqube): createHttpLink is deprecated
  packages/website/src/libraries/prismic/client.ts
Due: eslint

fix: jsx type
  packages/website/tsconfig.json
Due: prettier --write

chore: paths
  packages/website/src/app/sitemaps/case-studies/sitemap.ts
  packages/website/src/app/sitemaps/pages/sitemap.ts
  packages/website/src/libraries/app/sitemap.ts
Due: eslint

refactor: simplify paths
  packages/website/src/libraries/app/navigation.ts
  packages/website/src/libraries/app/navigation/about.spec.ts
  packages/website/src/libraries/app/navigation/about.ts
  packages/website/src/libraries/app/navigation/case-study.spec.ts
  packages/website/src/libraries/app/navigation/case-study.ts
  packages/website/src/libraries/app/navigation/cookies.spec.ts
  packages/website/src/libraries/app/navigation/cookies.ts
  packages/website/src/libraries/app/navigation/home.spec.ts
  packages/website/src/libraries/app/navigation/home.ts
  packages/website/src/libraries/app/navigation/pages.spec.ts
  packages/website/src/libraries/app/navigation/pages.ts
  packages/website/src/libraries/app/navigation/porfolio.spec.ts
  packages/website/src/libraries/app/navigation/portfolio.ts
  packages/website/src/libraries/app/navigation/socials.spec.ts
  packages/website/src/libraries/app/navigation/socials.ts
  packages/website/src/libraries/app/navigation/source.spec.ts
  packages/website/src/libraries/app/navigation/source.ts
Due: eslint

fix: argument
  packages/website/src/app/sitemaps/pages/sitemap.ts
Due: eslint

refactor: navigation paths (#4323)
  packages/website/src/app/sitemaps/case-studies/sitemap.ts
  packages/website/src/app/sitemaps/pages/sitemap.ts
  packages/website/src/libraries/app/navigation.ts
  packages/website/src/libraries/app/navigation/about.spec.ts
  packages/website/src/libraries/app/navigation/about.ts
  packages/website/src/libraries/app/navigation/case-study.spec.ts
  packages/website/src/libraries/app/navigation/case-study.ts
  packages/website/src/libraries/app/navigation/cookies.spec.ts
  packages/website/src/libraries/app/navigation/cookies.ts
  packages/website/src/libraries/app/navigation/home.spec.ts
  packages/website/src/libraries/app/navigation/home.ts
  packages/website/src/libraries/app/navigation/pages.spec.ts
  packages/website/src/libraries/app/navigation/pages.ts
  packages/website/src/libraries/app/navigation/porfolio.spec.ts
  packages/website/src/libraries/app/navigation/portfolio.ts
  packages/website/src/libraries/app/navigation/socials.spec.ts
  packages/website/src/libraries/app/navigation/socials.ts
  packages/website/src/libraries/app/navigation/source.spec.ts
  packages/website/src/libraries/app/navigation/source.ts
  packages/website/src/libraries/app/sitemap.ts
Due: eslint

chore: init turbo generator
  .prettierignore
  README.md
  package-lock.json
  package.json
  packages/design-system/turbo.json
  packages/prismic-dal/.env.example
  packages/prismic-dal/turbo.json
  packages/socials/turbo.json
  packages/website/next-env.d.ts
  packages/website/turbo.json
  turbo.json
  turbo/generators/config.ts
  turbo/generators/helpers/zod.ts
  turbo/generators/init/actions/prismic-dal-action.ts
  turbo/generators/init/actions/socials-action.ts
  turbo/generators/init/actions/website-action.ts
  turbo/generators/init/generator.ts
  turbo/generators/init/prompts/base-href.ts
  turbo/generators/init/prompts/github-token.ts
  turbo/generators/init/prompts/msw-enabled.ts
  turbo/generators/init/prompts/prismicio-access-token.ts
  turbo/generators/package.json
  turbo/generators/templates/packages/prismic-dal/.env.hbs
  turbo/generators/templates/packages/socials/.env.hbs
  turbo/generators/templates/packages/website/.env.local.hbs
Due: sort-package-json, eslint, prettier --write

chore: init turbo generator (#4324)
  .prettierignore
  README.md
  package-lock.json
  package.json
  packages/design-system/turbo.json
  packages/prismic-dal/.env.example
  packages/prismic-dal/turbo.json
  packages/socials/turbo.json
  packages/website/next-env.d.ts
  packages/website/turbo.json
  turbo.json
  turbo/generators/config.ts
  turbo/generators/helpers/zod.ts
  turbo/generators/init/actions/prismic-dal-action.ts
  turbo/generators/init/actions/socials-action.ts
  turbo/generators/init/actions/website-action.ts
  turbo/generators/init/generator.ts
  turbo/generators/init/prompts/base-href.ts
  turbo/generators/init/prompts/github-token.ts
  turbo/generators/init/prompts/msw-enabled.ts
  turbo/generators/init/prompts/prismicio-access-token.ts
  turbo/generators/package.json
  turbo/generators/templates/packages/prismic-dal/.env.hbs
  turbo/generators/templates/packages/socials/.env.hbs
  turbo/generators/templates/packages/website/.env.local.hbs
Due: sort-package-json, eslint, prettier --write

chore: deps
  package-lock.json
  packages/design-system/package.json
  packages/eslint/package.json
  packages/socials/package.json
  packages/tsconfig/package.json
  packages/website-e2e/package.json
  packages/website/next-env.d.ts
  packages/website/package.json
Due: sort-package-json, eslint, prettier --write

chore: bump vite from 8.0.3 to 8.0.8
  package-lock.json
Due: prettier --write

chore: bump lodash from 4.17.23 to 4.18.1
  package-lock.json
Due: prettier --write

chore: typescript 6
  package-lock.json
  package.json
  packages/design-system/package.json
  packages/eslint/package.json
  packages/website-e2e/package.json
  packages/website/package.json
Due: sort-package-json, prettier --write

chore: bump turbo to 2.9.6
  package-lock.json
  package.json
  packages/design-system/turbo.json
  packages/prismic-dal/turbo.json
  packages/socials/turbo.json
  packages/website/turbo.json
  turbo.json
Due: sort-package-json, prettier --write

chore: upgrade sonarjs configuration
  package-lock.json
  packages/eslint/package.json
Due: sort-package-json, prettier --write

refactor: portfolio page featured model factory
  packages/prismic-dal/src/models/portfolio-page-featured/factory.ts
  packages/prismic-dal/src/models/portfolio-page/factory.ts
Due: eslint

fix: turbo return type
  turbo/generators/init/actions/prismic-dal-action.ts
  turbo/generators/init/actions/socials-action.ts
  turbo/generators/init/actions/website-action.ts
Due: eslint

test: peer
  packages/prismic-dal/src/models/case-study-info-deliverable/factory.ts
  packages/prismic-dal/src/models/peer/factory.ts
  packages/prismic-dal/src/prismic/external-link/factory.ts
  packages/prismic-dal/src/slice-types/collaborator/factory.ts
Due: eslint

chore: use name model
  packages/prismic-dal/src/content-types/peer/factory.ts
  packages/prismic-dal/src/content-types/peer/index.ts
  packages/prismic-dal/src/content-types/technology/factory.ts
  packages/prismic-dal/src/content-types/technology/index.ts
  packages/prismic-dal/src/index.ts
  packages/prismic-dal/src/models/case-study-info-technology-model/factory.ts
  packages/prismic-dal/src/models/case-study-info-technology-model/index.ts
  packages/prismic-dal/src/models/peer/factory.ts
  packages/prismic-dal/src/prismic/external-link/factory.ts
  packages/prismic-dal/src/prismic/paragraph/factory.ts
  packages/prismic-dal/src/slice-types/collaborator/factory.ts
Due: eslint

chore: add sequence to case study
  packages/prismic-dal/src/models/portfolio-page-featured/factory.ts
  packages/prismic-dal/src/models/sitemap-case-study/factory.ts
  packages/prismic-dal/src/slice-types/portfolio-category/factory.ts
Due: eslint

test: mock case study
  packages/prismic-dal/src/content-types/technology/factory.ts
  packages/prismic-dal/src/content-types/technology/index.ts
  packages/prismic-dal/src/models/case-study-body/factory.ts
  packages/prismic-dal/src/models/case-study-info-deliverable/factory.ts
  packages/prismic-dal/src/models/case-study-info-deliverable/index.ts
  packages/prismic-dal/src/models/case-study-info-market/factory.ts
  packages/prismic-dal/src/models/case-study-info-market/index.ts
  packages/prismic-dal/src/models/case-study-info-outcome/factory.ts
  packages/prismic-dal/src/models/case-study-info-outcome/index.ts
  packages/prismic-dal/src/models/case-study-info-target-audience/factory.ts
  packages/prismic-dal/src/models/case-study-info-target-audience/index.ts
  packages/prismic-dal/src/models/case-study-info-technology-model/factory.ts
  packages/prismic-dal/src/models/case-study-info-technology-model/index.ts
  packages/prismic-dal/src/models/case-study-page/factory.ts
  packages/prismic-dal/src/models/case-study-page/index.ts
  packages/prismic-dal/src/models/portfolio-page-featured/factory.ts
  packages/prismic-dal/src/msw.ts
  packages/prismic-dal/src/queries/get-case-studies/mock.ts
  packages/prismic-dal/src/queries/get-case-study-body/mock.ts
  packages/prismic-dal/src/queries/get-case-study-page/mock.ts
  packages/prismic-dal/src/queries/get-home-page/mock.ts
  packages/prismic-dal/src/queries/get-portfolio-page/mock.ts
  packages/prismic-dal/src/queries/get-sitemap-case-studies/mock.ts
  packages/prismic-dal/src/queries/get-sitemap-pages/mock.ts
Due: eslint

refactor: content types to models
  packages/prismic-dal/src/index.ts
  packages/prismic-dal/src/models/case-study-info-technology-model/factory.ts
  packages/prismic-dal/src/models/case-study-page/factory.ts
  packages/prismic-dal/src/models/peer/factory.ts
  packages/prismic-dal/src/models/peer/index.ts
  packages/prismic-dal/src/models/technology/factory.ts
  packages/prismic-dal/src/models/technology/index.ts
  packages/prismic-dal/src/slice-types/collaborator/factory.ts
  packages/prismic-dal/src/slice-types/grid-embed/factory.ts
Due: eslint

chore: add prismic image sizes
  packages/prismic-dal/src/prismic/image/factory.ts
Due: eslint

fix: msw to mock
  packages/prismic-dal/package.json
  packages/prismic-dal/src/mock.ts
  packages/website/src/libraries/msw/node.ts
Due: sort-package-json, eslint, prettier --write

chore: export factories
  packages/prismic-dal/src/factories.ts
  packages/prismic-dal/src/models/case-study-info-technology/factory.ts
  packages/prismic-dal/src/models/case-study-info-technology/index.ts
  packages/prismic-dal/src/models/case-study-page/factory.ts
Due: eslint

fix: prettier
  packages/prismic-dal/src/slice-types/collaborator/factory.ts
Due: eslint

refactor: prismic factories (#4327)
  packages/prismic-dal/package.json
  packages/prismic-dal/src/factories.ts
  packages/prismic-dal/src/index.ts
  packages/prismic-dal/src/mock.ts
  packages/prismic-dal/src/models/case-study-body/factory.ts
  packages/prismic-dal/src/models/case-study-info-deliverable/factory.ts
  packages/prismic-dal/src/models/case-study-info-deliverable/index.ts
  packages/prismic-dal/src/models/case-study-info-market/factory.ts
  packages/prismic-dal/src/models/case-study-info-market/index.ts
  packages/prismic-dal/src/models/case-study-info-outcome/factory.ts
  packages/prismic-dal/src/models/case-study-info-outcome/index.ts
  packages/prismic-dal/src/models/case-study-info-target-audience/factory.ts
  packages/prismic-dal/src/models/case-study-info-target-audience/index.ts
  packages/prismic-dal/src/models/case-study-info-technology/factory.ts
  packages/prismic-dal/src/models/case-study-info-technology/index.ts
  packages/prismic-dal/src/models/case-study-page/factory.ts
  packages/prismic-dal/src/models/case-study-page/index.ts
  packages/prismic-dal/src/models/peer/factory.ts
  packages/prismic-dal/src/models/portfolio-page-featured/factory.ts
  packages/prismic-dal/src/models/sitemap-case-study/factory.ts
  packages/prismic-dal/src/models/technology/factory.ts
  packages/prismic-dal/src/models/technology/index.ts
  packages/prismic-dal/src/prismic/external-link/factory.ts
  packages/prismic-dal/src/prismic/image/factory.ts
  packages/prismic-dal/src/prismic/paragraph/factory.ts
  packages/prismic-dal/src/queries/get-case-studies/mock.ts
  packages/prismic-dal/src/queries/get-case-study-body/mock.ts
  packages/prismic-dal/src/queries/get-case-study-page/mock.ts
  packages/prismic-dal/src/queries/get-home-page/mock.ts
  packages/prismic-dal/src/queries/get-portfolio-page/mock.ts
  packages/prismic-dal/src/queries/get-sitemap-case-studies/mock.ts
  packages/prismic-dal/src/queries/get-sitemap-pages/mock.ts
  packages/prismic-dal/src/slice-types/collaborator/factory.ts
  packages/prismic-dal/src/slice-types/grid-embed/factory.ts
  packages/prismic-dal/src/slice-types/portfolio-category/factory.ts
  packages/website/src/libraries/msw/node.ts
Due: sort-package-json, eslint, prettier --write
