Repository bashaus/bashkim-com: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, stylelint, eslint, prettier --write, yamllint

.lintstagedrc.json:

{
  "package.json": ["sort-package-json"],
  "*.{css,scss}": ["stylelint"],
  "*.{js,ts,tsx}": ["eslint"],
  "*.html": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.{yml,yaml}": ["yamllint"]
}

chore(terraform): route53 domain integration
  infrastructure/module.structure_domain.tf
  infrastructure/modules/apps/design-system/module.output.tf
  infrastructure/modules/apps/website/module.output.tf
  infrastructure/modules/structure/domain/module.variables.tf
  infrastructure/modules/structure/domain/record.app_design_system.tf
  infrastructure/modules/structure/domain/record.app_website.tf
  infrastructure/modules/structure/domain/record.certificate.tf
  infrastructure/modules/structure/domain/record.google_domainkey.tf
  infrastructure/modules/structure/domain/record.mail.tf
  infrastructure/modules/structure/domain/record.root.tf
  infrastructure/modules/structure/domain/record.root_txt.tf
  infrastructure/modules/structure/domain/zone.tf
Due: none

chore(deps-dev): bump nx and @nrwl/* from 15.4.1 to 15.4.2
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

refactor(sonarqube): fixing code smells
  apps/website/src/components/CaseStudyAccolades/CaseStudyAccolades.tsx
  apps/website/src/components/CaseStudyCollaborators/CaseStudyCollaborators.tsx
  apps/website/src/components/CaseStudyExhibitions/CaseStudyExhibitions.tsx
  apps/website/src/pages/portfolio/[caseStudySlug]/index.tsx
  apps/website/src/pages/portfolio/index.tsx
  libs/design-system/src/slices/AccoladeSlice/AccoladeSlice.tsx
  libs/design-system/src/slices/CarouselPhonesSlice/CarouselPhonesSlice.tsx
  libs/design-system/src/slices/GridEmbedSlice/GridEmbedSlice.tsx
  libs/design-system/src/slices/GridVideoSlice/GridVideoSlice.tsx
  libs/design-system/src/slices/NewspaperSlice/NewspaperSlice.tsx
  libs/style-guide/src/variables/_colors.scss
Due: stylelint, eslint

refactor(sonarqube): fixing code smells
  apps/website/src/components/GridLines/GridLines.tsx
  libs/design-system/src/components/Carousel/Carousel.stories.tsx
  libs/design-system/src/components/Magazine/Magazine.stories.tsx
  libs/design-system/src/components/Turn/Turn.stories.tsx
  libs/design-system/src/partials/FullTextPartial/FullTextPartial.stories.tsx
  libs/design-system/src/partials/NewspaperPartial/NewspaperPartial.stories.tsx
Due: eslint

chore(deps): bump nx from 15.4.2 to 15.4.4
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

refactor(sonarqube): memoize and fix components
  apps/website/src/components/HomeHello/HomeHello.module.scss
  apps/website/src/contexts/Navigation/Navigation.provider.tsx
  apps/website/src/contexts/Settings/Settings.provider.tsx
  libs/design-system/src/components/Modal/Modal.tsx
Due: stylelint, eslint

chore(deps): install sharp
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(copyright): updated to 2023
  LICENSE.md
  apps/website/src/components/FooterCopyright/FooterCopyright.tsx
Due: eslint, prettier --write

chore(deps-dev): bump nx from 15.4.4 to 15.4.5
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps-dev): bump prettier from 2.8.1 to 2.8.2
  .eslintignore
  .prettierignore
  .stylelintignore
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps-dev): bump postcss from 8.4.20 to 8.4.21
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

style(home): transition fix
  apps/website/src/components/HomeHello/HomeHello.module.scss
Due: stylelint

style(switch): using rem
  libs/design-system/src/components/Switch/Switch.module.scss
  libs/design-system/src/components/Switch/Switch.stories.tsx
  libs/style-guide/src/normalize/_text.scss
Due: stylelint, eslint

chore(deps): bump @sentry/* from 7.29.0 to 7.30.0
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps): bump @sentry/* from 7.30.0 to 7.31.0
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps): bump @typescript-eslint/* from 5.48.1 to 5.48.2
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps): bump @sentry/* from 7.31.0 to 7.31.1
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(ci): increase open-pull-requests-limit for dependabot
  .github/dependabot.yml
Due: yamllint

chore(deps): bump @sentry/* from 7.31.1 to 7.32.1
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps): bump @sentry/* from 7.32.1 to 7.33.0
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(design-system): changing opacity for carousel
  libs/design-system/src/components/CarouselArrow/CarouselArrow.module.scss
  libs/design-system/src/components/CarouselDots/CarouselDots.module.scss
Due: stylelint

chore(deps-dev): bump @storybook/* from 6.5.15 to 6.5.16
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps): bump @sentry/* from 7.33.0 to 7.34.0
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(dev-deps): bump nx from 15.4.5 to 15.6.3
  apps/website-e2e/cypress.config.ts
  libs/design-system/project.json
  libs/prismic-dal/.babelrc
  libs/prismic-fixtures/.babelrc
  package.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(deps): bump @sentry/* from 7.34.0 to 7.35.0
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(serverless): added well-known endpoint
  infrastructure/modules/apps/website/distribution.tf
  serverless.yml
Due: yamllint

chore(serverless): added well-known endpoint
  serverless.yml
Due: yamllint

feat(x-ray): migrating to x-ray for backend
  apps/prismic-webhooks/src/app/libraries/prismic.ts
  apps/prismic-webhooks/src/lambda.ts
  apps/sitemap/src/lambda.ts
  libs/xray-lambda/.babelrc
  libs/xray-lambda/.eslintrc.json
  libs/xray-lambda/README.md
  libs/xray-lambda/jest.config.ts
  libs/xray-lambda/project.json
  libs/xray-lambda/src/index.ts
  libs/xray-lambda/tsconfig.json
  libs/xray-lambda/tsconfig.lib.json
  libs/xray-lambda/tsconfig.spec.json
  package.json
  serverless.yml
  tsconfig.base.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write, yamllint

chore(prismic-webhooks): added console error logging
  apps/prismic-webhooks/src/app/libraries/circleci/index.ts
  apps/prismic-webhooks/src/app/libraries/prismic/errors.ts
  apps/prismic-webhooks/src/app/libraries/prismic/index.ts
  apps/prismic-webhooks/src/app/routes/prismic.ts
Due: eslint

chore(dev-deps): bump nx from 15.6.3 to 15.7.1
  .storybook/main.ts
  libs/design-system/.storybook/main.ts
  package.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(dev-deps): bump nx from 15.7.1 to 15.7.2
  apps/prismic-webhooks/project.json
  apps/sitemap/project.json
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps): bump @sentry/* from 7.37.2 to 7.38.0
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(api): update api routes
  apps/prismic-webhooks/src/app/errors/UnhandledHttpError.ts
  apps/prismic-webhooks/src/app/index.ts
  apps/prismic-webhooks/src/app/routes/rootRouter.ts
  apps/prismic-webhooks/src/app/routes/wellKnownRouter.ts
  infrastructure/modules/apps/website/distribution.tf
  serverless.yml
Due: eslint, yamllint

feat(cypress): added basic e2e tests
  apps/website-e2e/src/e2e/app.cy.ts
  apps/website-e2e/src/e2e/components/options.cy.ts
  apps/website-e2e/src/e2e/pages/about.cy.ts
  apps/website-e2e/src/e2e/pages/home.cy.ts
  apps/website-e2e/src/e2e/pages/portfolio.cy.ts
  apps/website-e2e/src/support/app.po.ts
  apps/website-e2e/src/support/commands/example.d.ts
  apps/website-e2e/src/support/commands/example.ts
  apps/website-e2e/src/support/e2e.ts
  apps/website/src/components/Header/Header.tsx
  apps/website/src/components/Menu/Menu.tsx
  apps/website/src/components/SiteSettings/SiteSettings.tsx
Due: eslint

ci(github-actions): added lint
  .github/workflows/lint.yml
Due: yamllint

ci(action): yarn install and cache
  .github/workflows/lint.yml
Due: yamllint

ci(action): correct node-version in lint
  .github/workflows/lint.yml
Due: yamllint

ci(lint): added to github actions (#1914)
  .github/workflows/lint.yml
Due: yamllint
