Repository bashaus/bashkim-com: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, stylelint, eslint, prettier --write, yamllint

.lintstagedrc.json:

{
  "package.json": ["sort-package-json"],
  "*.{css,scss}": ["stylelint"],
  "*.{js,ts,tsx}": ["eslint"],
  "*.html": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.{yml,yaml}": ["yamllint"]
}

chore(dependabot): added self as assignee to receive updates
  .github/dependabot.yml
Due: yamllint

chore(turn-js): moved turn and magazine components to design system
  packages/application/.jest/cssTransform.js
  packages/application/package.json
  packages/application/src/components/Slice/index.tsx
  packages/application/src/libraries/turn/turn.min.js
  packages/application/types/turn-js.d.ts
  packages/config/tsconfig.json
  packages/design-system/jest.config.js
  packages/design-system/package.json
  packages/design-system/src/components/Magazine/helpers.spec.ts
  packages/design-system/src/components/Magazine/helpers.ts
  packages/design-system/src/components/Magazine/index.tsx
  packages/design-system/src/components/Magazine/stories.tsx
  packages/design-system/src/components/Turn/index.tsx
  packages/design-system/src/components/Turn/stories.tsx
  packages/design-system/src/components/Turn/styles.module.scss
  packages/design-system/src/index.ts
  packages/design-system/src/libraries/jquery/index.ts
  packages/design-system/src/slices/CaptionedMagazineSlice/index.tsx
  packages/design-system/src/slices/CaptionedMagazineSlice/stories.tsx
  packages/design-system/src/slices/CaptionedMagazineSlice/styles.module.scss
  packages/design-system/tsconfig.json
  packages/design-system/tsconfig.spec.json
  packages/design-system/types/jquery.d.ts
  packages/design-system/types/turn-js.d.ts
  packages/prismic/tsconfig.schema.json
  packages/sitemap/tsconfig.json
  yarn.lock
Due: sort-package-json, stylelint, eslint, prettier --write

chore(yarn): remove prebuild cleaning
  packages/config/package.json
  packages/design-system/package.json
  packages/prismic/package.json
  packages/sitemap/package.json
  packages/webhooks/package.json
Due: sort-package-json, prettier --write

chore(design-system): updated accolade design
  packages/application/src/slices/Accolade/index.tsx
  packages/application/src/slices/Accolade/styles.module.scss
  packages/design-system/src/layout/Group/styles.module.scss
Due: stylelint, eslint

chore(design-system): cleaning up props
  packages/application/src/slices/Accolade/stories.tsx
  packages/design-system/.storybook/preview.js
  packages/design-system/src/components/Brick/index.tsx
  packages/design-system/src/components/Brick/stories.tsx
  packages/design-system/src/components/CallToAction/index.tsx
  packages/design-system/src/components/Carousel/index.tsx
  packages/design-system/src/components/Carousel/stories.tsx
  packages/design-system/src/components/DeviceFeaturePhone/index.tsx
  packages/design-system/src/components/DeviceFeaturePhone/stories.tsx
  packages/design-system/src/components/DeviceSmartphone/stories.tsx
  packages/design-system/src/components/Magazine/stories.tsx
  packages/design-system/src/components/Turn/index.tsx
  packages/design-system/src/components/Turn/stories.tsx
  packages/design-system/src/components/VideoPlayerYouTube/index.tsx
  packages/design-system/src/components/VideoPlayerYouTube/stories.tsx
  packages/design-system/src/layout/Group/stories.tsx
  packages/design-system/src/partials/FullBannerPartial/stories.tsx
  packages/design-system/src/partials/HeaderImagePartial/stories.tsx
  packages/design-system/src/partials/HeaderTextPartial/stories.tsx
  packages/design-system/src/partials/SplitPartial/stories.tsx
  packages/design-system/src/partials/SubtitlePartial/stories.tsx
  packages/design-system/src/partials/TitlePartial/stories.tsx
Due: eslint

chore(dependabot): updating assignees
  .github/dependabot.yml
Due: yamllint

chore(design-system): renamed prismic fixtures
  packages/design-system/src/slices/CaptionedImageSlice/stories.tsx
  packages/design-system/src/slices/CaptionedMagazineSlice/stories.tsx
  packages/design-system/src/slices/CaptionedScreenshotsSlice/stories.tsx
  packages/design-system/src/slices/CaptionedVideoSlice/stories.tsx
  packages/design-system/src/slices/CarouselImagesSlice/stories.tsx
  packages/design-system/src/slices/CarouselPhonesSlice/stories.tsx
  packages/design-system/src/slices/CollaboratorSlice/stories.tsx
  packages/design-system/src/slices/ExhibitionSlice/stories.tsx
  packages/design-system/src/slices/FullTextSlice/stories.tsx
  packages/design-system/src/slices/GridEmbedSlice/stories.tsx
  packages/design-system/src/slices/GridVideoSlice/stories.tsx
  packages/design-system/src/slices/NewspaperSlice/stories.tsx
  packages/design-system/src/slices/SubtitleSlice/stories.tsx
Due: eslint

chore(sentry): remove error boundary story
  packages/application/src/components/SentryBoundary/stories.tsx
Due: eslint

chore(lint): sort exports
  .eslintrc.js
  packages/design-system/src/index.ts
  packages/prismic/src/casts/Date/index.ts
  packages/prismic/src/casts/RichText/index.tsx
  packages/prismic/src/content-types/index.ts
  packages/prismic/src/index.ts
Due: eslint

chore(slices): move AccoldadeSlice to design system
  packages/application/.babelrc
  packages/application/public/static/vectors/icons/trophy.svg
  packages/application/src/components/CaseStudyAccolades/index.tsx
  packages/application/tsconfig.json
  packages/design-system/.babelrc
  packages/design-system/package.json
  packages/design-system/rollup.config.js
  packages/design-system/src/assets/vectors/trophy.svg
  packages/design-system/src/index.ts
  packages/design-system/src/slices/AccoladeSlice/index.tsx
  packages/design-system/src/slices/AccoladeSlice/stories.tsx
  packages/design-system/src/slices/AccoladeSlice/styles.module.scss
  packages/design-system/types/svg.d.ts
  yarn.lock
Due: sort-package-json, stylelint, eslint, prettier --write

chore(postcss): added postcss-scss custom syntax
  .stylelintrc.json
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(ci): correcting save_cache paths
  .circleci/config.yml
Due: yamllint

chore(deps): upgraded node-fetch to 3.1.0
  packages/webhooks/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps): bump @babel/core from 7.15.5 to 7.16.0
  packages/application/package.json
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps): bump serverless from 2.65.0 to 2.66.0
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps): bump webpack from 5.61.0 to 5.62.2
  package.json
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps-dev): bump @commitlint/config-conventional from 13.2.0 to 14.1.0
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps-dev): bump eslint from 7.32.0 to 8.2.0
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps): bump all webpack loaders
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps): bump down eslint from 8.2.0 to 7.32.0 (not supported by next)
  package.json
  yarn.lock
Due: sort-package-json, prettier --write
