Repository bashaus/bashkim-com: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "package.json": ["sort-package-json"],
  "*.{js,ts,tsx}": ["eslint", "prettier --write"],
  "*.{md,html,json}": ["prettier --write"],
  "*.{css,scss}": ["stylelint", "prettier --write"]
}

chore(eslint): react-hooks
  .eslintrc.json
  .lintstagedrc.json
  package.json
  packages/application/src/components/Magazine/index.tsx
  packages/application/src/contexts/Cookies/index.tsx
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(eslint): typescript and prettier
  .circleci/config.yml
  .eslintrc.json
  .gitignore
  .lintstagedrc.json
  .vscode/settings.json
  package.json
  packages/application/.babelrc
  packages/application/jest.config.js
  packages/application/src/components/Carousel/index.tsx
  packages/application/src/contexts/Cookies/index.tsx
  packages/application/src/contexts/Navigation/index.tsx
  packages/application/src/type.prismic.d.ts
  packages/application/src/type.svg.d.ts
  packages/prismic/src/slice-types/CaptionedImage/type.ts
  packages/prismic/src/slice-types/FullText/type.ts
  packages/prismic/src/slice-types/GridEmbed/type.ts
  packages/prismic/src/slice-types/GridVideo/type.ts
  packages/prismic/src/slice-types/Newspaper/type.ts
  packages/prismic/src/slice-types/Subtitle/type.ts
  packages/sitemap/src/templates/sitemap.ts
  packages/sitemap/src/templates/sitemapindex.ts
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(eslint): import
  .circleci/config.yml
  .eslintrc.json
  .vscode/settings.json
  package.json
  packages/application/src/components/DeferredAsset/index.tsx
  packages/application/src/components/FooterColumn/index.tsx
  packages/application/src/components/Header/index.tsx
  packages/application/src/components/HeaderIntersection/index.tsx
  packages/application/src/components/Menu/index.tsx
  packages/application/src/components/MetaImage/index.tsx
  packages/application/src/components/Navigation/index.tsx
  packages/application/src/components/NavigationSocial/index.tsx
  packages/application/src/components/Page/index.tsx
  packages/application/src/components/SentryBoundary/index.tsx
  packages/application/src/components/Slice/index.tsx
  packages/application/src/components/Turn/index.tsx
  packages/application/src/contexts/Cookies/index.tsx
  packages/application/src/contexts/Navigation/index.tsx
  packages/application/src/pages/portfolio/index.tsx
  packages/application/src/partials/Split.Item/index.tsx
  packages/application/src/slices/CaptionedScreenshots/index.tsx
  packages/config/src/init.ts
  packages/sitemap/src/app.ts
  packages/sitemap/src/sitemapindexes/index.ts
  packages/sitemap/src/sitemaps/case-studies.ts
  packages/sitemap/src/sitemaps/pages.ts
  packages/sitemap/src/templates/sitemap.ts
  packages/sitemap/src/templates/sitemapindex.ts
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(next): export
  .circleci/config.yml
  .eslintrc.json
  .gitignore
  .prettierignore
  .slsignore
  .vscode/settings.json
  package.json
  packages/application/.gitignore
  packages/application/.prettierignore
  packages/application/jest.config.js
  packages/application/next.config.js
  packages/application/package.json
  packages/application/src/libraries/prismic/queries/CaseStudiesQuery.ts
  packages/application/src/pages/index.tsx
  packages/application/src/pages/portfolio/[caseStudySlug]/index.tsx
  packages/application/src/pages/portfolio/index.tsx
  packages/prismic/package.json
  packages/webhooks/.env.example
  packages/webhooks/package.json
  packages/webhooks/src/app.ts
  packages/webhooks/src/dev.ts
  packages/webhooks/src/lambda.ts
  packages/webhooks/src/libraries/circleci.ts
  packages/webhooks/src/libraries/prismic.ts
  packages/webhooks/src/routes/prismic.ts
  packages/webhooks/tsconfig.json
  serverless.yml
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(next): reduce application
  packages/application/src/pages/_app.tsx
  packages/application/src/pages/_document.tsx
  serverless.yml
Due: eslint, prettier --write

chore(application): type checking on context actions
  .circleci/config.yml
  .eslintignore
  .prettierignore
  package.json
  packages/application/.gitignore
  packages/application/.prettierignore
  packages/application/jest.config.js
  packages/application/package.json
  packages/application/src/components/CookiesNotice/index.tsx
  packages/application/src/components/CookiesNotice/stories.tsx
  packages/application/src/components/Header/index.tsx
  packages/application/src/components/Header/stories.tsx
  packages/application/src/components/HeaderIntersection/index.tsx
  packages/application/src/components/LayoutDefault/index.tsx
  packages/application/src/components/Menu/index.tsx
  packages/application/src/components/Menu/stories.tsx
  packages/application/src/components/MenuSignifierButton/index.tsx
  packages/application/src/components/MenuSignifierButton/stories.tsx
  packages/application/src/components/Navigation/index.tsx
  packages/application/src/components/NavigationSocial/index.tsx
  packages/application/src/components/Page/index.tsx
  packages/application/src/contexts/Cookies/actions.ts
  packages/application/src/contexts/Cookies/context.ts
  packages/application/src/contexts/Cookies/index.tsx
  packages/application/src/contexts/Cookies/provider.tsx
  packages/application/src/contexts/Cookies/reducer.ts
  packages/application/src/contexts/Cookies/state.ts
  packages/application/src/contexts/Navigation/actions.ts
  packages/application/src/contexts/Navigation/context.ts
  packages/application/src/contexts/Navigation/index.tsx
  packages/application/src/contexts/Navigation/provider.tsx
  packages/application/src/contexts/Navigation/reducer.ts
  packages/application/src/contexts/Navigation/state.ts
  serverless.yml
Due: sort-package-json, eslint, prettier --write

chore(application): updated selected state for menu
  packages/application/src/components/Navigation/styles.module.scss
  packages/application/src/components/NavigationPrimary/styles.module.scss
Due: prettier --write, stylelint

chore(stylelint): prettier
  .stylelintrc.json
  .vscode/settings.json
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(serverless): using WebsiteURL for bucket
  serverless.yml
Due: none

chore(infrastructure): migrating to S3 routing policy
  .circleci/config.yml
  .slsignore
  infrastructure/WebsiteBucket/RoutingRules.yml
  package.json
  packages/seo/package.json
  packages/seo/src/app.ts
  packages/seo/src/lambda.ts
  packages/seo/src/schema/301-moved-permanently.json
  packages/seo/src/schema/410-gone.json
  packages/seo/tsconfig.json
  serverless.yml
Due: sort-package-json, eslint, prettier --write

chore(circle): build before test
  .circleci/config.yml
Due: none

chore(eslint): removing babel-eslint as it is not required
  .eslintignore
  .eslintrc.json
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(storybook): updating to version 6.2.7
  packages/application/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(application): fixing canonical urls
  packages/application/src/pages/portfolio/[caseStudySlug]/index.tsx
Due: eslint, prettier --write

chore(webpack): upgrading to webpack 5
  packages/application/.storybook/main.js
  packages/application/.storybook/webpack.config.js
  packages/application/next.config.js
  packages/application/package.json
  packages/application/src/components/HomeHello/index.tsx
  packages/application/src/components/MenuBackButtonHomeImpl/index.tsx
  packages/application/src/components/MenuBackButtonPortfolioImpl/index.tsx
  packages/application/src/components/NavigationSocial/index.tsx
  packages/application/src/slices/Accolade/index.tsx
  packages/application/src/slices/CaptionedScreenshots/index.tsx
  packages/application/src/type.svg.d.ts
  yarn.lock
Due: sort-package-json, eslint, prettier --write

feat(wepack): using version 4 for stability
  packages/application/.storybook/main.js
  packages/application/next.config.js
  packages/application/package.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write

feat(react): useCallback and useMemo
  packages/application/.storybook/decorators/component/index.tsx
  packages/application/src/components/CookiesNotice/index.tsx
  packages/application/src/components/DeferredAsset/index.tsx
  packages/application/src/components/FooterColumn/index.tsx
  packages/application/src/components/FooterColumn/styles.module.scss
  packages/application/src/components/GoogleAnalytics/index.tsx
  packages/application/src/components/HeaderIntersection/index.tsx
  packages/application/src/components/LayoutDefault/index.tsx
  packages/application/src/components/Magazine/index.tsx
  packages/application/src/components/MenuSignifierButton/index.tsx
  packages/application/src/components/Turn/stories.tsx
  packages/application/src/components/VideoPlayerYouTube/index.tsx
  packages/application/src/slices/CaptionedMagazine/index.tsx
  packages/application/src/slices/CaptionedScreenshots/index.tsx
Due: eslint, prettier --write, stylelint

chore(circleci): run deploy and synchronize in parallel
  .circleci/config.yml
Due: none

feat(blur): added blurhash to captioned images
  packages/application/package.json
  packages/application/src/components/DeferredAsset/index.tsx
  packages/application/src/components/DeferredImage/index.tsx
  packages/application/src/components/DeferredImage/styles.module.scss
  packages/application/src/libraries/prismic/LinkResolver.ts
  packages/application/src/libraries/prismic/queries/CaseStudyBodyQuery.ts
  packages/application/src/machines/Promise/context.ts
  packages/application/src/machines/Promise/events.ts
  packages/application/src/machines/Promise/machine.ts
  packages/application/src/machines/Promise/services.ts
  packages/application/src/machines/Promise/states.ts
  packages/application/src/partials/Split.Item/index.tsx
  packages/application/src/slices/CaptionedImage/index.tsx
  packages/prismic/src/slice-types/CaptionedImage/fixture.json
  packages/prismic/src/slice-types/CaptionedImage/schema.json
  packages/prismic/src/slice-types/CaptionedImage/type.ts
  yarn.lock
Due: sort-package-json, eslint, prettier --write, stylelint

chore(yarn): updating dependencies
  packages/application/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(prismic): fixed featured homepage links
  packages/application/src/libraries/prismic/LinkResolver.ts
  packages/application/src/libraries/prismic/queries/HomePageQuery.ts
  packages/application/src/pages/index.tsx
Due: eslint, prettier --write

chore(prismic): using prismic typescript declarations
  packages/application/package.json
  packages/application/src/components/PortfolioFeaturedCaseStudies/index.tsx
  packages/application/src/libraries/prismic/helpers/Link/index.spec.ts
  packages/application/src/libraries/prismic/helpers/Link/index.ts
  packages/application/src/libraries/prismic/helpers/RichText/index.tsx
  packages/application/src/pages/index.tsx
  packages/application/src/slices/Accolade/index.tsx
  packages/application/src/slices/CaptionedImage/index.tsx
  packages/application/src/slices/CaptionedMagazine/index.tsx
  packages/application/src/slices/CaptionedScreenshots/index.tsx
  packages/application/src/slices/CaptionedVideo/index.tsx
  packages/application/src/slices/CarouselImages/index.tsx
  packages/application/src/slices/CarouselPhones/index.tsx
  packages/application/src/slices/Collaborator/index.tsx
  packages/application/src/slices/Exhibition/index.tsx
  packages/application/src/slices/FullText/index.tsx
  packages/application/src/slices/GridVideo/index.tsx
  packages/application/src/slices/Newspaper/index.tsx
  packages/application/src/slices/Subtitle/index.tsx
  packages/application/src/type.prismic.d.ts
  packages/application/tsconfig.json
  packages/application/types/svg.d.ts
  packages/prismic/package.json
  packages/prismic/src/content-types/portfolio_page/tabs/page/type.ts
  packages/prismic/src/index.ts
  packages/prismic/src/slice-types/Accolade/type.ts
  packages/prismic/src/slice-types/CaptionedImage/type.ts
  packages/prismic/src/slice-types/CaptionedMagazine/type.ts
  packages/prismic/src/slice-types/CaptionedScreenshots/type.ts
  packages/prismic/src/slice-types/CaptionedVideo/type.ts
  packages/prismic/src/slice-types/CarouselImages/type.ts
  packages/prismic/src/slice-types/CarouselPhones/type.ts
  packages/prismic/src/slice-types/Exhibition/type.ts
  packages/prismic/src/slice-types/FullText/type.ts
  packages/prismic/src/slice-types/GridVideo/type.ts
  packages/prismic/src/slice-types/Newspaper/type.ts
  packages/prismic/src/slice-types/Subtitle/type.ts
  packages/prismic/src/types/RichText.ts
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(dayjs): removed in application
  packages/application/package.json
  packages/application/src/components/CaseStudyLifespan/index.tsx
  packages/application/src/components/FormattedDate/index.tsx
  packages/application/src/libraries/prismic/helpers/Date/index.ts
  packages/application/src/slices/Accolade/index.tsx
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(footer): fixed expand/collapse
  packages/application/src/components/FooterColumn/styles.module.scss
Due: prettier --write, stylelint

chore(lambda): removed unused files/dependencies
  packages/application/lambda.js
  packages/application/package.json
  packages/config/src/defaults/server.ts
  packages/config/src/types/server.ts
  packages/sitemap/package.json
  packages/webhooks/package.json
  serverless.yml
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(typescript): upgrade to 4.2.4
  package.json
  packages/application/package.json
  packages/config/package.json
  packages/prismic/package.json
  packages/sitemap/package.json
  packages/webhooks/package.json
  yarn.lock
Due: sort-package-json, prettier --write

feature(rollup): compiling libraries with rollup
  .eslintrc.json
  packages/application/next.config.js
  packages/application/tsconfig.json
  packages/config/package.json
  packages/config/rollup.config.js
  packages/config/src/defaults/googleAnalytics.ts
  packages/config/src/defaults/next.ts
  packages/config/src/defaults/prismic.ts
  packages/config/src/defaults/sentry.ts
  packages/config/src/defaults/server.ts
  packages/config/src/defaults/sitemap.ts
  packages/config/src/environment/local/googleAnalytics.ts
  packages/config/src/environment/local/next.ts
  packages/config/src/environment/local/sentry.ts
  packages/config/src/environment/local/sitemap.ts
  packages/config/src/index.ts
  packages/config/tsconfig.json
  packages/prismic/src/client/index.ts
  packages/prismic/tsconfig.json
  packages/sitemap/src/sitemapindexes/index.ts
  packages/sitemap/src/sitemaps/case-studies.ts
  packages/sitemap/src/sitemaps/pages.ts
  packages/sitemap/tsconfig.json
  tsconfig.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(config): replacing lodash.defaultsdeep with defaults-deep-ts
  packages/application/tsconfig.json
  packages/config/package.json
  packages/config/src/index.ts
  packages/config/src/init.ts
  packages/config/tsconfig.json
  packages/prismic/tsconfig.json
  packages/sitemap/tsconfig.json
  tsconfig.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(prismic): named export for client
  packages/application/src/pages/index.tsx
  packages/application/src/pages/portfolio/[caseStudySlug]/index.tsx
  packages/application/src/pages/portfolio/index.tsx
  packages/prismic/src/client/index.ts
  packages/prismic/src/index.ts
  packages/sitemap/src/sitemaps/case-studies.ts
Due: eslint, prettier --write

chore(tsconfig): normalise
  packages/prismic/tsconfig.json
  packages/sitemap/tsconfig.json
  packages/webhooks/src/routes/prismic.ts
Due: eslint, prettier --write

chore(prismic): correcting type names
  packages/prismic/src/slice-types/Accolade/type.ts
  packages/prismic/src/slice-types/Exhibition/type.ts
  packages/prismic/src/traits/content-type.ts
  packages/prismic/src/types/Date.ts
  packages/prismic/src/types/DateTime.ts
  packages/prismic/src/types/RelatedDocument.ts
Due: eslint, prettier --write

chore(typescript): removed unused directives
  packages/config/package.json
  packages/prismic/tsconfig.json
  packages/sitemap/tsconfig.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(prismic): added missing directives
  packages/prismic/src/index.ts
Due: eslint, prettier --write

chore(storybook): updated placeholder URLs
  packages/application/src/components/Brick/stories.tsx
  packages/application/src/components/DeviceFeaturePhone/stories.tsx
  packages/application/src/components/DeviceSmartphone/stories.tsx
  packages/application/src/components/Magazine/stories.tsx
  packages/application/src/components/Tile/stories.tsx
  packages/application/src/components/Turn/stories.tsx
  packages/application/src/partials/Captioned/stories.tsx
  packages/application/src/partials/FullBanner/stories.tsx
  packages/application/src/partials/FullImage/stories.tsx
  packages/application/src/partials/HeaderImage/stories.tsx
  packages/application/src/partials/Title/stories.tsx
  packages/prismic/src/slice-types/CaptionedImage/fixture.json
  packages/prismic/src/slice-types/CaptionedMagazine/fixture.json
  packages/prismic/src/slice-types/CaptionedScreenshots/fixture.json
  packages/prismic/src/slice-types/CarouselImages/fixture.json
  packages/prismic/src/slice-types/CarouselPhones/fixture.json
  packages/prismic/src/slice-types/GridVideo/fixture.json
Due: eslint, prettier --write

chore(storybook): upgrade
  packages/application/package.json
  yarn.lock
Due: sort-package-json, prettier --write
