Repository bashaus/bashkim-com: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, stylelint, eslint, prettier --write, yamllint

.lintstagedrc.json:

{
  "package.json": ["sort-package-json"],
  "*.{css,scss}": ["stylelint"],
  "*.{js,ts,tsx}": ["eslint"],
  "*.html": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.{yml,yaml}": ["yamllint"]
}

chore(deps): upgrade storybook to 6.3.10
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps): migrating from node-sass to dart-sass
  packages/application/package.json
  packages/design-system/package.json
  packages/design-system/src/styleguide/libraries/grid/cell/padding.scss
  yarn.lock
Due: sort-package-json, stylelint, prettier --write

chore(ci): ignore static analysis for dependabot
  .github/workflows/static-analysis.yml
Due: yamllint

chore(lint): adding yamllint
  .circleci/config.yml
  .github/dependabot.yml
  .github/workflows/static-analysis.yml
  .yamllintrc.yml
  package.json
  packages/application/.sentryclirc
  packages/application/.svgo.yml
Due: sort-package-json, prettier --write, yamllint

chore(lint): adding yamllint
  .circleci/config.yml
  .github/dependabot.yml
  .github/workflows/static-analysis.yml
  .yamllintrc.yml
  package.json
  packages/application/.svgo.yml
Due: sort-package-json, prettier --write, yamllint

chore(deps): added eslint-module-utils
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps-dev): fixing @types/react version issue
  packages/application/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps): bulk update some dependencies
  packages/application/package.json
  packages/prismic/package.json
  packages/sitemap/package.json
  packages/webhooks/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps): remove excess sentry
  package.json
  packages/application/package.json
  serverless.yml
  yarn.lock
Due: sort-package-json, prettier --write, yamllint

feat(deps): upgrade storybook to webpack5
  package.json
  packages/design-system/.storybook/main.js
  packages/design-system/.storybook/webpack.config.js
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(deps): sass-loader upgrade
  packages/application/package.json
  packages/design-system/.storybook/webpack.config.js
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(webpack): merge
  packages/application/next.config.js
  packages/application/package.json
  packages/design-system/.storybook/webpack.config.js
  yarn.lock
Due: sort-package-json, eslint, prettier --write

feat(prismic): link resolver context
  packages/application/next.config.js
  packages/application/src/components/CaseStudyLifespan/index.tsx
  packages/application/src/components/HomeFeatured/index.tsx
  packages/application/src/components/PortfolioCategory/index.tsx
  packages/application/src/components/PortfolioFeaturedCaseStudies/index.tsx
  packages/application/src/libraries/prismic/link-resolver/index.spec.ts
  packages/application/src/libraries/prismic/link-resolver/index.ts
  packages/application/src/pages/_app.tsx
  packages/application/src/slices/Accolade/index.tsx
  packages/application/src/slices/CaptionedImage/index.tsx
  packages/application/src/slices/CaptionedMagazine/index.tsx
  packages/application/src/slices/CaptionedScreenshots/index.tsx
  packages/application/src/slices/CaptionedVideo/index.tsx
  packages/application/src/slices/CarouselImages/index.tsx
  packages/application/src/slices/CarouselPhones/index.tsx
  packages/application/src/slices/Collaborator/index.tsx
  packages/application/src/slices/Exhibition/index.tsx
  packages/application/src/slices/FullText/index.tsx
  packages/application/src/slices/GridVideo/index.tsx
  packages/application/src/slices/Newspaper/index.tsx
  packages/application/src/slices/Subtitle/index.tsx
  packages/prismic/rollup.config.js
  packages/prismic/src/contexts/LinkResolver/context.ts
  packages/prismic/src/contexts/LinkResolver/errors.ts
  packages/prismic/src/helpers/Date/index.ts
  packages/prismic/src/helpers/RichText/index.tsx
  packages/prismic/src/index.ts
  packages/prismic/tsconfig.json
Due: eslint, prettier --write

chore(components): moved lifespan to design system formatters
  packages/application/src/components/CaseStudyDetails/index.tsx
  packages/application/src/components/CaseStudyLifespan/index.tsx
  packages/application/src/slices/Exhibition/index.tsx
  packages/design-system/src/formatters/FormattedLifespan/index.tsx
  packages/design-system/src/formatters/FormattedLifespan/stories.tsx
  packages/design-system/src/index.ts
Due: eslint

chore(storybook): added default matchers for date and color
  packages/design-system/.storybook/preview.js
Due: eslint

chore(deps): upgrading storybook
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps): fixing reference to @bashkim-com/prismic
  package.json
  packages/application/src/components/PortfolioCategory/index.tsx
  packages/prismic/src/content-types/case_study/tabs/accolades/type.ts
  packages/prismic/src/content-types/case_study/tabs/collaborators/type.ts
  packages/prismic/src/content-types/case_study/tabs/exhibitions/type.ts
  packages/prismic/src/content-types/case_study/tabs/images/type.ts
  packages/prismic/src/content-types/case_study/tabs/info/type.ts
  packages/prismic/src/content-types/case_study/tabs/page/type.ts
  packages/prismic/src/content-types/case_study/tabs/seo/type.ts
  packages/prismic/src/content-types/case_study/type.ts
  packages/prismic/src/content-types/home_page/tabs/page/type.ts
  packages/prismic/src/content-types/home_page/tabs/seo/type.ts
  packages/prismic/src/content-types/home_page/type.ts
  packages/prismic/src/content-types/peer/tabs/main/type.ts
  packages/prismic/src/content-types/peer/type.ts
  packages/prismic/src/content-types/portfolio_page/tabs/page/type.ts
  packages/prismic/src/content-types/portfolio_page/tabs/seo/type.ts
  packages/prismic/src/content-types/portfolio_page/type.ts
  packages/prismic/src/content-types/technology/tabs/technology/type.ts
  packages/prismic/src/content-types/technology/type.ts
  packages/prismic/src/slice-types/Accolade/type.ts
  packages/prismic/src/slice-types/CaptionedImage/type.ts
  packages/prismic/src/slice-types/CaptionedMagazine/type.ts
  packages/prismic/src/slice-types/CaptionedScreenshots/type.ts
  packages/prismic/src/slice-types/CaptionedVideo/type.ts
  packages/prismic/src/slice-types/CarouselImages/type.ts
  packages/prismic/src/slice-types/CarouselPhones/type.ts
  packages/prismic/src/slice-types/Collaborator/type.ts
  packages/prismic/src/slice-types/Exhibition/type.ts
  packages/prismic/src/slice-types/FullText/type.ts
  packages/prismic/src/slice-types/GridEmbed/type.ts
  packages/prismic/src/slice-types/GridVideo/type.ts
  packages/prismic/src/slice-types/Newspaper/type.ts
  packages/prismic/src/slice-types/PortfolioCategory/type.ts
  packages/prismic/src/slice-types/Subtitle/type.ts
  packages/prismic/tsconfig.json
  packages/sitemap/tsconfig.json
Due: sort-package-json, eslint, prettier --write

chore(prismic): move client out of prismic library
  package.json
  packages/application/package.json
  packages/application/src/libraries/prismic/client/index.ts
  packages/application/src/pages/index.tsx
  packages/application/src/pages/portfolio/[caseStudySlug]/index.tsx
  packages/application/src/pages/portfolio/index.tsx
  packages/application/types/apollo-link-prismic.d.ts
  packages/prismic/package.json
  packages/prismic/src/index.ts
  packages/sitemap/package.json
  packages/sitemap/src/libraries/prismic/client/index.ts
  packages/sitemap/src/libraries/prismic/queries/caseStudies.ts
  packages/sitemap/src/sitemaps/case-studies.ts
  packages/sitemap/types/apollo-link-prismic.d.ts
  tsconfig.json
Due: sort-package-json, eslint, prettier --write

chore(security): removing noopener as it's not required
  packages/application/src/components/AboutCertifications/index.tsx
  packages/application/src/components/Footer/index.tsx
  packages/application/src/components/HomeHello/index.tsx
  packages/application/src/components/NavigationSocial/index.tsx
  packages/application/src/pages/about/index.tsx
  packages/application/src/pages/cookies/index.tsx
  packages/application/src/slices/Accolade/index.tsx
  packages/application/src/slices/Collaborator/index.tsx
Due: eslint

chore(git): added and configured commitlint
  .husky/commit-msg
  commitlint.config.js
  package.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(dependabot): added self as assignee to receive updates
  .github/dependabot.yml
Due: yamllint
