Repository bashaus/bashkim-com: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, stylelint, eslint, prettier --write, yamllint

chore: remove vercel functions
  package-lock.json
  packages/website/package.json
  packages/website/src/app/geo/route.ts
Due: sort-package-json, eslint, prettier --write

chore: bump deps
  eslint.config.mjs
  package-lock.json
  package.json
  packages/design-system/package.json
  packages/eslint/package.json
  packages/eslint/src/configs/base.mjs
  packages/eslint/src/configs/node.mjs
  packages/eslint/src/configs/react.mjs
  packages/prismic-factories/package.json
  packages/prismic-schema/package.json
  packages/socials/package.json
  packages/website/package.json
Due: sort-package-json, prettier --write

chore: node 24.8.0
  .github/workflows/lint.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/vercel-e2e.yml
  .github/workflows/vercel-lighthouse.yml
  .nvmrc
  package-lock.json
  package.json
  packages/website/package.json
Due: sort-package-json, prettier --write, yamllint

fix: container version
  .github/workflows/vercel-e2e.yml
Due: yamllint

chore: bump storybook from 9.1.5 to 9.1.8
  package-lock.json
  packages/design-system/package.json
Due: sort-package-json, prettier --write

chore: bump turbo from 2.5.6 to 2.5.8
  package-lock.json
  package.json
Due: sort-package-json, prettier --write

chore: bump next from 15.4.7 to 15.5.4
  package-lock.json
  packages/design-system/package.json
  packages/website/eslint.config.mjs
  packages/website/next-env.d.ts
  packages/website/package.json
Due: sort-package-json, eslint, prettier --write

test(website): navigation
  packages/design-system/tsconfig.json
  packages/tsconfig/tsconfig.base.json
  packages/website/src/domains/navigation/components/Navigation/actions.spec.ts
  packages/website/src/domains/navigation/components/Navigation/provider.spec.tsx
  packages/website/src/domains/navigation/components/Navigation/reducer.spec.ts
Due: eslint, prettier --write

refactor: import statements
  packages/design-system/.storybook/main.ts
  packages/prismic-schema/src/index.ts
Due: eslint

chore: updating dependencies
  package-lock.json
  package.json
  packages/design-system/package.json
  packages/eslint/package.json
  packages/website-e2e/package.json
  packages/website/package.json
Due: sort-package-json, prettier --write

fix(sonarqube): new array
  packages/design-system/src/carousel/CarouselViewport/stories.tsx
  packages/design-system/src/partials/FullTextPartial/stories.tsx
  packages/design-system/src/partials/NewspaperPartial/stories.tsx
  packages/website/src/components/GridLines/index.tsx
Due: eslint

fix(sonarqube): imports
  packages/design-system/src/carousel/Carousel/stories.tsx
  packages/prismic-schema/src/index.ts
Due: eslint

fix(sonarqube): prefer export from
  packages/design-system/src/components/Group/index.tsx
Due: eslint

fix(sonarqube): remove zero fraction
  packages/website/src/app/sitemaps/pages/sitemap.ts
Due: eslint

fix(sonarqube): mutliple array push
  packages/website/src/app/sitemaps/pages/sitemap.ts
Due: eslint

chore: npm updates
  package-lock.json
  package.json
Due: sort-package-json, prettier --write

chore: next 16
  package-lock.json
  packages/design-system/package.json
  packages/design-system/src/brand/InlineLogo/inline-logo.svg
  packages/design-system/src/brand/SquareLogo/square-logo.svg
  packages/design-system/src/devices/DeviceFeaturePhone/device.svg
  packages/design-system/src/devices/DeviceSmartphone/device.svg
  packages/design-system/src/slices/AccoladeSlice/trophy.svg
  packages/design-system/src/socials/assets/github-repo.svg
  packages/design-system/src/socials/assets/prismic.svg
  packages/design-system/src/socials/assets/stack-overflow-filled.svg
  packages/design-system/src/socials/assets/stack-overflow.svg
  packages/design-system/src/socials/assets/storybook.svg
  packages/website/next-env.d.ts
  packages/website/next.config.mjs
  packages/website/package.json
  packages/website/src/app/api/prismic/preview/enable/route.ts
  packages/website/src/app/api/prismic/revalidate/route.ts
  packages/website/src/domains/about-page/assets/principles/ethically.svg
  packages/website/src/domains/about-page/assets/principles/maintainable.svg
  packages/website/src/domains/about-page/assets/principles/on-time.svg
  packages/website/src/domains/about-page/assets/principles/robust.svg
  packages/website/src/domains/about-page/assets/principles/securely.svg
  packages/website/src/domains/about-page/assets/principles/to-satisfaction.svg
  packages/website/src/domains/about-page/assets/principles/to-specification.svg
  packages/website/src/domains/about-page/assets/principles/within-budget.svg
  packages/website/src/domains/cookies-page/assets/cookies.svg
Due: sort-package-json, eslint, prettier --write

chore: bump nextjs dependencies
  package-lock.json
  packages/design-system/package.json
  packages/website/package.json
Due: sort-package-json, prettier --write

chore(deps): upgrade turbo
  package-lock.json
  package.json
  packages/website/package.json
Due: sort-package-json, prettier --write

chore(deps): next
  package-lock.json
  packages/design-system/package.json
  packages/website/package.json
Due: sort-package-json, prettier --write

chore(deps): update
  package-lock.json
  package.json
Due: sort-package-json, prettier --write

chore: use route redirect for socials
  packages/website/src/app/socials/github/page.tsx
  packages/website/src/app/socials/github/route.ts
  packages/website/src/app/socials/linked-in/page.tsx
  packages/website/src/app/socials/linked-in/route.ts
  packages/website/src/app/socials/medium/page.tsx
  packages/website/src/app/socials/medium/route.ts
  packages/website/src/app/socials/stack-overflow/page.tsx
  packages/website/src/app/socials/stack-overflow/route.ts
Due: eslint

chore(deps): bump turbo from 2.7.2 to 2.7.5
  package-lock.json
  package.json
Due: sort-package-json, prettier --write

chore: canonical urls
  packages/website/next-env.d.ts
  packages/website/src/app/about/page.tsx
  packages/website/src/app/cookies/page.tsx
  packages/website/src/app/page.tsx
  packages/website/src/app/portfolio/[caseStudySlug]/page.tsx
  packages/website/src/app/portfolio/page.tsx
  packages/website/src/app/source/page.tsx
Due: eslint

chore(deps): bump next from 16.1.1 to 16.1.6
  package-lock.json
  packages/design-system/package.json
  packages/website/next-env.d.ts
  packages/website/package.json
Due: sort-package-json, eslint, prettier --write

chore(deps): bump fast-xml-parser from 5.2.5 to 5.3.4
  package-lock.json
  packages/socials/package.json
Due: sort-package-json, prettier --write

chore(deps): bump turbo from 2.7.5 to 2.8.1
  package-lock.json
  package.json
Due: sort-package-json, prettier --write

docs: update logo to URL
  README.md
  packages/design-system/src/brand/InlineLogo/inline-logo.svg
  packages/website/next-env.d.ts
Due: eslint, prettier --write

chore: bump cypress from 14.5.4 to 15.9.0
  package-lock.json
  packages/website-e2e/package.json
  packages/website/next-env.d.ts
Due: sort-package-json, eslint, prettier --write

chore: npm audit fix
  package-lock.json
Due: prettier --write

chore: npm audit fix
  package-lock.json
  packages/website-e2e/package.json
Due: sort-package-json, prettier --write

chore: test with turbo
  .github/workflows/sonarcloud.yml
  jest.config.ts
  package.json
  packages/design-system/eslint.config.mjs
  packages/design-system/jest.config.ts
  packages/design-system/package.json
  packages/design-system/src/prismic/RichTextFormatter/index.tsx
  packages/eslint/src/configs/base.mjs
  packages/prismic-factories/jest.config.ts
  packages/prismic-factories/package.json
  packages/prismic-schema/jest.config.ts
  packages/prismic-schema/package.json
  packages/socials/eslint.config.mjs
  packages/socials/jest.config.ts
  packages/socials/package.json
  packages/website-e2e/eslint.config.mjs
  packages/website/eslint.config.mjs
  packages/website/jest.config.ts
  packages/website/package.json
  sonar-project.properties
  turbo.json
Due: sort-package-json, eslint, prettier --write, yamllint

chore: bump next from 16.1.6 to 16.2.1
  package-lock.json
  packages/design-system/package.json
  packages/website/package.json
Due: sort-package-json, prettier --write

refactor: coverage
  .github/workflows/sonarcloud.yml
  package-lock.json
  packages/design-system/package.json
  packages/prismic-factories/jest.config.ts
  packages/prismic-factories/package.json
  packages/prismic-schema/jest.config.ts
  packages/prismic-schema/package.json
  packages/socials/package.json
  packages/website/package.json
Due: sort-package-json, eslint, prettier --write, yamllint

fix: coverage
  .github/workflows/sonarcloud.yml
  packages/design-system/jest.config.ts
  packages/socials/jest.config.ts
  packages/website/jest.config.ts
Due: eslint, yamllint

refactor: yml to yaml
  .github/dependabot.yaml
  .github/workflows/codeql.yaml
  .github/workflows/lint.yaml
  .github/workflows/sonarcloud.yaml
  .github/workflows/vercel-e2e.yaml
  .github/workflows/vercel-lighthouse.yaml
  graphql.config.yaml
Due: yamllint

fix: use nvmrc
  .github/workflows/lint.yaml
  .github/workflows/sonarcloud.yaml
  .github/workflows/vercel-lighthouse.yaml
Due: yamllint

ci: dependabot
  .github/dependabot.yaml
Due: yamllint

ci: pre-commit
  .github/workflows/lint.yaml
  .gitlint
  .husky/commit-msg
  .husky/pre-commit
  .pre-commit-config.yaml
  commitlint.config.mjs
  package-lock.json
  package.json
Due: sort-package-json, prettier --write, yamllint

chore: prettier plugin package json sort
  .prettierrc.json
  packages/prismic-factories/package.json
  packages/prismic-msw/package.json
  packages/website/package.json
Due: sort-package-json, prettier --write

Path conditions:
  sort-package-json: any of: package.json
  stylelint: any of: *.{css,scss}
  eslint: any of: *.{js,ts,tsx}
  prettier --write: ((any of: *.html) or (any of: *.json)) or (any of: *.md)
  yamllint: any of: *.{yml,yaml}
