Repository bashaus/bashkim-com: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, stylelint, eslint, prettier --write, yamllint

fix(website): path generation does not use params
  packages/website/src/app/portfolio/[caseStudySlug]/page.tsx
Due: eslint

chore(website): normalising function
  packages/prismic-webhooks/src/app/libraries/prismic/index.ts
  packages/website/src/app/about/page.tsx
  packages/website/src/app/cookies/page.tsx
  packages/website/src/app/layout.tsx
  packages/website/src/app/page.tsx
  packages/website/src/app/portfolio/[caseStudySlug]/page.tsx
  packages/website/src/app/portfolio/page.tsx
  packages/website/src/libraries/next/errors/NotFoundError.ts
Due: eslint

ci(infrastructure): updating filenames
  infrastructure/modules/packages/design-system/bucket_policy.tf
  infrastructure/modules/packages/design-system/distribution_oai.tf
  infrastructure/modules/packages/design-system/resource.bucket.tf
  infrastructure/modules/packages/design-system/resource.bucket_acl.tf
  infrastructure/modules/packages/design-system/resource.bucket_policy.tf
  infrastructure/modules/packages/design-system/resource.bucket_website_configuration.tf
  infrastructure/modules/packages/design-system/resource.distribution.tf
  infrastructure/modules/packages/design-system/resource.distribution_oai.tf
  infrastructure/modules/packages/website/distribution_oai.tf
  infrastructure/modules/packages/website/resource.bucket.tf
  infrastructure/modules/packages/website/resource.bucket_acl.tf
  infrastructure/modules/packages/website/resource.bucket_policy.tf
  infrastructure/modules/packages/website/resource.bucket_website_configuration.routing_rules.yml
  infrastructure/modules/packages/website/resource.bucket_website_configuration.tf
  infrastructure/modules/packages/website/resource.distribution.tf
  infrastructure/modules/packages/website/resource.distribution_oai.tf
  infrastructure/modules/structure/domain/resource.bucket_domain.tf
  infrastructure/modules/structure/domain/resource.record_app_design_system.tf
  infrastructure/modules/structure/domain/resource.record_app_website.tf
  infrastructure/modules/structure/domain/resource.record_certificate.tf
  infrastructure/modules/structure/domain/resource.record_domain.tf
  infrastructure/modules/structure/domain/resource.record_google_domainkey.tf
  infrastructure/modules/structure/domain/resource.record_mail.tf
  infrastructure/modules/structure/domain/resource.record_txt.tf
  infrastructure/modules/structure/domain/resource.zone.tf
  infrastructure/modules/structure/security/provider.aws.tf
  infrastructure/modules/structure/security/resource.certificate.tf
Due: yamllint

chore(deps-dev): bump nx from 16.2.1 to 16.2.2
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps-dev): bump storybook from 7.0.12 to 7.0.15
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps-dev): bump storybook from 7.0.15 to 7.0.17
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(website): fixing optional chaining
  packages/design-system/src/components/Magazine/Magazine.tsx
  packages/design-system/src/components/ModalContent/ModalContent.tsx
  packages/design-system/src/components/ModalOverlay/ModalOverlay.tsx
  packages/design-system/src/slices/CaptionedImageSlice/CaptionedImageSlice.tsx
  packages/website/src/lockups/HomePage/components/HomeFeatured/HomeFeatured.tsx
Due: eslint

chore(deps): yarn deps for graphql-codegen
  yarn.lock
Due: none

chore(website): fixing promise async/await express error
  packages/prismic-webhooks/src/app/routes/rootRouter.ts
  packages/prismic-webhooks/src/app/routes/wellKnownRouter.ts
  packages/sitemap/src/app/routes/health.ts
Due: eslint

chore(eslint-config): do not allow react default import
  .eslintignore
  packages/design-system/.storybook/decorators/NormalizeDecorator/index.js
  packages/design-system/.storybook/decorators/NormalizeDecorator/index.tsx
  packages/eslint-config/src/index.js
  packages/tsconfig/tsconfig.storybook.json
Due: eslint, prettier --write

ci(test): run unit tests on dependabot
  .github/workflows/test.yml
Due: yamllint

chore(deps-dev): bump storybook from 7.0.17 to 7.0.18
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

ci(test): test script
  .github/workflows/test.yml
  package.json
  packages/prismic-fixtures/jest.config.ts
  packages/prismic-schema/jest.config.ts
  packages/prismic-webhooks/jest.config.ts
  packages/sitemap/jest.config.ts
  packages/xray-lambda/jest.config.ts
  test-results/jest/junit.xml
Due: sort-package-json, eslint, prettier --write, yamllint

chore(vscode): configuring prettier and eslint
  .vscode/settings.json
Due: prettier --write

chore(serverless): package build artifacts
  packages/prismic-webhooks/tsconfig.app.json
  packages/prismic-webhooks/tsconfig.json
  packages/sitemap/tsconfig.app.json
  packages/sitemap/tsconfig.json
  packages/tsconfig/tsconfig.app.json
  packages/tsconfig/tsconfig.base.json
  packages/tsconfig/tsconfig.nextjs.json
  packages/tsconfig/tsconfig.storybook.json
  tsconfig.base.json
Due: prettier --write

chore(vscode): format on save
  .vscode/settings.json
Due: prettier --write

chore(test): removing junit file
  .gitignore
  test-results/jest/junit.xml
Due: none

test(design-system): testing components
  jest.setup.ts
  package.json
  packages/design-system/jest.config.ts
  packages/design-system/package.json
  packages/design-system/src/components/Brick/Brick.spec.tsx
  packages/design-system/src/components/Brick/Brick.tsx
  packages/design-system/src/components/CallToAction/CallToAction.spec.tsx
  packages/design-system/src/components/Logo/Logo.spec.tsx
  packages/design-system/src/components/Switch/Switch.spec.tsx
  packages/design-system/src/components/Switch/Switch.tsx
  packages/prismic-fixtures/jest.config.ts
  packages/prismic-helpers/jest.config.ts
  packages/prismic-schema/jest.config.ts
  packages/prismic-webhooks/jest.config.ts
  packages/sitemap/jest.config.ts
  packages/style-guide/jest.config.ts
  packages/website/index.d.ts
  packages/website/src/lockups/PortfolioPage/components/PortfolioCaseStudyBrick/PortfolioCaseStudyBrick.tsx
  packages/xray-lambda/jest.config.ts
  yarn.lock
Due: sort-package-json, eslint, prettier --write

ci(sonarqube): remove reference to tools directory
  sonar-project.properties
Due: none

test(website): implement PrismicLinkResolver
  packages/website/src/libraries/prismic/PrismicLinkResolver.spec.ts
Due: eslint

test(website): component
  .jest/setup/testing-library.jsdom.ts
  .jest/setup/window.matchMedia.ts
  .jest/transform/svg.ts
  packages/design-system/jest.config.ts
  packages/website/jest.config.ts
  packages/website/src/lockups/AboutPage/components/AboutEducation/AboutEducation.spec.tsx
  packages/website/src/lockups/AboutPage/components/AboutEducation/AboutEducation.tsx
Due: eslint

chore(website): using next image
  packages/design-system/src/components/MenuButton/MenuButton.spec.tsx
  packages/design-system/src/components/MenuButton/MenuButton.tsx
  packages/design-system/src/components/Tile/Tile.spec.tsx
  packages/design-system/src/components/Tile/Tile.tsx
  packages/design-system/src/slices/CarouselImagesSlice/CarouselImagesSlice.tsx
  packages/design-system/src/slices/CarouselPhonesSlice/CarouselPhonesSlice.tsx
  packages/website/src/lockups/AboutPage/components/AboutCertifications/AboutCertifications.tsx
  packages/website/src/lockups/AboutPage/components/AboutEducation/AboutEducation.tsx
  packages/website/src/lockups/AboutPage/components/AboutPageHeader/AboutPageHeader.tsx
  packages/website/src/lockups/PortfolioPage/components/PortfolioFeaturedCaseStudies/PortfolioFeaturedCaseStudies.tsx
Due: eslint

test(website): using next
  packages/website/jest.config.ts
Due: eslint

fix(sitemap): module type
  packages/sitemap/package.json
Due: sort-package-json, prettier --write

ci(github-actions): moving build and storybook from circleci
  .circleci/config.yml
  .github/workflows/build.yml
  .github/workflows/storybook.yml
  packages/sitemap/package.json
  turbo.json
Due: sort-package-json, prettier --write, yamllint

ci(dependabot): using target branch
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/storybook.yml
Due: yamllint

chore(deps-dev): bump storybook from 7.0.18 to 7.0.20
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps-dev): bump storybook from 7.0.20 to 7.0.21
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps-dev): bump storybook from 7.0.21 to 7.0.22
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(eslint): updating configuration
  .eslintrc.js
  commitlint.config.js
  packages/design-system/.eslintrc.js
  packages/design-system/src/components/MenuButton/MenuButton.spec.tsx
  packages/design-system/src/components/Modal/Modal.tsx
  packages/design-system/src/components/Switch/Switch.spec.tsx
  packages/eslint-config/src/index.js
  packages/prismic-dal/.eslintrc.js
  packages/prismic-fixtures/.eslintrc.js
  packages/prismic-helpers/.eslintrc.js
  packages/prismic-schema/.eslintrc.js
  packages/prismic-webhooks/.eslintrc.js
  packages/sitemap/.eslintrc.js
  packages/style-guide/.eslintrc.js
  packages/website-e2e/.eslintrc.js
  packages/website/.eslintrc.js
  packages/website/src/libraries/prismic/PrismicLinkResolver.spec.ts
  packages/xray-lambda/.eslintrc.js
  svgo.config.js
Due: eslint

chore(deps-dev): bump storybook from 7.0.22 to 7.0.23
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

ci(dependabot): github actions
  .github/dependabot.yml
Due: yamllint

chore(deps): bump storybook from 7.0.23 to 7.0.25
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(dev-deps): bump storybook from 7.0.25 to 7.0.26
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

refactor(web-app): using graphql model fragments to reduce typescript 'as' declarations
  packages/prismic-dal/src/models/FeaturedCaseStudiesModel.gql
  packages/prismic-dal/src/models/HomePageModel.gql
  packages/prismic-dal/src/models/SitemapCaseStudyModel.gql
  packages/prismic-dal/src/models/SitemapHomePageModel.gql
  packages/prismic-dal/src/models/SitemapPortfolioPageModel.gql
  packages/prismic-dal/src/queries/GetCaseStudyBody.gql
  packages/prismic-dal/src/queries/GetCaseStudyPage.gql
  packages/prismic-dal/src/queries/GetHomePage.gql
  packages/prismic-dal/src/queries/GetPortfolioPage.gql
  packages/prismic-dal/src/queries/GetSitemapCaseStudies.gql
  packages/prismic-dal/src/queries/GetSitemapPages.gql
  packages/prismic-dal/src/slice-types/ExhibitionSliceType.gql
  packages/website/src/app/page.tsx
  packages/website/src/app/portfolio/page.tsx
  packages/website/src/lockups/CaseStudyPage/index.tsx
  packages/website/src/lockups/CookiePolicyPage/index.tsx
  packages/website/src/lockups/HomePage/components/HomeFeatured/HomeFeatured.tsx
  packages/website/src/lockups/HomePage/index.tsx
  packages/website/src/lockups/PortfolioPage/index.tsx
Due: eslint

chore(repo): added stronger linting
  .eslintignore
  .prettierignore
  .stylelintignore
  .vscode/settings.json
Due: prettier --write

chore(design-system): renaming URL to ui.bashkim.com
  README.md
  infrastructure/module.app_design_system.tf
  infrastructure/modules/packages/design-system/module.variables.tf
  infrastructure/modules/structure/domain/resource.record_app_design_system.tf
Due: prettier --write

docs(repo): updated README
  README.md
Due: prettier --write

Path conditions:
  sort-package-json: any of: package.json
  stylelint: any of: *.{css,scss}
  eslint: any of: *.{js,ts,tsx}
  prettier --write: ((any of: *.html) or (any of: *.json)) or (any of: *.md)
  yamllint: any of: *.{yml,yaml}
