Repository bashaus/bashkim-com: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, stylelint, eslint, prettier --write, yamllint

chore: bump storybook from 10.3.6 to 10.4.0
  package-lock.json
  packages/design-system/.storybook/main.ts
  packages/design-system/package.json
  packages/eslint/package.json
Due: sort-package-json, eslint, prettier --write

chore(deps-dev): bump turbo from 2.9.6 to 2.9.14
  package-lock.json
  package.json
Due: sort-package-json, prettier --write

chore(dev-deps): bump @mui/material from 9.0.0 to 9.0.1
  package-lock.json
  packages/design-system/package.json
  packages/website/package.json
Due: sort-package-json, prettier --write

chore: remove unused apollo-link-prismic
  package-lock.json
  packages/website/package.json
Due: sort-package-json, prettier --write

Modify Dependabot config for npm packages
  .github/dependabot.yaml
Due: yamllint

fix: dependabot cooldown
  .github/dependabot.yaml
Due: yamllint

chore(deps): bump next from 16.2.6 to 16.3.0
  package-lock.json
  packages/design-system/package.json
  packages/website/package.json
Due: sort-package-json, prettier --write

chore(deps): bump storybook to 10.5.7
  package-lock.json
  packages/design-system/.storybook/main.ts
  packages/design-system/package.json
Due: sort-package-json, eslint, prettier --write

chore: remove migraiton message
  packages/design-system/.storybook/main.ts
Due: eslint

fix: eslint plugin
  packages/eslint/package.json
  packages/eslint/src/configs/react.mjs
Due: sort-package-json, prettier --write

chore(deps): bump storybook to 10.5.7 (#4381)
  package-lock.json
  packages/design-system/package.json
  packages/eslint/package.json
  packages/eslint/src/configs/react.mjs
Due: sort-package-json, prettier --write

chore: bump storybook
  package-lock.json
  package.json
  packages/design-system/package.json
Due: sort-package-json, prettier --write

fix: vitest
  package-lock.json
  packages/design-system/package.json
  packages/website/package.json
Due: sort-package-json, prettier --write

chore: bump package-lock.json
  package-lock.json
  packages/design-system/package.json
  packages/prismic-dal/package.json
  packages/socials/package.json
  packages/website-e2e/package.json
  packages/website/package.json
  turbo/generators/package.json
Due: sort-package-json, prettier --write

Path conditions:
  sort-package-json: any of: package.json
  stylelint: any of: *.{css,scss}
  eslint: any of: *.{js,ts,tsx}
  prettier --write: ((any of: *.html) or (any of: *.json)) or (any of: *.md)
  yamllint: any of: *.{yml,yaml}
