Repository bashaus/bashkim-com: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, stylelint, eslint, prettier --write, yamllint

.lintstagedrc.json:

{
  "package.json": ["sort-package-json"],
  "*.{css,scss}": ["stylelint"],
  "*.{js,ts,tsx}": ["eslint"],
  "*.html": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.{yml,yaml}": ["yamllint"]
}

style: footer design
  packages/design-system/src/assets/logo/site.svg
  packages/design-system/src/components/SiteLogo/index.tsx
  packages/design-system/src/index.ts
  packages/design-system/src/layout/Footer/stories.tsx
  packages/design-system/src/layout/FooterColumn/index.tsx
  packages/design-system/src/layout/FooterColumn/stories.tsx
  packages/design-system/src/layout/FooterColumn/styles.module.scss
  packages/design-system/src/layout/FooterGroup/index.tsx
  packages/design-system/src/layout/FooterGroup/styles.module.scss
  packages/design-system/src/layout/FooterLinks/index.tsx
  packages/design-system/src/layout/FooterLinks/styles.module.scss
  packages/design-system/src/material-ui/components/MuiLink/index.tsx
  packages/design-system/src/material-ui/components/MuiTypography/index.tsx
  packages/design-system/src/material-ui/index.tsx
  packages/website/src/components/Footer/index.tsx
  packages/website/src/components/Footer/styles.tsx
  packages/website/src/components/FooterCopyright/index.tsx
  packages/website/src/components/FooterNavigation/index.tsx
  packages/website/src/components/FooterNavigation/styles.tsx
Due: stylelint, eslint

refactor: remove unused footer component
  packages/design-system/src/index.ts
  packages/design-system/src/layout/Footer/index.tsx
  packages/design-system/src/layout/Footer/styles.module.scss
Due: stylelint, eslint

feat: vimeo video background on homepage
  packages/design-system/src/assets/logo/site.svg
  packages/design-system/src/components/VideoBackground/index.tsx
  packages/design-system/src/components/VideoBackground/stories.tsx
  packages/design-system/src/components/VideoBackground/styles.tsx
  packages/design-system/src/index.ts
  packages/design-system/src/partials/FullHeaderPartial/index.tsx
  packages/design-system/src/partials/FullHeaderPartial/styles.tsx
  packages/website/src/components/FooterNavigation/index.tsx
  packages/website/src/domains/home-page/components/HomeHello/index.tsx
  packages/website/src/domains/home-page/components/HomeHello/styles.tsx
Due: eslint

chore: no title for background videos
  packages/design-system/src/components/VideoBackground/index.tsx
Due: eslint

style: text amends
  packages/website/src/domains/home-page/components/HomeHello/index.tsx
Due: eslint

chore: do not select video background
  packages/design-system/src/components/VideoBackground/styles.tsx
Due: eslint

chore: remove background image
  packages/website/src/domains/home-page/assets/background-image.jpg
Due: none

style: case study header
  packages/website/src/domains/case-study-page/components/CaseStudyDetails/index.tsx
  packages/website/src/domains/case-study-page/components/CaseStudyDetails/styles.module.scss
  packages/website/src/domains/case-study-page/components/CaseStudyDetails/styles.tsx
  packages/website/src/domains/case-study-page/components/CaseStudyHeader/index.tsx
  packages/website/src/domains/case-study-page/components/CaseStudyHeader/styles.module.scss
  packages/website/src/domains/case-study-page/components/CaseStudyOutcomes/index.tsx
  packages/website/src/domains/case-study-page/components/CaseStudyOutcomes/styles.tsx
  packages/website/src/domains/case-study-page/components/CaseStudyTechnologies/index.tsx
  packages/website/src/domains/case-study-page/components/CaseStudyTechnologies/styles.module.scss
  packages/website/src/domains/case-study-page/components/CaseStudyTechnologies/styles.tsx
Due: stylelint, eslint

style: home content update
  packages/website/src/domains/home-page/components/HomeHello/index.tsx
  packages/website/src/domains/home-page/components/HomeHello/styles.tsx
Due: eslint

refactor: convert backdrop to mui
  packages/design-system/src/components/Backdrop/index.tsx
  packages/design-system/src/components/Backdrop/styles.module.scss
  packages/design-system/src/components/Backdrop/styles.tsx
Due: stylelint, eslint

refactor: convert carousel to mui
  packages/design-system/src/components/Carousel/index.tsx
  packages/design-system/src/components/Carousel/styles.module.scss
  packages/design-system/src/components/Carousel/styles.tsx
Due: stylelint, eslint

chore: homepage redesign
  packages/design-system/src/index.ts
  packages/design-system/src/partials/FullBannerPartial/index.tsx
  packages/design-system/src/partials/FullBannerPartial/stories.tsx
  packages/prismic-dal/src/models/FeaturedCaseStudiesModel.gql
  packages/prismic-dal/src/models/HomePageModel.gql
  packages/prismic-schema/src/content-types/home_page/tabs/page/schema.ts
  packages/website/src/app/page.tsx
  packages/website/src/domains/home-page/components/HomeFeatured/index.tsx
  packages/website/src/domains/home-page/components/HomeFeatured/styles.tsx
  packages/website/src/domains/home-page/components/HomeFooter/index.tsx
  packages/website/src/domains/home-page/components/HomeFooter/styles.module.scss
  packages/website/src/domains/home-page/components/HomePageLockup/index.tsx
Due: stylelint, eslint

refactor: remove reset-css in favour of css baseline
  packages/design-system/src/partials/SplitPartial/styles.module.scss
  packages/style-guide/package.json
  packages/style-guide/src/normalize/index.scss
  packages/website/src/domains/portfolio-page/components/PortfolioFeaturedCaseStudies/index.tsx
  packages/website/src/domains/portfolio-page/components/PortfolioPageLockup/index.tsx
Due: sort-package-json, stylelint, eslint, prettier --write

chore: remove line-staged
  .husky/pre-commit
  .prettierignore
  lint-staged.config.mjs
  package.json
  packages/website/src/domains/portfolio-page/components/PortfolioFeaturedCaseStudies/index.tsx
  yarn.lock
Due: sort-package-json, eslint, prettier --write

ci: lint vectors
  .husky/pre-commit
Due: none

ci: remove svgo
  .husky/pre-commit
  package.json
  svgo.config.mjs
  yarn.lock
Due: sort-package-json, prettier --write

chore: lint
  .husky/pre-commit
  package.json
  packages/design-system/package.json
  packages/eslint/package.json
  packages/prismic-dal/package.json
  packages/prismic-fixtures/package.json
  packages/prismic-helpers/package.json
  packages/prismic-schema/package.json
  packages/socials/package.json
  packages/website/package.json
  turbo.json
Due: sort-package-json, prettier --write

refactor: header intersection
  packages/website/src/components/Header/index.tsx
  packages/website/src/components/Page/index.tsx
  packages/website/src/layouts/SiteLayout/index.tsx
Due: eslint

feat: header desktop glass and base design
  packages/design-system/src/material-ui/components/MuiButton/index.tsx
  packages/website/src/app/not-found.tsx
  packages/website/src/components/Header/index.tsx
  packages/website/src/components/Header/styles.module.scss
  packages/website/src/components/HeaderDesktop/index.tsx
  packages/website/src/components/HeaderDesktop/interfaces.ts
  packages/website/src/components/HeaderDesktop/styles.tsx
  packages/website/src/components/HeaderMobile/index.tsx
  packages/website/src/components/HeaderMobile/styles.tsx
  packages/website/src/components/Page/index.tsx
  packages/website/src/domains/about-page/components/AboutPageLockup/index.tsx
  packages/website/src/domains/case-study-page/components/CaseStudyPageLockup/index.tsx
  packages/website/src/domains/cookies-page/components/CookiesPageLockup/index.tsx
  packages/website/src/domains/home-page/components/HomePageLockup/index.tsx
  packages/website/src/domains/portfolio-page/components/PortfolioPageLockup/index.tsx
Due: stylelint, eslint

fix: readonly props
  eslint.config.mjs
  packages/design-system/eslint.config.mjs
  packages/eslint/eslint.config.mjs
  packages/eslint/src/configs/base.mjs
  packages/eslint/src/configs/react.mjs
  packages/eslint/src/index.mjs
  packages/prismic-dal/eslint.config.mjs
  packages/prismic-fixtures/eslint.config.mjs
  packages/prismic-helpers/eslint.config.mjs
  packages/prismic-helpers/tsconfig.json
  packages/prismic-helpers/tsconfig.spec.json
  packages/prismic-schema/eslint.config.mjs
  packages/socials/eslint.config.mjs
  packages/website/eslint.config.mjs
  packages/website/src/components/HeaderDesktop/index.tsx
Due: eslint, prettier --write

fix: duplicate paths
  packages/eslint/src/configs/base.mjs
Due: none

chore: reduce app and spec json files
  packages/design-system/tsconfig.json
  packages/prismic-fixtures/tsconfig.json
  packages/prismic-schema/tsconfig.app.json
  packages/prismic-schema/tsconfig.json
  packages/tsconfig/tsconfig.app.json
Due: prettier --write

style: header shadow
  packages/website/src/components/Header/index.tsx
  packages/website/src/components/HeaderDesktop/styles.tsx
  packages/website/src/components/HeaderIntersection/index.tsx
  packages/website/src/components/HeaderIntersection/interfaces.ts
  packages/website/src/components/HeaderIntersection/styles.module.scss
  packages/website/src/components/HeaderIntersection/styles.tsx
  packages/website/src/domains/home-page/components/HomePageLockup/index.tsx
Due: stylelint, eslint

fix: typescript configuration
  packages/design-system/package.json
  packages/design-system/tsconfig.json
  packages/design-system/tsconfig.spec.json
  packages/eslint/package.json
  packages/prismic-dal/package.json
  packages/prismic-fixtures/tsconfig.json
  packages/prismic-fixtures/tsconfig.spec.json
  packages/prismic-helpers/tsconfig.json
  packages/prismic-schema/tsconfig.json
  packages/prismic-schema/tsconfig.spec.json
  packages/tsconfig/tsconfig.base.json
Due: sort-package-json, prettier --write

style: convert input range to mui slider
  packages/design-system/src/material-ui/components/MuiSlider/index.tsx
  packages/design-system/src/material-ui/index.tsx
  packages/design-system/src/slices/CaptionedScreenshotsSlice/index.tsx
  packages/design-system/src/slices/CaptionedScreenshotsSlice/styles.module.scss
  packages/design-system/src/slices/CaptionedScreenshotsSlice/styles.tsx
Due: stylelint, eslint

refactor: video player style
  packages/design-system/src/components/VideoPlayer/index.tsx
  packages/design-system/src/components/VideoPlayer/styles.module.scss
  packages/design-system/src/components/VideoPlayer/styles.tsx
Due: stylelint, eslint

chore: updated video background story
  packages/design-system/src/components/VideoBackground/stories.tsx
Due: eslint

chore: prismic-dal
  packages/prismic-dal/src/slice-types/AccoladeSliceType.gql
  packages/prismic-dal/src/slice-types/CaptionedImageSliceType.gql
  packages/prismic-dal/src/slice-types/CaptionedMagazineSliceType.gql
  packages/prismic-dal/src/slice-types/CaptionedScreenshotsSliceType.gql
  packages/prismic-dal/src/slice-types/CaptionedVideoSliceType.gql
  packages/prismic-dal/src/slice-types/CarouselImagesSliceType.gql
  packages/prismic-dal/src/slice-types/CarouselPhonesSliceType.gql
  packages/prismic-dal/src/slice-types/CollaboratorSliceType.gql
  packages/prismic-dal/src/slice-types/ExhibitionSliceType.gql
  packages/prismic-dal/src/slice-types/FullTextSliceType.gql
  packages/prismic-dal/src/slice-types/GridEmbedSliceType.gql
  packages/prismic-dal/src/slice-types/GridVideoSliceType.gql
  packages/prismic-dal/src/slice-types/NewspaperSliceType.gql
  packages/prismic-dal/src/slice-types/PeerSliceType.gql
  packages/prismic-dal/src/slice-types/PortfolioCategorySliceType.gql
  packages/prismic-dal/src/slice-types/SubtitleSliceType.gql
  packages/prismic-dal/turbo.json
Due: prettier --write

chore: remove looking for more
  packages/website/src/domains/about-page/components/AboutPageLockup/index.tsx
Due: eslint

chore: update max-width
  packages/design-system/src/partials/FullTextPartial/index.tsx
Due: eslint

chore: cookies toast
  packages/website/package.json
  packages/website/src/components/ToastController/index.tsx
  packages/website/src/domains/cookies-page/actions/get-cookies-accepted.ts
  packages/website/src/domains/cookies-page/actions/set-cookies-accepted.ts
  packages/website/src/domains/cookies-page/assets/cookies.svg
  packages/website/src/domains/cookies-page/components/CookiesToast/index.tsx
  packages/website/src/domains/cookies-page/hooks/use-cookies-toast/index.tsx
  packages/website/src/layouts/SiteLayout/index.tsx
  yarn.lock
Due: sort-package-json, eslint, prettier --write

fix: set cookies accepted returns no value
  packages/website/src/domains/cookies-page/actions/set-cookies-accepted.ts
Due: eslint

chore: dependabot on a monthly schedule
  .github/dependabot.yml
Due: yamllint

fix: next version
  packages/website/package.json
  yarn.lock
Due: sort-package-json, prettier --write

style: square logo
  packages/design-system/src/assets/logo/inline.svg
  packages/design-system/src/assets/logo/square.svg
  packages/design-system/src/components/SiteLogo/index.tsx
Due: eslint

feat(design-system): introduction
  .vscode/settings.json
  packages/design-system/.storybook/main.ts
  packages/design-system/.storybook/preview.ts
  packages/design-system/.storybook/tsconfig.json
  packages/design-system/src/content/Introduction/Welcome.mdx
  packages/design-system/tsconfig.json
Due: eslint, prettier --write

chore(deps): bump storybook and commitlint
  package.json
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write
