Repository bashaus/bashkim-com: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, stylelint, eslint, prettier --write, yamllint

.lintstagedrc.json:

{
  "package.json": ["sort-package-json"],
  "*.{css,scss}": ["stylelint"],
  "*.{js,ts,tsx}": ["eslint"],
  "*.html": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.{yml,yaml}": ["yamllint"]
}

fix: sonar code smell
  packages/website-e2e/src/step-definitions/social/drawer.ts
Due: eslint

chore: report prismic-dal to sonarqube
  sonar-project.properties
Due: none

chore: remove cy reference
  sonar-project.properties
Due: none

test(socials): medium rss
  packages/socials/src/index.ts
  packages/socials/src/medium/get-stories/fixture.xml
  packages/socials/src/medium/get-stories/index.ts
  packages/socials/src/medium/get-stories/schema.ts
  packages/socials/src/medium/index.ts
  packages/socials/src/medium/rss.ts
  packages/socials/src/medium/types.ts
  packages/socials/src/rss-feed-parser/index.spec.ts
  packages/socials/src/rss-feed-parser/index.ts
  packages/socials/src/rss-feed-parser/schema.ts
  packages/socials/src/rss-image-extractor/index.spec.ts
  packages/socials/src/rss-image-extractor/index.ts
  packages/socials/src/rss-title-parser/index.spec.ts
  packages/socials/src/rss-title-parser/index.ts
  packages/website/src/app/@socialModals/(.)socials/medium/action.tsx
  packages/website/src/domains/home-page/components/HomeFeatured/index.tsx
  packages/website/src/domains/socials-medium/components/SocialMediumContent/index.tsx
  packages/website/src/domains/socials-medium/components/SocialMediumItem/index.tsx
  packages/website/src/domains/socials-medium/components/SocialMediumLoading/index.tsx
Due: eslint

test(socials): medium rss (#4329)
  packages/socials/src/index.ts
  packages/socials/src/medium/get-stories/fixture.xml
  packages/socials/src/medium/get-stories/index.ts
  packages/socials/src/medium/get-stories/schema.ts
  packages/socials/src/medium/index.ts
  packages/socials/src/medium/rss.ts
  packages/socials/src/medium/types.ts
  packages/socials/src/rss-feed-parser/index.spec.ts
  packages/socials/src/rss-feed-parser/index.ts
  packages/socials/src/rss-feed-parser/schema.ts
  packages/socials/src/rss-image-extractor/index.spec.ts
  packages/socials/src/rss-image-extractor/index.ts
  packages/socials/src/rss-title-parser/index.spec.ts
  packages/socials/src/rss-title-parser/index.ts
  packages/website/src/app/@socialModals/(.)socials/medium/action.tsx
  packages/website/src/domains/home-page/components/HomeFeatured/index.tsx
  packages/website/src/domains/socials-medium/components/SocialMediumContent/index.tsx
  packages/website/src/domains/socials-medium/components/SocialMediumItem/index.tsx
  packages/website/src/domains/socials-medium/components/SocialMediumLoading/index.tsx
Due: eslint

refactor: stack overflow track quota
  packages/socials/src/stack-overflow/get-posts/index.ts
  packages/socials/src/stack-overflow/get-user/index.ts
  packages/socials/src/stack-overflow/response/track-quota.spec.ts
  packages/socials/src/stack-overflow/response/track-quota.ts
Due: eslint

chore: socials msw
  packages/design-system/vitest.config.ts
  packages/socials/package.json
  packages/socials/src/github/index.ts
  packages/socials/src/github/types.ts
  packages/socials/src/medium/get-stories/fixture.xml
  packages/socials/src/medium/get-stories/index.spec.ts
  packages/socials/src/medium/get-stories/index.ts
  packages/socials/src/medium/get-stories/mock.ts
  packages/socials/src/medium/get-stories/schema.ts
  packages/socials/src/mock.ts
  packages/socials/src/rss-feed-parser/schema.ts
  packages/socials/src/stack-overflow/get-posts/index.spec.ts
  packages/socials/src/stack-overflow/get-posts/index.ts
  packages/socials/src/stack-overflow/get-posts/mock.ts
  packages/socials/src/stack-overflow/get-posts/schema.spec.ts
  packages/socials/src/stack-overflow/get-posts/schema.ts
  packages/socials/src/stack-overflow/get-user/index.spec.ts
  packages/socials/src/stack-overflow/get-user/index.ts
  packages/socials/src/stack-overflow/get-user/mock.ts
  packages/socials/src/stack-overflow/get-user/schema.spec.ts
  packages/socials/src/stack-overflow/get-user/schema.ts
  packages/socials/vitest.config.ts
  packages/socials/vitest.setup.ts
  packages/website/vitest.config.ts
Due: sort-package-json, eslint, prettier --write

test(socials): github
  packages/socials/codegen.ts
  packages/socials/src/github/dal/client.ts
  packages/socials/src/github/dal/env.ts
  packages/socials/src/github/dal/fragments/gist.ts
  packages/socials/src/github/dal/fragments/repository.ts
  packages/socials/src/github/dal/mock.ts
  packages/socials/src/github/dal/queries/github-profile.ts
  packages/socials/src/github/get-profile/index.spec.ts
  packages/socials/src/github/get-profile/index.ts
  packages/socials/src/github/get-profile/mock.ts
  packages/socials/src/index.ts
  packages/socials/src/mock.ts
Due: eslint

chore: exclude gql folder from coverage
  packages/socials/vitest.config.ts
  sonar-project.properties
Due: eslint

chore: handler
  packages/socials/src/github/get-profile/mock.ts
  packages/socials/src/mock.ts
  packages/socials/vitest.setup.ts
  packages/website/src/libraries/msw/node.ts
Due: eslint

fix: types
  packages/socials/src/medium/get-stories/schema.ts
  packages/website/src/domains/socials-medium/components/SocialMediumContent/index.tsx
Due: eslint

fix: gitignore dal
  packages/socials/eslint.config.mjs
Due: none

test(socials): mock service worker in vitest (#4330)
  packages/design-system/vitest.config.ts
  packages/socials/codegen.ts
  packages/socials/eslint.config.mjs
  packages/socials/package.json
  packages/socials/src/github/dal/client.ts
  packages/socials/src/github/dal/env.ts
  packages/socials/src/github/dal/fragments/gist.ts
  packages/socials/src/github/dal/fragments/repository.ts
  packages/socials/src/github/dal/mock.ts
  packages/socials/src/github/dal/queries/github-profile.ts
  packages/socials/src/github/get-profile/index.spec.ts
  packages/socials/src/github/get-profile/index.ts
  packages/socials/src/github/get-profile/mock.ts
  packages/socials/src/github/types.ts
  packages/socials/src/index.ts
  packages/socials/src/medium/get-stories/fixture.xml
  packages/socials/src/medium/get-stories/index.spec.ts
  packages/socials/src/medium/get-stories/index.ts
  packages/socials/src/medium/get-stories/mock.ts
  packages/socials/src/medium/get-stories/schema.ts
  packages/socials/src/mock.ts
  packages/socials/src/rss-feed-parser/schema.ts
  packages/socials/src/stack-overflow/get-posts/index.spec.ts
  packages/socials/src/stack-overflow/get-posts/index.ts
  packages/socials/src/stack-overflow/get-posts/mock.ts
  packages/socials/src/stack-overflow/get-posts/schema.spec.ts
  packages/socials/src/stack-overflow/get-posts/schema.ts
  packages/socials/src/stack-overflow/get-user/index.spec.ts
  packages/socials/src/stack-overflow/get-user/index.ts
  packages/socials/src/stack-overflow/get-user/mock.ts
  packages/socials/src/stack-overflow/get-user/schema.spec.ts
  packages/socials/src/stack-overflow/get-user/schema.ts
  packages/socials/src/stack-overflow/response/track-quota.spec.ts
  packages/socials/src/stack-overflow/response/track-quota.ts
  packages/socials/vitest.config.ts
  packages/socials/vitest.setup.ts
  packages/website/src/domains/socials-medium/components/SocialMediumContent/index.tsx
  packages/website/src/libraries/msw/node.ts
  packages/website/vitest.config.ts
  sonar-project.properties
Due: sort-package-json, eslint, prettier --write

fix: eslint
  packages/socials/src/stack-overflow/models/post/schema.ts
Due: eslint

chore: bump next to 16.2.4
  package-lock.json
  packages/design-system/package.json
  packages/website/package.json
Due: sort-package-json, prettier --write

chore: bump zod to 4.3.6
  package-lock.json
  packages/website/package.json
Due: sort-package-json, prettier --write

chore: bump msw to 2.13.6
  package-lock.json
  packages/prismic-dal/package.json
  packages/website/package.json
Due: sort-package-json, prettier --write

chore: bump faker to version 10
  package-lock.json
  packages/prismic-dal/package.json
Due: sort-package-json, prettier --write

chore: dedupe and upgrade
  package-lock.json
Due: prettier --write

fix: dev dependency
  package-lock.json
  packages/prismic-dal/package.json
Due: sort-package-json, prettier --write

fix: vector
  packages/website/src/domains/cookies-page/components/CookiesToast/index.tsx
Due: eslint

chore: prismic RTImage
  packages/design-system/src/prismic/RichTextFormatter/components/RTImage/index.tsx
  packages/design-system/src/prismic/RichTextFormatter/index.tsx
Due: eslint

chore: add key
  packages/design-system/src/prismic/RichTextFormatter/components/RTImage/index.tsx
Due: eslint

chore: prismic RTImage (#4335)
  packages/design-system/src/prismic/RichTextFormatter/components/RTImage/index.tsx
  packages/design-system/src/prismic/RichTextFormatter/index.tsx
Due: eslint

chore: zod schemas for env vars
  packages/prismic-dal/codegen.ts
  packages/socials/codegen.ts
  packages/website-e2e/src/hooks/playwright.ts
  packages/website/src/libraries/prismic/client.ts
Due: eslint

chore: zod schemas for env vars (#4337)
  packages/prismic-dal/codegen.ts
  packages/socials/codegen.ts
  packages/website-e2e/src/hooks/playwright.ts
  packages/website/src/libraries/prismic/client.ts
Due: eslint

feat: scroll lock on device
  packages/design-system/package.json
  packages/design-system/src/carousel/Carousel/index.tsx
  packages/design-system/src/carousel/CarouselPagination/index.tsx
  packages/design-system/src/devices/DeviceFeaturePhone/index.tsx
  packages/design-system/src/devices/DeviceFeaturePhone/stories.tsx
  packages/design-system/src/devices/DeviceFeaturePhone/styles.tsx
  packages/design-system/src/devices/DeviceSmartphone/index.tsx
  packages/design-system/src/devices/DeviceSmartphone/stories.tsx
  packages/design-system/src/devices/DeviceSmartphone/styles.tsx
  packages/design-system/src/devices/DeviceViewport/index.tsx
  packages/design-system/src/devices/DeviceViewport/styles.tsx
  packages/design-system/src/flip-card/FlipCard/index.tsx
  packages/design-system/src/flip-card/FlipCard/stories.tsx
  packages/design-system/src/flip-card/FlipCardContainer/index.tsx
  packages/design-system/src/scroll-lock/ScrollLockContainer/context.ts
  packages/design-system/src/scroll-lock/ScrollLockContainer/index.tsx
  packages/design-system/src/scroll-lock/ScrollLockContainer/styles.tsx
  packages/design-system/src/slices/CarouselPhonesSlice/index.tsx
  packages/website/src/domains/home-page/components/HomeOpenSource/index.tsx
Due: sort-package-json, eslint, prettier --write

chore: sort exports
  packages/design-system/package.json
Due: sort-package-json, prettier --write

feat: scroll lock on device (#4338)
  packages/design-system/package.json
  packages/design-system/src/carousel/Carousel/index.tsx
  packages/design-system/src/carousel/CarouselPagination/index.tsx
  packages/design-system/src/devices/DeviceFeaturePhone/index.tsx
  packages/design-system/src/devices/DeviceFeaturePhone/stories.tsx
  packages/design-system/src/devices/DeviceFeaturePhone/styles.tsx
  packages/design-system/src/devices/DeviceSmartphone/index.tsx
  packages/design-system/src/devices/DeviceSmartphone/stories.tsx
  packages/design-system/src/devices/DeviceSmartphone/styles.tsx
  packages/design-system/src/devices/DeviceViewport/index.tsx
  packages/design-system/src/devices/DeviceViewport/styles.tsx
  packages/design-system/src/flip-card/FlipCard/index.tsx
  packages/design-system/src/flip-card/FlipCard/stories.tsx
  packages/design-system/src/flip-card/FlipCardContainer/index.tsx
  packages/design-system/src/scroll-lock/ScrollLockContainer/context.ts
  packages/design-system/src/scroll-lock/ScrollLockContainer/index.tsx
  packages/design-system/src/scroll-lock/ScrollLockContainer/styles.tsx
  packages/design-system/src/slices/CarouselPhonesSlice/index.tsx
  packages/website/src/domains/home-page/components/HomeOpenSource/index.tsx
Due: sort-package-json, eslint, prettier --write

fix: flip card story
  packages/design-system/src/flip-card/FlipCard/stories.tsx
Due: eslint

chore: bump storybook from 10.3.5 to 10.3.6
  package-lock.json
  packages/design-system/package.json
  packages/eslint/package.json
Due: sort-package-json, prettier --write

chore: bump storybook from 10.3.5 to 10.3.6 (#4339)
  package-lock.json
  packages/design-system/package.json
  packages/eslint/package.json
Due: sort-package-json, prettier --write

chore: bump next to 16.2.6
  package-lock.json
  packages/design-system/package.json
  packages/website/package.json
Due: sort-package-json, prettier --write

feat: increase timeout of e2e steps
  packages/website-e2e/src/world/index.ts
Due: eslint
