Repository bashaus/bashkim-com: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, stylelint, eslint, prettier --write, yamllint

.lintstagedrc.json:

{
  "package.json": ["sort-package-json"],
  "*.{css,scss}": ["stylelint"],
  "*.{js,ts,tsx}": ["eslint"],
  "*.html": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.{yml,yaml}": ["yamllint"]
}

chore(svgo): upgrade yaml format
  packages/application/.svgo.yml
Due: yamllint

chore(deps): bump @storybook/* from 6.4.9 to 6.4.10
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps): bump @storybook/* from 6.4.10 to 6.4.12
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps): bump @storybook/* from 6.4.12 to 6.4.13
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

fix(xml): using forEach instead of map
  packages/sitemap/src/templates/sitemap.ts
Due: eslint

fix(css): fixing font-smoothing
  packages/design-system/src/styleguide/utils/normalize.scss
Due: stylelint

chore(sonarcloud): cleaning code smells identified by sonarcloud
  packages/application/src/components/AboutCertifications/index.tsx
  packages/application/src/contexts/Navigation/reducer.ts
  packages/application/src/libraries/prismic/link-resolver/index.ts
  packages/application/src/pages/404/index.tsx
  packages/application/src/pages/_app.tsx
  packages/application/src/pages/_document.tsx
Due: eslint

chore(deps): bump @storybook/* from 6.4.13 to 6.4.14
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(ts): updating tsconfig.json
  packages/application/tsconfig.json
  packages/config/tsconfig.json
  packages/design-system/tsconfig.json
  packages/design-system/tsconfig.spec.json
  packages/prismic/tsconfig.json
  packages/sitemap/tsconfig.json
  packages/webhooks/tsconfig.json
Due: prettier --write

chore(svg): moving vectors to assets folder
  packages/design-system/src/assets/vectors/devices/feature-phone.svg
  packages/design-system/src/assets/vectors/devices/smartphone.svg
  packages/design-system/src/components/DeviceFeaturePhone/styles.module.scss
  packages/design-system/src/components/DeviceSmartphone/styles.module.scss
Due: stylelint

feat(ts): removing rollup in prismic and config packages
  packages/config/package.json
  packages/config/rollup.config.js
  packages/config/tsconfig.build.cjs.json
  packages/config/tsconfig.build.esm.json
  packages/config/tsconfig.build.types.json
  packages/config/tsconfig.json
  packages/design-system/package.json
  packages/design-system/rollup.config.js
  packages/prismic/.gitignore
  packages/prismic/package.json
  packages/prismic/rollup.config.js
  packages/prismic/scripts/schema.ts
  packages/prismic/tsconfig.build.cjs.json
  packages/prismic/tsconfig.build.esm.json
  packages/prismic/tsconfig.build.schema.json
  packages/prismic/tsconfig.build.types.json
  packages/prismic/tsconfig.json
Due: sort-package-json, eslint, prettier --write

chore(deps): removing faker
  packages/application/package.json
  packages/design-system/.storybook/webpack.config.js
  packages/design-system/src/components/Brick/stories.tsx
  packages/design-system/src/components/Carousel/stories.tsx
  packages/design-system/src/components/DeviceFeaturePhone/stories.tsx
  packages/design-system/src/components/DeviceSmartphone/stories.tsx
  packages/design-system/src/components/Tile/stories.tsx
  packages/design-system/src/formatters/RichTextFormatter/stories.tsx
  packages/design-system/src/layout/Group/stories.tsx
  packages/design-system/src/partials/CaptionedPartial/stories.tsx
  packages/design-system/src/partials/FullBannerPartial/stories.tsx
  packages/design-system/src/partials/FullTextPartial/stories.tsx
  packages/design-system/src/partials/HeaderTextPartial/stories.tsx
  packages/design-system/src/partials/NewspaperPartial/stories.tsx
  packages/design-system/src/partials/SubtitlePartial/stories.tsx
  packages/design-system/src/partials/TitlePartial/stories.tsx
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(ts): tsconfig.build.json for webhooks and sitemap
  packages/sitemap/package.json
  packages/sitemap/tsconfig.build.json
  packages/sitemap/tsconfig.json
  packages/webhooks/package.json
  packages/webhooks/tsconfig.build.json
  packages/webhooks/tsconfig.json
  tsconfig.json
Due: sort-package-json, prettier --write

chore(deps): bump @storybook/* from 6.4.14 to 6.4.16
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

feat(build): run builds in parallel with npm-run-all
  packages/config/package.json
  packages/prismic/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps): bump @storybook/* from 6.4.16 to 6.4.17
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps): bump @storybook/* from 6.4.17 to 6.4.18
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(ts): simplify configuration
  .circleci/config.yml
  .eslintignore
  .gitignore
  .prettierignore
  .stylelintignore
  packages/application/jest.config.js
  packages/application/package.json
  packages/application/tsconfig.json
  packages/config/package.json
  packages/config/tsconfig.build.esm.json
  packages/config/tsconfig.cjs.json
  packages/config/tsconfig.json
  packages/design-system/jest.config.js
  packages/design-system/package.json
  packages/design-system/rollup.config.js
  packages/design-system/tsconfig.json
  packages/prismic/package.json
  packages/prismic/scripts/schema.ts
  packages/prismic/tsconfig.build.cjs.json
  packages/prismic/tsconfig.build.esm.json
  packages/prismic/tsconfig.build.schema.json
  packages/prismic/tsconfig.build.types.json
  packages/prismic/tsconfig.json
  packages/prismic/tsconfig.schema.json
  packages/sitemap/nodemon.json
  packages/sitemap/package.json
  packages/sitemap/tsconfig.build.json
  packages/sitemap/tsconfig.json
  packages/webhooks/nodemon.json
  packages/webhooks/package.json
  packages/webhooks/tsconfig.build.json
  packages/webhooks/tsconfig.json
  serverless.yml
  yarn.lock
Due: sort-package-json, eslint, prettier --write, yamllint

chore(lint): stronger integration of prettier
  .circleci/config.yml
  .husky/pre-commit
  .lintstagedrc.js
  .vscode/extensions.json
  .vscode/settings.json
  .yamllintrc.yml
  infrastructure/modules/website/bucket.routing-rules.yaml
  package.json
  packages/application/tsconfig.json
  packages/design-system/.storybook/main.js
  packages/design-system/.storybook/preview.js
  packages/design-system/.storybook/webpack.config.js
  packages/design-system/tsconfig.json
  packages/design-system/tsconfig.spec.json
  packages/prismic/tsconfig.json
  packages/prismic/tsconfig.schema.json
  serverless.yml
Due: sort-package-json, eslint, prettier --write, yamllint

chore(prettier): using pretty-quick to target staged files
  .husky/pre-commit
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(circle): adding approval step before deployment
  .circleci/config.yml
Due: yamllint

chore(dependabot): increase open pull requests limit to 15
  .github/dependabot.yml
Due: yamllint

chore(ts): added missing ts-loader
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps): bump @storybook/* from 6.4.18 to 6.4.19
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(node): bump from 14.17.6 to 16.14.0
  .circleci/config.yml
  .husky/commit-msg
  .husky/pre-commit
  .nvmrc
Due: yamllint

feat(test): parallelism
  .circleci/config.yml
Due: yamllint

chore(react): standardizing contexts
  packages/application/src/components/Header/index.tsx
  packages/application/src/components/HeaderIntersection/index.tsx
  packages/application/src/components/HomeFeatured/index.tsx
  packages/application/src/contexts/Navigation/actions.ts
  packages/application/src/contexts/Navigation/context.ts
  packages/application/src/contexts/Navigation/provider.tsx
  packages/application/src/contexts/Navigation/reducer.ts
  packages/application/src/contexts/Navigation/state.ts
  packages/application/src/libraries/next/errors/NotFoundError.ts
  packages/design-system/src/slices/AccoladeSlice/index.tsx
  packages/design-system/src/slices/CollaboratorSlice/index.tsx
  packages/prismic/src/casts/RichText/index.tsx
  packages/prismic/src/contexts/LinkResolver/context.ts
  packages/prismic/src/contexts/LinkResolver/errors.ts
  packages/prismic/src/index.ts
Due: eslint
