Repository bashaus/bashkim-com: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, stylelint, eslint, prettier --write, yamllint

.lintstagedrc.json:

{
  "package.json": ["sort-package-json"],
  "*.{css,scss}": ["stylelint"],
  "*.{js,ts,tsx}": ["eslint"],
  "*.html": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.{yml,yaml}": ["yamllint"]
}

chore: no api information for linked in
  packages/website/src/app/@socialModals/(.)socials/linked-in/page.tsx
  packages/website/src/domains/socials-linked-in/SocialLinkedIn/index.tsx
  packages/website/src/domains/socials-linked-in/SocialLinkedInContent/index.tsx
Due: eslint

fix: sonarqube
  packages/design-system/src/socials/components/SocialsHeader/stories.tsx
Due: eslint

fix: build
  packages/design-system/package.json
  packages/design-system/src/socials/components/SocialsHeader/index.tsx
  packages/website/src/assets/photo@4x.jpg
  packages/website/src/domains/about-page/components/AboutPageHeader/index.tsx
  packages/website/src/domains/socials-github/SocialGitHubHeader/index.tsx
  packages/website/src/domains/socials-linked-in/SocialLinkedInHeader/index.tsx
  packages/website/src/domains/socials-medium/SocialMediumHeader/index.tsx
  packages/website/src/domains/socials-stack-overflow/SocialStackOverflowHeaderConnected/index.tsx
  packages/website/src/domains/socials-stack-overflow/SocialStackOverflowHeaderDisconnected/index.tsx
Due: sort-package-json, eslint, prettier --write

chore: update react and mui
  packages/design-system/package.json
  packages/website/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore: migrate sass
  packages/design-system/package.json
  packages/design-system/src/brand/MenuStrapline/styles.module.scss
  packages/design-system/src/brand/MenuStrapline/typed.scss
  packages/website/package.json
  yarn.lock
Due: sort-package-json, stylelint, prettier --write

chore: migrate to npm
  .github/workflows/codeql.yml
  .github/workflows/lint.yml
  .husky/commit-msg
  .husky/pre-commit
  README.md
  package-lock.json
  package.json
  turbo.json
  yarn.lock
Due: sort-package-json, prettier --write, yamllint

fix: sonarqube
  packages/design-system/src/brand/MenuStrapline/typed.scss
Due: stylelint

fix: meta.type-of
  packages/design-system/src/brand/MenuStrapline/typed.scss
Due: stylelint

feat: source page
  packages/design-system/.storybook/preview.ts
  packages/design-system/src/components/Backdrop/index.tsx
  packages/design-system/src/components/Backdrop/styles.tsx
  packages/design-system/src/components/VideoDialog/index.tsx
  packages/design-system/src/material-ui/components/MuiButton/stories.tsx
  packages/design-system/src/material-ui/components/MuiDialog/stories.tsx
  packages/design-system/src/material-ui/components/MuiDrawer/index.tsx
  packages/design-system/src/material-ui/components/MuiDrawer/stories.tsx
  packages/design-system/src/material-ui/components/MuiLink/stories.tsx
  packages/design-system/src/material-ui/components/MuiPaper/index.tsx
  packages/design-system/src/material-ui/components/MuiSlider/stories.tsx
  packages/design-system/src/material-ui/components/MuiTypography/stories.tsx
  packages/design-system/src/material-ui/index.tsx
  packages/design-system/src/socials/assets/index.tsx
  packages/design-system/src/socials/assets/storybook.svg
  packages/website/src/app/source/page.tsx
  packages/website/src/components/HeaderPrimary/index.tsx
  packages/website/src/components/HeaderPrimary/styles.tsx
  packages/website/src/domains/socials-github/SocialGitHubHeader/index.tsx
  packages/website/src/domains/socials-linked-in/SocialLinkedInHeader/index.tsx
  packages/website/src/domains/socials-medium/SocialMediumHeader/index.tsx
  packages/website/src/domains/socials-stack-overflow/SocialStackOverflowHeaderConnected/index.tsx
  packages/website/src/domains/socials-stack-overflow/SocialStackOverflowHeaderDisconnected/index.tsx
  packages/website/src/domains/socials/components/SocialsDrawer/view.tsx
  packages/website/src/domains/source-page/assets/background.jpg
  packages/website/src/domains/source-page/assets/github-commits.png
  packages/website/src/domains/source-page/assets/storybook-grid.png
  packages/website/src/domains/source-page/components/SourceCard/index.tsx
  packages/website/src/domains/source-page/components/SourcePageLockup/index.tsx
Due: eslint

ci: lighthouse on vercel deployment
  .github/workflows/vercel-lighthouse.yml
Due: yamllint

chore: add vercel bearer token
  .github/workflows/vercel-lighthouse.yml
Due: yamllint

ci: lighthouse config
  .github/workflows/vercel-lighthouse.yml
  .lighthouserc.js
  eslint.config.mjs
Due: eslint, yamllint

chore: no sonarqube on pr
  .github/workflows/sonarcloud.yml
Due: yamllint

refactor: satisfies meta
  packages/design-system/src/components/Carousel/stories.tsx
  packages/design-system/src/components/CarouselButtonBack/stories.tsx
  packages/design-system/src/components/CarouselViewport/stories.tsx
  packages/design-system/src/components/DeviceFeaturePhone/stories.tsx
  packages/design-system/src/components/DeviceSmartphone/stories.tsx
  packages/design-system/src/components/Tile/stories.tsx
  packages/design-system/src/partials/CaptionedPartial/stories.tsx
  packages/design-system/src/partials/FullImagePartial/stories.tsx
  packages/design-system/src/partials/FullTextPartial/stories.tsx
  packages/design-system/src/partials/NewspaperPartial/stories.tsx
  packages/design-system/src/partials/PageHeaderPartial/stories.tsx
  packages/design-system/src/partials/SplitPartial/stories.tsx
  packages/design-system/src/partials/TitlePartial/stories.tsx
Due: eslint

refactor: removing tile
  packages/design-system/package.json
  packages/design-system/src/components/Tile/index.spec.tsx
  packages/design-system/src/components/Tile/index.tsx
  packages/design-system/src/components/Tile/stories.tsx
  packages/website/src/domains/portfolio-page/components/PortfolioFeaturedCaseStudies/index.tsx
  packages/website/src/domains/portfolio-page/components/PortfolioFeaturedCaseStudies/styles.tsx
Due: sort-package-json, eslint, prettier --write

chore: video loading state
  packages/design-system/src/components/VideoLoading/index.tsx
  packages/design-system/src/components/VideoLoading/stories.tsx
  packages/design-system/src/components/VideoLoading/styles.tsx
  packages/design-system/src/components/VideoPlayer/index.tsx
  packages/design-system/src/components/VideoPlayer/styles.tsx
  packages/design-system/src/slices/CaptionedVideoSlice/index.tsx
Due: eslint

chore: editor.bracketPairColorization.enabled
  .vscode/settings.json
Due: prettier --write

chore: vscode extension
  .vscode/extensions.json
Due: prettier --write

chore: eslint
  package-lock.json
  package.json
  packages/design-system/.storybook/main.ts
  packages/design-system/src/components/CarouselPagination/hooks.ts
  packages/design-system/src/components/CarouselProvider/index.tsx
  packages/design-system/src/slices/CaptionedScreenshotsSlice/index.tsx
  packages/eslint/src/configs/base.mjs
  packages/eslint/src/configs/node.mjs
  packages/eslint/src/configs/react.mjs
  packages/eslint/src/index.mjs
Due: sort-package-json, eslint, prettier --write

fix: dependencies
  package-lock.json
  package.json
  packages/prismic-dal/package.json
  packages/socials/package.json
Due: sort-package-json, prettier --write

feat: lighthouse
  .github/workflows/sonarcloud.yml
  .github/workflows/vercel-lighthouse.yml
  .lighthouserc.js
  eslint.config.mjs
Due: eslint, yamllint

chore: update trigger
  .github/workflows/codeql.yml
  .github/workflows/lint.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/vercel-lighthouse.yml
  .gitignore
  .lighthouserc.cjs
  .lighthouserc.js
  eslint.config.mjs
Due: eslint, yamllint

ci: lighthouse on vercel deployment (#4250)
  .github/workflows/codeql.yml
  .github/workflows/lint.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/vercel-lighthouse.yml
  .gitignore
  .lighthouserc.cjs
  eslint.config.mjs
Due: yamllint

test: next configuration
  .jest/setup/next.ts
  packages/design-system/jest.config.ts
  packages/design-system/src/components/Backdrop/index.tsx
  packages/design-system/tsconfig.json
Due: eslint, prettier --write

test: storybook interactions
  packages/design-system/src/components/Carousel/stories.tsx
  packages/design-system/src/components/CarouselButtonBack/index.spec.tsx
  packages/design-system/src/components/CarouselButtonBack/index.tsx
  packages/design-system/src/components/CarouselButtonNext/index.spec.tsx
  packages/design-system/src/components/CarouselButtonNext/index.tsx
  packages/design-system/src/components/CarouselDot/index.tsx
  packages/design-system/src/components/CarouselDot/stories.tsx
  packages/design-system/src/components/CarouselDot/styles.tsx
  packages/design-system/src/components/CarouselDots/index.tsx
  packages/design-system/src/components/CarouselSlider/index.tsx
  packages/design-system/src/components/VideoDialog/index.tsx
  packages/design-system/src/components/VideoDialog/stories.tsx
  packages/design-system/src/components/VideoLoading/index.tsx
  packages/design-system/src/components/VideoPlayerLink/index.tsx
  packages/design-system/src/components/VideoPlayerLink/stories.tsx
  packages/design-system/src/slices/GridVideoSlice/index.tsx
Due: eslint

feat: e2e cypress
  .github/workflows/vercel-e2e.yml
  .github/workflows/vercel-lighthouse.yml
  .prettierignore
  package-lock.json
  packages/website-e2e/.gitignore
  packages/website-e2e/cypress.config.ts
  packages/website-e2e/cypress/e2e/01-navigation/about.cy.ts
  packages/website-e2e/cypress/fixtures/example.json
  packages/website-e2e/cypress/support/commands.ts
  packages/website-e2e/cypress/support/e2e.ts
  packages/website-e2e/eslint.config.mjs
  packages/website-e2e/package.json
  packages/website-e2e/tsconfig.json
Due: sort-package-json, eslint, prettier --write, yamllint

feat: e2e cypress (#4252)
  .github/workflows/vercel-e2e.yml
  .github/workflows/vercel-lighthouse.yml
  .prettierignore
  package-lock.json
  packages/website-e2e/.gitignore
  packages/website-e2e/cypress.config.ts
  packages/website-e2e/cypress/e2e/01-navigation/about.cy.ts
  packages/website-e2e/cypress/fixtures/example.json
  packages/website-e2e/cypress/support/commands.ts
  packages/website-e2e/cypress/support/e2e.ts
  packages/website-e2e/eslint.config.mjs
  packages/website-e2e/package.json
  packages/website-e2e/tsconfig.json
Due: sort-package-json, eslint, prettier --write, yamllint

fix: sonarqube
  packages/design-system/src/components/CarouselButtonNext/index.tsx
Due: eslint

refactor: rename file
  packages/website-e2e/cypress/e2e/01-navigation/navigation.cy.ts
Due: eslint

chore: remove website-e2e from sonarqube
  sonar-project.properties
Due: none

docs: update readme logo
  README.md
Due: prettier --write

fix: height auto
  packages/design-system/src/brand/InlineLogo/index.tsx
  packages/design-system/src/brand/SquareLogo/index.tsx
Due: eslint

refactor: prismic client
  packages/website/src/app/portfolio/[caseStudySlug]/queries.ts
  packages/website/src/app/portfolio/queries.ts
  packages/website/src/app/portfolio/sitemap.ts
  packages/website/src/app/queries.ts
  packages/website/src/app/sitemap.ts
  packages/website/src/layouts/SiteLayout/index.tsx
  packages/website/src/libraries/prismic/client.ts
  packages/website/src/libraries/prismic/link-resolver.spec.ts
  packages/website/src/libraries/prismic/link-resolver.ts
Due: eslint

feat: msw
  package-lock.json
  packages/prismic-msw/eslint.config.mjs
  packages/prismic-msw/package.json
  packages/prismic-msw/src/index.ts
  packages/prismic-msw/src/prismic/handlers/get-case-studies.ts
  packages/prismic-msw/src/prismic/handlers/get-home-page.ts
  packages/prismic-msw/src/prismic/handlers/get-portfolio-page.ts
  packages/prismic-msw/src/prismic/handlers/get-sitemap-case-studies.ts
  packages/prismic-msw/src/prismic/handlers/get-sitemap-pages.ts
  packages/prismic-msw/src/prismic/link.ts
  packages/website/.env.local.example
  packages/website/package.json
  packages/website/src/instrumentation.ts
  packages/website/src/libraries/msw/node.ts
Due: sort-package-json, eslint, prettier --write

style: expand magazine
  package-lock.json
  packages/design-system/package.json
  packages/design-system/src/components/MagazineFlipBook/index.tsx
  packages/design-system/src/components/MagazineLayout/index.tsx
  packages/design-system/src/motion/transition/spring.ts
  packages/design-system/src/slices/CaptionedMagazineSlice/index.tsx
Due: sort-package-json, eslint, prettier --write

refactor: file names
  packages/website/src/app/about/page.tsx
  packages/website/src/app/cookies/page.tsx
  packages/website/src/app/layout.tsx
  packages/website/src/app/page.tsx
  packages/website/src/app/portfolio/[caseStudySlug]/page.tsx
  packages/website/src/app/portfolio/page.tsx
  packages/website/src/app/source/page.tsx
  packages/website/src/libraries/app/generate-canonical.ts
Due: eslint

refactor: mui theme
  packages/design-system/src/material-ui/components/MuiBackdrop/index.tsx
  packages/design-system/src/material-ui/components/MuiBackdrop/styles.tsx
  packages/design-system/src/material-ui/components/MuiButton/theme.tsx
  packages/design-system/src/material-ui/components/MuiCssBaseline/theme.tsx
  packages/design-system/src/material-ui/components/MuiDialog/theme.tsx
  packages/design-system/src/material-ui/components/MuiDrawer/theme.tsx
  packages/design-system/src/material-ui/components/MuiIconButton/theme.tsx
  packages/design-system/src/material-ui/components/MuiLink/theme.tsx
  packages/design-system/src/material-ui/components/MuiListItemText/theme.tsx
  packages/design-system/src/material-ui/components/MuiListSubheader/theme.tsx
  packages/design-system/src/material-ui/components/MuiPaper/theme.tsx
  packages/design-system/src/material-ui/components/MuiSlider/theme.tsx
  packages/design-system/src/material-ui/components/MuiTypography/theme.tsx
  packages/design-system/src/material-ui/index.tsx
Due: eslint

style: dialog animation
  packages/design-system/src/material-ui/components/MuiBackdrop/index.tsx
  packages/design-system/src/material-ui/components/MuiDialog/stories.tsx
  packages/design-system/src/material-ui/components/MuiDrawer/stories.tsx
Due: eslint
