Repository bashaus/bashkim-com: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, stylelint, eslint, prettier --write, yamllint

.lintstagedrc.json:

{
  "package.json": ["sort-package-json"],
  "*.{css,scss}": ["stylelint"],
  "*.{js,ts,tsx}": ["eslint"],
  "*.html": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.{yml,yaml}": ["yamllint"]
}

chore(deps-dev): bump storybook from 7.0.26 to 7.0.27
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

ci(github-actions): removing fetch-depth
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/test.yml
Due: yamllint

ci(github-actions): upload artifact after build
  .github/workflows/build.yml
Due: yamllint

ci(github-actions): run lint for dependabot
  .github/workflows/lint.yml
Due: yamllint

chore(deps): revert eslint-plugin-prettier from 5.0.0 to 4.2.1
  packages/eslint-config/package.json
  packages/eslint-config/src/index.js
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(deps): bump prettier from 2.8.8 to 3.0.0
  .husky/pre-commit
  .prettierrc.json
  package.json
  packages/eslint-config/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps-dev): bump storybook from 7.0.27 to 7.1.0
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(repo): set prettier on linting strategy
  .husky/pre-commit
  .lintstagedrc.js
Due: eslint

chore(prismic-dal): added graphql schema
  .eslintignore
  .prettierignore
  .stylelintignore
  graphql.config.yml
  packages/prismic-dal/codegen.ts
  packages/prismic-dal/package.json
Due: sort-package-json, eslint, prettier --write, yamllint

chore(website): using notFound() instead of throwing custom error
  packages/website/src/app/page.tsx
  packages/website/src/app/portfolio/[caseStudySlug]/page.tsx
  packages/website/src/app/portfolio/page.tsx
  packages/website/src/libraries/next/errors/NotFoundError.ts
Due: eslint

chore(website): using next fetch for prismic client
  packages/website/src/libraries/prismic/PrismicClient.ts
Due: eslint

chore(deps-dev): bump storybook from 7.1.0 to 7.1.1
  packages/design-system/.storybook/main.ts
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write

ci(deploy): only deploy serverless
  .circleci/config.yml
Due: yamllint

chore(website): rename github svg
  packages/website/src/assets/vectors/social/GitHub.svg
Due: none

ci(socials-server): correcting subnet and security group ids
  serverless.yml
Due: yamllint

ci(infra): update serverless log retention
  serverless.yml
Due: yamllint

ci(socials-server): persist dist between workflow jobs
  .circleci/config.yml
Due: yamllint

ci(infrastructure): removing log retention
  serverless.yml
Due: yamllint

chore(socials-server): moving @graphql-tools/merge to dependencies
  packages/socials-server/package.json
Due: sort-package-json, prettier --write

chore(socials-server): adding react as a dependency for apollo
  packages/socials-server/package.json
Due: sort-package-json, prettier --write

chore(schema): add schema to sitemap
  packages/socials-server/src/app/services/cache/index.ts
  serverless.yml
Due: eslint, yamllint

chore(socials-server): adding x-ray lambda package
  packages/socials-server/package.json
  packages/socials-server/src/lambda.ts
Due: sort-package-json, eslint, prettier --write

fix(socials-server): using a different api gateway handler
  packages/socials-server/src/lambda.ts
Due: eslint

chore(socials-server): removing x-ray lambda
  packages/socials-server/package.json
  packages/socials-server/src/lambda.ts
Due: sort-package-json, eslint, prettier --write

chore(socials-server): using node-fetch v2
  packages/socials-server/package.json
  packages/socials-server/src/app/resolvers/GitHub/getGitHubSocials.ts
  packages/socials-server/src/app/services/cache/index.ts
Due: sort-package-json, eslint, prettier --write

chore(socials-server): removing unused env vars
  serverless.yml
Due: yamllint

fix(socials-server): using cross-fetch
  packages/socials-server/package.json
  packages/socials-server/src/app/resolvers/StackOverflow/StackOverflowPosts.ts
  packages/socials-server/src/app/resolvers/StackOverflow/StackOverflowUser.ts
  packages/socials-server/src/app/services/github/client.ts
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(deps): using cross-fetch instead of node-fetch
  .github/dependabot.yml
  packages/prismic-webhooks/package.json
  packages/prismic-webhooks/src/app/libraries/circleci/index.ts
  packages/sitemap/package.json
  packages/sitemap/src/app/libraries/prismic/client/index.ts
  packages/website/package.json
Due: sort-package-json, eslint, prettier --write, yamllint

ci(infrastructure): added internet gateway to vpc
  infrastructure/modules/packages/socials-server/module.internet_gateway.tf
Due: none

ci(infrastructure): aws subnet route tables
  infrastructure/modules/packages/socials-server/module.route_table.tf
  infrastructure/modules/packages/socials-server/module.route_table_association.tf
Due: none

ci(infrastructure): enable dns support
  infrastructure/modules/packages/socials-server/module.vpc.tf
Due: none

ci(infrastructure): enable x-ray in lambda
  infrastructure/modules/packages/socials-server/module.elastic_ip.tf
  infrastructure/modules/packages/socials-server/module.nat_gateway.tf
  infrastructure/modules/packages/socials-server/module.route_table.tf
  infrastructure/modules/packages/socials-server/module.subnet.tf
  packages/socials-server/package.json
  packages/socials-server/src/aws-x-ray.ts
  packages/socials-server/src/lambda.ts
Due: sort-package-json, eslint, prettier --write

chore(intrastructure): private and public subnet
  infrastructure/modules/packages/socials-server/module.elastic_ip.tf
  infrastructure/modules/packages/socials-server/module.elasticache_cluster.tf
  infrastructure/modules/packages/socials-server/module.elasticache_subnet_group.tf
  infrastructure/modules/packages/socials-server/module.internet_gateway.tf
  infrastructure/modules/packages/socials-server/module.nat_gateway.tf
  infrastructure/modules/packages/socials-server/module.output.tf
  infrastructure/modules/packages/socials-server/module.route_table.tf
  infrastructure/modules/packages/socials-server/module.route_table_association.tf
  infrastructure/modules/packages/socials-server/module.subnet.tf
  infrastructure/modules/packages/socials-server/module.subnet_private.tf
  infrastructure/modules/packages/socials-server/module.subnet_public.tf
  infrastructure/modules/packages/socials-server/module.vpc.tf
Due: none

chore(socials-server): redeploying lambda
  serverless.yml
Due: yamllint

chore(socials-server): added debugging statements
  infrastructure/modules/packages/socials-server/module.nat_gateway.tf
  packages/socials-server/src/app/resolvers/GitHub/getGitHubSocials.ts
Due: eslint

chore(socials-server): updated security group
  serverless.yml
Due: yamllint

chore(infrastructure): nat gateway on private gateway
  infrastructure/modules/packages/socials-server/module.nat_gateway.tf
Due: none

chore(serverless): removing socials server
  serverless.yml
Due: yamllint
