Repository bashaus/bashkim-com: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, eslint, prettier --write, stylelint

bug(jest): fixing babel-jest reference
  packages/application/jest.config.js
Due: eslint

chore(jest): added eslint and typescript configuration
  .eslintrc.json
  package.json
  packages/application/.storybook/preview.js
  packages/application/package.json
  packages/application/tsconfig.json
  packages/application/tsconfig.spec.json
  packages/sitemap/package.json
  packages/webhooks/package.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(storybook): added some doc blocks
  packages/application/.storybook/preview.js
  packages/application/src/components/Brick/index.tsx
  packages/application/src/components/Brick/stories.tsx
  packages/application/src/components/CallToAction/index.tsx
  packages/application/src/components/CallToAction/stories.tsx
  packages/application/src/components/CallToAction/styles.module.scss
  packages/application/src/components/Carousel/stories.tsx
  packages/application/src/components/DeviceFeaturePhone/index.tsx
  packages/application/src/components/DeviceSmartphone/index.tsx
  packages/application/src/partials/Captioned/stories.tsx
  packages/application/src/partials/FullText/stories.tsx
  packages/application/src/partials/Newspaper/stories.tsx
Due: eslint, stylelint

chore(storybook): added prismic slices
  packages/application/.storybook/main.js
  packages/application/.storybook/webpack.config.js
  packages/application/src/components/Turn/stories.tsx
  packages/application/src/components/VideoPlayerYouTube/stories.tsx
  packages/application/src/slices/Accolade/index.tsx
  packages/application/src/slices/Accolade/stories.tsx
  packages/application/src/slices/Accolade/styles.module.scss
  packages/application/src/slices/CaptionedImage/stories.tsx
  packages/application/src/slices/CaptionedMagazine/stories.tsx
  packages/application/src/slices/CaptionedScreenshots/stories.tsx
  packages/application/src/slices/CaptionedVideo/stories.tsx
  packages/application/src/slices/CarouselImages/stories.tsx
  packages/application/src/slices/CarouselPhones/stories.tsx
  packages/application/src/slices/FullText/stories.tsx
  packages/application/src/slices/GridEmbed/stories.tsx
  packages/application/src/slices/GridVideo/stories.tsx
  packages/application/src/slices/Newspaper/stories.tsx
  packages/application/src/slices/Subtitle/stories.tsx
  packages/prismic/src/slice-types/Accolade/fixture.json
  packages/prismic/src/slice-types/CaptionedImage/fixture.json
  packages/prismic/src/slice-types/CarouselImages/fixture.json
  packages/prismic/src/slice-types/CarouselPhones/fixture.json
  packages/prismic/src/slice-types/GridVideo/fixture.json
Due: eslint, prettier --write, stylelint

chore(storybook): upgrade to version 6.3.4
  packages/application/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(logo): separate design
  packages/application/src/components/Header/index.tsx
  packages/application/src/components/Logo/index.tsx
  packages/application/src/components/Logo/styles.module.scss
  packages/application/src/components/Menu/index.tsx
Due: eslint, stylelint

chore(prismic): reducing alias
  packages/application/.babelrc
  packages/application/src/components/CaseStudyLifespan/index.tsx
  packages/application/src/components/PortfolioFeaturedCaseStudies/index.tsx
  packages/application/src/libraries/prismic/helpers/RichText/index.tsx
  packages/application/src/libraries/prismic/queries/CaseStudyPageQuery.ts
  packages/application/src/pages/index.tsx
  packages/application/src/pages/portfolio/[caseStudySlug]/index.tsx
  packages/application/src/pages/portfolio/index.tsx
  packages/application/src/slices/Accolade/index.tsx
  packages/application/src/slices/CaptionedImage/index.tsx
  packages/application/src/slices/CaptionedMagazine/index.tsx
  packages/application/src/slices/CaptionedScreenshots/index.tsx
  packages/application/src/slices/CaptionedVideo/index.tsx
  packages/application/src/slices/CarouselImages/index.tsx
  packages/application/src/slices/CarouselPhones/index.tsx
  packages/application/src/slices/Collaborator/index.tsx
  packages/application/src/slices/Exhibition/index.tsx
  packages/application/src/slices/FullText/index.tsx
  packages/application/src/slices/GridVideo/index.tsx
  packages/application/src/slices/Newspaper/index.tsx
  packages/application/src/slices/Subtitle/index.tsx
  packages/application/tsconfig.json
Due: eslint, prettier --write

chore(dayjs): remove dependency
  packages/sitemap/package.json
  packages/sitemap/src/prismic/queries/caseStudies.ts
  packages/sitemap/src/sitemaps/case-studies.ts
  packages/sitemap/src/sitemaps/pages.ts
  yarn.lock
Due: sort-package-json, eslint, prettier --write

feat(rollup): prismic
  packages/application/src/components/CaseStudyCollaborators/index.tsx
  packages/application/src/components/CaseStudyExhibitions/index.tsx
  packages/prismic/package.json
  packages/prismic/rollup.config.js
  packages/sitemap/package.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(yarn): upgrade sort-package-json
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(yarn): upgrade stylelint
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(eslint): upgrade
  package.json
  packages/application/src/libraries/turn/turn.min.js
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(yarn): upgrade husky and lint-staged
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(circleci): parallel test
  .circleci/config.yml
Due: none

chore(circleci): test
  .circleci/config.yml
Due: none

chore(circleci): separate dependencies, application build and styleguide build
  .circleci/config.yml
Due: none

chore(nextjs): upgrade to version 11
  .eslintrc.js
  .eslintrc.json
  package.json
  packages/application/.eslintrc.js
  packages/application/next-env.d.ts
  packages/application/package.json
  packages/config/package.json
  packages/config/src/defaults/server.ts
  packages/config/src/types/server.ts
  packages/prismic/package.json
  packages/sitemap/package.json
  packages/webhooks/package.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(caniuse): update
  yarn.lock
Due: none

chore(yarn): consistent version of classnames
  packages/application/package.json
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(yarn): added missing peer dependencies
  packages/prismic/package.json
Due: sort-package-json, prettier --write

chore(xstate): upgrade
  packages/application/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(prettier): upgrade
  package.json
  packages/application/src/components/CaseStudyTechnologies/index.tsx
  packages/application/src/components/CookiesNotice/index.tsx
  packages/application/src/components/Magazine/helpers.spec.ts
  packages/application/src/components/MenuSignifierButton/index.tsx
  packages/application/src/components/Page/index.tsx
  packages/application/src/components/Slice/index.tsx
  packages/application/src/contexts/Cookies/provider.tsx
  packages/application/src/slices/CaptionedMagazine/index.tsx
  packages/prismic/src/content-types/case_study/tabs/info/type.ts
  packages/prismic/src/slice-types/fixtures.ts
  packages/webhooks/src/libraries/circleci.ts
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(sentry): upgrade
  .env.example
  package.json
  packages/application/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(serverless): upgrading node to 14
  serverless.yml
Due: none

chore(typescript): adding nodemon to sitemap
  packages/config/package.json
  packages/sitemap/nodemon.json
  packages/sitemap/package.json
  packages/sitemap/src/dev.ts
  packages/sitemap/tsconfig.json
  packages/webhooks/nodemon.json
  packages/webhooks/package.json
  packages/webhooks/src/dev.ts
  packages/webhooks/tsconfig.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(husky): upgrade
  package.json
  serverless.yml
  yarn.lock
Due: sort-package-json, prettier --write

feat(terraform): init
  .gitignore
  .slsignore
  .vscode/extensions.json
  infrastructure/.terraform.lock.hcl
  infrastructure/WebsiteBucket/RoutingRules.yml
  infrastructure/main.tf
  infrastructure/modules/styleguide/bucket.tf
  infrastructure/modules/styleguide/bucket_policy.tf
  infrastructure/modules/styleguide/distribution.tf
  infrastructure/modules/styleguide/oai.tf
  infrastructure/modules/styleguide/variables.tf
  infrastructure/modules/website/bucket.routing-rules.yaml
  infrastructure/modules/website/bucket.tf
  infrastructure/modules/website/bucket_policy.tf
  infrastructure/modules/website/distribution.tf
  infrastructure/modules/website/oai.tf
  infrastructure/modules/website/variables.tf
  serverless.yml
Due: prettier --write

chore(yarn): elevating dependencies
  package.json
  packages/design-system/package.json
  packages/prismic/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(sitemap): added public directory
  serverless.yml
Due: none

chore(meta): canonical fix
  packages/application/src/pages/_document.tsx
  packages/application/src/pages/portfolio/[caseStudySlug]/index.tsx
Due: eslint

chore(seo): added trailing slashes
  packages/sitemap/src/sitemaps/case-studies.ts
  packages/sitemap/src/sitemaps/pages.ts
Due: eslint

chore(node): upgrade to 14.17.6
  .circleci/config.yml
  .nvmrc
Due: none

chore(serverless): remove unused properties
  serverless.yml
Due: none

chore(design-system): renaming from styleguide
  .circleci/config.yml
  README.md
  infrastructure/main.tf
  infrastructure/modules/design-system/bucket.tf
  infrastructure/modules/design-system/bucket_policy.tf
  infrastructure/modules/design-system/distribution.tf
  infrastructure/modules/design-system/oai.tf
  infrastructure/modules/design-system/variables.tf
  packages/design-system/package.json
Due: sort-package-json, prettier --write

chore(tls): removing old protocols
  infrastructure/main.tf
  infrastructure/modules/design-system/distribution.tf
  infrastructure/modules/website/distribution.tf
  infrastructure/modules/website/variables.tf
Due: none

chore(storybook): upgrade to 6.3.8
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(license): updated date
  LICENSE.md
Due: prettier --write

chore(styles): renamed _.scss
  packages/design-system/src/styleguide/libraries/grid/_index.scss
  packages/design-system/src/styleguide/libraries/grid/cell/_index.scss
  packages/design-system/src/styleguide/libraries/grid/container/_index.scss
  packages/design-system/src/styleguide/libraries/grid/full/_index.scss
  packages/design-system/src/styleguide/utils/grid.scss
Due: stylelint

Path conditions:
  sort-package-json: any of: package.json
  eslint: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{md,html,json}
  stylelint: any of: *.{css,scss}
