Repository bashaus/bashkim-com: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, stylelint, eslint, prettier --write, yamllint

ci: environment variables
  packages/socials/src/github/client.ts
  packages/socials/turbo.json
  packages/website/.env.local.example
  packages/website/.env.production
  packages/website/src/app/layout.tsx
  packages/website/src/app/sitemap.ts
  packages/website/src/libraries/app/generate-canonical.ts
  packages/website/turbo.json
  turbo.json
Due: eslint, prettier --write

chore: bump next from 15.4.4 to 15.4.6
  package-lock.json
  packages/design-system/package.json
  packages/website/package.json
Due: sort-package-json, prettier --write

fix: use image
  packages/website/src/domains/socials-medium/SocialMediumContent/index.tsx
Due: eslint

chore: bump turbo from 2.5.5 to 2.5.6
  package-lock.json
  package.json
Due: sort-package-json, prettier --write

chore: css variables
  package-lock.json
  packages/design-system/package.json
  packages/design-system/src/carousel/CarouselButton/styles.tsx
  packages/design-system/src/carousel/CarouselDot/styles.tsx
  packages/design-system/src/components/Group/styles.tsx
  packages/design-system/src/material-ui/components/MuiLink/theme.tsx
  packages/design-system/src/material-ui/index.tsx
  packages/design-system/src/partials/FullHeaderPartial/styles.tsx
  packages/design-system/src/partials/PageHeaderPartial/index.tsx
  packages/design-system/src/slices/AccoladeSlice/styles.tsx
  packages/design-system/src/slices/GridEmbedSlice/index.tsx
  packages/design-system/src/video/VideoBackground/index.tsx
  packages/design-system/src/video/VideoBackground/styles.tsx
  packages/design-system/src/video/VideoDialog/index.tsx
  packages/design-system/src/video/VideoDialog/stories.tsx
  packages/design-system/src/video/VideoLoading/styles.tsx
  packages/design-system/src/video/VideoPlayer/index.tsx
  packages/design-system/src/video/VideoPlayerLink/index.tsx
  packages/website/src/components/Footer/styles.tsx
  packages/website/src/components/HeaderDesktop/styles.tsx
  packages/website/src/domains/portfolio-page/components/PortfolioFeaturedCaseStudies/styles.tsx
Due: sort-package-json, eslint, prettier --write

style: video player
  package-lock.json
  packages/design-system/package.json
  packages/design-system/src/slices/CaptionedVideoSlice/index.tsx
  packages/design-system/src/slices/GridVideoSlice/index.tsx
  packages/design-system/src/video/VideoBackground/index.tsx
  packages/design-system/src/video/VideoBackground/styles.tsx
  packages/design-system/src/video/VideoCloseButton/index.tsx
  packages/design-system/src/video/VideoCloseButton/stories.tsx
  packages/design-system/src/video/VideoDialog/index.tsx
  packages/design-system/src/video/VideoDialog/load.tsx
  packages/design-system/src/video/VideoDialog/stories.tsx
  packages/design-system/src/video/VideoPlayButton/index.tsx
  packages/design-system/src/video/VideoPlayer/index.tsx
  packages/design-system/src/video/VideoPlayer/stories.tsx
  packages/design-system/src/video/VideoPlayerLink/index.tsx
  packages/design-system/src/video/VideoPlayerLink/stories.tsx
  packages/design-system/src/video/VideoSeekBar/index.tsx
  packages/design-system/src/video/VideoTimeDisplay/index.tsx
  packages/design-system/src/video/VideoViewport/index.tsx
Due: sort-package-json, eslint, prettier --write

chore: play button
  packages/design-system/src/video/VideoViewport/index.tsx
  packages/design-system/src/video/VideoViewport/styles.tsx
Due: eslint

chore: bump eslint
  package-lock.json
  package.json
  packages/eslint/package.json
Due: sort-package-json, prettier --write

chore: bump npm dependencies
  package-lock.json
  package.json
  packages/design-system/package.json
  packages/eslint/package.json
  packages/prismic-dal/package.json
  packages/prismic-factories/package.json
  packages/prismic-helpers/package.json
  packages/prismic-msw/package.json
  packages/prismic-schema/package.json
  packages/socials/package.json
  packages/website-e2e/package.json
  packages/website/package.json
Due: sort-package-json, prettier --write

style: flip card
  package-lock.json
  packages/design-system/package.json
  packages/design-system/src/browser-window/BrowserWindowContent/index.tsx
  packages/design-system/src/browser-window/BrowserWindowTitleBar/index.tsx
  packages/design-system/src/browser-window/BrowserWindowTitleBar/styles.tsx
  packages/design-system/src/flip-card/FlipCard/index.tsx
  packages/design-system/src/flip-card/FlipCard/stories.tsx
  packages/design-system/src/flip-card/FlipCard/styles.tsx
  packages/design-system/src/flip-card/FlipCardContainer/index.tsx
  packages/design-system/src/flip-card/FlipCardContainer/styles.tsx
  packages/design-system/src/flip-card/FlipCardFace/index.tsx
  packages/design-system/src/flip-card/FlipCardFaceBack/index.tsx
  packages/design-system/src/flip-card/FlipCardFaceFront/index.tsx
  packages/website/package.json
  packages/website/src/components/HeaderMobile/styles.tsx
  packages/website/src/domains/home-page/components/HomeFeatured/index.tsx
  packages/website/src/domains/home-page/components/HomeOpenSource/background.png
  packages/website/src/domains/home-page/components/HomeOpenSource/index.tsx
  packages/website/src/domains/home-page/components/HomeOpenSource/styles.tsx
  packages/website/src/domains/home-page/components/HomePageLockup/index.tsx
Due: sort-package-json, eslint, prettier --write

fix: offset
  packages/design-system/src/flip-card/FlipCardContainer/index.tsx
Due: eslint

style: dark mode for window bar
  packages/design-system/src/browser-window/BrowserWindowTitleBar/styles.tsx
  packages/design-system/src/flip-card/FlipCard/index.tsx
  packages/website/src/domains/home-page/components/HomeOpenSource/index.tsx
Due: eslint

style: reduce scroll height
  packages/design-system/src/flip-card/FlipCardContainer/styles.tsx
Due: eslint

fix: moving videos to vimeo
  packages/design-system/src/video/VideoDialog/stories.tsx
  packages/design-system/src/video/VideoPlayer/stories.tsx
  packages/website/src/domains/cookies-page/components/CookiesDetails/index.tsx
Due: eslint

fix: moving show source to site
  packages/website/src/components/FooterCopyright/index.tsx
Due: eslint

style: using next/font optimizations
  package-lock.json
  packages/design-system/package.json
  packages/design-system/src/material-ui/components/MuiCssBaseline/theme.tsx
  packages/design-system/src/material-ui/components/MuiTypography/theme.tsx
  packages/design-system/src/material-ui/fonts/index.ts
  packages/website/package.json
Due: sort-package-json, eslint, prettier --write

fix(sonarqube): key indexes
  package-lock.json
  packages/design-system/package.json
  packages/design-system/src/code/CodeHighlight/index.tsx
  packages/design-system/src/code/CodeHighlight/styles.tsx
  packages/design-system/src/flip-card/FlipCardContainer/index.tsx
  packages/website/package.json
  packages/website/src/domains/home-page/components/HomeOpenSource/index.tsx
Due: sort-package-json, eslint, prettier --write

chore: no array index in key
  packages/eslint/src/configs/react.mjs
Due: none

chore: http headers
  packages/website/next.config.mjs
Due: none

style: flip card scroll positions
  packages/design-system/src/flip-card/FlipCard/index.tsx
  packages/design-system/src/flip-card/FlipCardContainer/index.tsx
Due: eslint

refactor: prismic connection
  packages/prismic-dal/codegen.deps.ts
  packages/prismic-msw/src/prismic/link.ts
  packages/website/src/app/portfolio/[caseStudySlug]/queries.ts
  packages/website/src/app/portfolio/queries.ts
  packages/website/src/app/portfolio/sitemap.ts
  packages/website/src/app/queries.ts
  packages/website/src/app/sitemap.ts
  packages/website/src/libraries/prismic/client.ts
Due: eslint

refactor: prismic access token
  package-lock.json
  packages/prismic-dal/.env.example
  packages/prismic-dal/codegen.deps.ts
  packages/prismic-dal/package.json
  packages/prismic-dal/turbo.json
  packages/website/.env.local.example
  packages/website/src/libraries/prismic/client.ts
  packages/website/turbo.json
Due: sort-package-json, eslint, prettier --write

fix: lint workflow
  .github/workflows/lint.yml
Due: yamllint

chore: prismic previews
  package-lock.json
  packages/website/package.json
  packages/website/src/app/api/prismic/preview/disable/route.ts
  packages/website/src/app/api/prismic/preview/enable/route.ts
  packages/website/src/app/api/prismic/revalidate/route.ts
  packages/website/src/libraries/prismic/client.ts
Due: sort-package-json, eslint, prettier --write

style: svg version
  packages/design-system/src/socials/assets/github-repo.svg
  packages/design-system/src/socials/assets/github.svg
  packages/design-system/src/socials/assets/linked-in-outlined.svg
  packages/design-system/src/socials/assets/linked-in.svg
  packages/design-system/src/socials/assets/medium-clap.svg
  packages/design-system/src/socials/assets/medium.svg
  packages/design-system/src/socials/assets/prismic.svg
  packages/design-system/src/socials/assets/stack-overflow-filled.svg
  packages/design-system/src/socials/assets/stack-overflow.svg
Due: none

style: flip card transition
  packages/design-system/src/flip-card/FlipCard/index.tsx
  packages/design-system/src/flip-card/FlipCard/styles.tsx
  packages/design-system/src/flip-card/FlipCardContainer/styles.tsx
Due: eslint

chore: storybook optimization
  package-lock.json
  packages/design-system/.storybook/main.ts
  packages/design-system/package.json
Due: sort-package-json, eslint, prettier --write

feat: geo debugging
  package-lock.json
  packages/website/package.json
  packages/website/src/app/geo/route.ts
Due: sort-package-json, eslint, prettier --write

chore: using path as URL
  packages/website-e2e/cypress.config.ts
  packages/website/src/app/about/page.tsx
  packages/website/src/app/cookies/page.tsx
  packages/website/src/app/page.tsx
  packages/website/src/app/portfolio/[caseStudySlug]/page.tsx
  packages/website/src/app/portfolio/page.tsx
  packages/website/src/app/portfolio/sitemap.ts
  packages/website/src/app/sitemap.ts
  packages/website/src/app/source/page.tsx
  packages/website/src/libraries/app/generate-canonical.ts
  packages/website/src/libraries/app/path-as-url.ts
Due: eslint

fix: code highlight color scheme
  packages/design-system/src/code/CodeHighlight/index.tsx
Due: eslint

refactor: navigation paths
  packages/website/jest.config.ts
  packages/website/src/app/about/page.tsx
  packages/website/src/app/cookies/page.tsx
  packages/website/src/app/page.tsx
  packages/website/src/app/portfolio/[caseStudySlug]/page.tsx
  packages/website/src/app/portfolio/page.tsx
  packages/website/src/app/portfolio/sitemap.ts
  packages/website/src/app/sitemap.ts
  packages/website/src/app/source/page.tsx
  packages/website/src/components/FooterCopyright/index.tsx
  packages/website/src/components/FooterNavigation/index.tsx
  packages/website/src/components/HeaderActionHome/index.tsx
  packages/website/src/components/HeaderActionPortfolio/index.tsx
  packages/website/src/components/HeaderDesktop/index.tsx
  packages/website/src/components/HeaderPrimary/index.tsx
  packages/website/src/components/HeaderSocial/index.tsx
  packages/website/src/domains/case-study-page/components/CaseStudyCollaborators/index.tsx
  packages/website/src/domains/cookies-page/components/CookiesToast/index.tsx
  packages/website/src/domains/home-page/components/HomeFeatured/index.tsx
  packages/website/src/domains/home-page/components/HomeOpenSource/index.tsx
  packages/website/src/domains/portfolio-page/components/PortfolioCaseStudyBrick/index.tsx
  packages/website/src/domains/portfolio-page/components/PortfolioFeaturedCaseStudies/index.tsx
  packages/website/src/libraries/app/navigation.ts
  packages/website/src/libraries/app/navigation/about.spec.ts
  packages/website/src/libraries/app/navigation/about.ts
  packages/website/src/libraries/app/navigation/case-study.spec.ts
  packages/website/src/libraries/app/navigation/case-study.ts
  packages/website/src/libraries/app/navigation/cookies.spec.ts
  packages/website/src/libraries/app/navigation/cookies.ts
  packages/website/src/libraries/app/navigation/home.spec.ts
  packages/website/src/libraries/app/navigation/home.ts
  packages/website/src/libraries/app/navigation/porfolio.spec.ts
  packages/website/src/libraries/app/navigation/portfolio.ts
  packages/website/src/libraries/app/navigation/socials.spec.ts
  packages/website/src/libraries/app/navigation/socials.ts
  packages/website/src/libraries/app/navigation/source.spec.ts
  packages/website/src/libraries/app/navigation/source.ts
  packages/website/src/libraries/app/path-as-url.spec.ts
  packages/website/src/libraries/app/path-as-url.ts
  packages/website/src/libraries/prismic/link-resolver.ts
Due: eslint

chore: dynamic sitemaps
  package-lock.json
  packages/website/next.config.mjs
  packages/website/next.rewrites.mjs
  packages/website/package.json
  packages/website/public/sitemap.xml
  packages/website/src/app/portfolio/sitemap.ts
  packages/website/src/app/sitemap.ts
  packages/website/src/app/sitemaps/case-studies/sitemap.ts
  packages/website/src/app/sitemaps/pages/sitemap.ts
  packages/website/src/app/sitemaps/route.ts
  packages/website/src/libraries/app/sitemap.ts
Due: sort-package-json, eslint, prettier --write

ci: bump sonarqube from 5.3.0 to 5.3.1
  .github/workflows/sonarcloud.yml
Due: yamllint

fix: sonarqube test coverage
  .github/workflows/sonarcloud.yml
  README.md
Due: prettier --write, yamllint

refactor: move headers into a separate file
  packages/website/next.config.mjs
  packages/website/next.headers.mjs
Due: none

refactor: robots.txt
  packages/website/public/robots.txt
  packages/website/src/app/robots.ts
Due: eslint

refactor: queries
  packages/website/src/app/page.tsx
  packages/website/src/app/portfolio/[caseStudySlug]/page.tsx
  packages/website/src/app/portfolio/[caseStudySlug]/queries.ts
  packages/website/src/app/portfolio/page.tsx
  packages/website/src/components/HeaderDesktop/index.tsx
  packages/website/src/components/HeaderIntersection/index.tsx
  packages/website/src/domains/case-study-page/queries/get-case-study-body.ts
  packages/website/src/domains/case-study-page/queries/get-case-study-page.ts
  packages/website/src/domains/case-study-page/queries/get-case-study-slugs.ts
  packages/website/src/domains/home-page/queries/get-home-page.ts
  packages/website/src/domains/navigation/actions.ts
  packages/website/src/domains/navigation/context.ts
  packages/website/src/domains/navigation/provider.tsx
  packages/website/src/domains/navigation/reducer.ts
  packages/website/src/domains/navigation/state.ts
  packages/website/src/domains/portfolio-page/queries/get-portfolio-page.ts
  packages/website/src/layouts/SiteLayout/index.tsx
Due: eslint

test: partials
  packages/design-system/jest.config.ts
  packages/design-system/src/slices/AccoladeSlice/index.spec.tsx
  packages/design-system/src/slices/AccoladeSlice/index.tsx
  packages/design-system/src/slices/CaptionedImageSlice/index.spec.tsx
  packages/design-system/src/slices/NewspaperSlice/index.spec.tsx
  packages/design-system/src/slices/SubtitleSlice/index.spec.tsx
  packages/prismic-factories/package.json
  packages/prismic-factories/src/prismic/prismicDateFactory.ts
  packages/prismic-factories/src/prismic/prismicDateTimeFactory.ts
  packages/prismic-factories/src/prismic/prismicEmbedFactory.ts
  packages/prismic-factories/src/prismic/prismicEmbedTwitterFactory.ts
  packages/prismic-factories/src/prismic/prismicHeadingFactory.ts
  packages/prismic-factories/src/slice-types/AccoladeSliceType/accoladeSliceFactory.ts
  packages/prismic-factories/src/slice-types/AccoladeSliceType/accoladeSlicePrimaryFactory.ts
  packages/prismic-factories/src/slice-types/ExhibitionSliceType/exhibitionSlicePrimaryFactory.ts
Due: sort-package-json, eslint, prettier --write

Path conditions:
  sort-package-json: any of: package.json
  stylelint: any of: *.{css,scss}
  eslint: any of: *.{js,ts,tsx}
  prettier --write: ((any of: *.html) or (any of: *.json)) or (any of: *.md)
  yamllint: any of: *.{yml,yaml}
