Repository bashaus/bashkim-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

chore(styles): aligned headings
  package-lock.json
  package.json
  src/components/AboutProfile/styles.module.scss
  src/components/Brick/styles.module.scss
  src/components/CaseStudyTechnologies/styles.module.scss
  src/components/PartialFullBanner/stories.tsx
  src/components/Tile/styles.module.scss
  src/styleguide/base/headings/_styles.scss
  src/styleguide/utils/_wysiwyg.scss
Due: eslint, prettier --write, stylelint

chore(lint): eslint
  src/components/PartialCaptioned/stories.tsx
Due: eslint, prettier --write

chore(typescript): added .vscode configuration
  .vscode/settings.json
Due: none

chore(seo): moved seo redirects out of configuration
  src/config/_schema/index.js
  src/config/_schema/seo.json
  src/middleware/seo/router.js
  src/middleware/seo/schema/301-moved-permanently.json
  src/middleware/seo/schema/410-gone.json
Due: eslint, prettier --write

chore(styles): fixed heading3 import
  src/components/AboutProfile/styles.module.scss
Due: stylelint

chore(typescript): migrate custom next server to typescript
  lambda.js
  next.config.js
  package-lock.json
  package.json
  server.js
  src/config/_schema/index.js
  src/config/_schema/sitemap.json
  src/config/index.ts
  src/config/schema.ts
  src/config/schema/googleAnalytics.json
  src/config/schema/next.json
  src/config/schema/prismic.json
  src/config/schema/sentry.json
  src/config/schema/server.json
  src/config/schema/sitemap.json
  src/libraries/next/errors/NotFoundError.ts
  src/libraries/prismic/client.ts
  src/libraries/prismic/traits/seo/schema.ts
  src/libraries/prismic/traits/uid/schema.ts
  src/middleware/caseStudies/sitemap.js
  src/middleware/caseStudies/sitemap.ts
  src/middleware/pages/sitemap.js
  src/middleware/pages/sitemap.ts
  src/middleware/router.js
  src/middleware/router.ts
  src/middleware/seo/router.js
  src/middleware/seo/router.ts
  src/middleware/sitemaps/generators/sitemap.js
  src/middleware/sitemaps/generators/sitemap.ts
  src/middleware/sitemaps/generators/sitemapindex.js
  src/middleware/sitemaps/generators/sitemapindex.ts
  src/middleware/sitemaps/router.js
  src/middleware/sitemaps/router.ts
  src/middleware/sitemaps/sitemaps.ts
  src/middleware/sitemaps/url.ts
  src/server/init.ts
  src/server/lambda.ts
  src/server/tsconfig.json
Due: eslint, prettier --write

chore(lambda): moved file
  lambda.js
  src/server/tsconfig.json
Due: eslint, prettier --write

chore(ga): removing
  src/components/TrackingGoogleAnalytics/index.tsx
  src/components/TrackingGoogleAnalytics/sagas.js
  src/config/local/googleAnalytics.json
  src/config/schema.ts
  src/config/schema/googleAnalytics.json
  src/pages/_document.tsx
Due: eslint, prettier --write

chore(server): convert to typescript
  .babelrc
  .gitignore
  lambda.js
  next.config.js
  package-lock.json
  package.json
  src/components/CaseStudyHeader/index.tsx
  src/components/MetaCanonical/index.tsx
  src/config/environment/local.ts
  src/config/index.ts
  src/config/local/next.json
  src/config/local/sentry.json
  src/config/local/sitemap.json
  src/config/schema.ts
  src/config/schema/next.json
  src/config/schema/next.ts
  src/config/schema/prismic.json
  src/config/schema/prismic.ts
  src/config/schema/sentry.json
  src/config/schema/sentry.ts
  src/config/schema/server.json
  src/config/schema/server.ts
  src/config/schema/sitemap.json
  src/config/schema/sitemap.ts
  src/libraries/prismic/client.ts
  src/middleware/caseStudies/sitemap.ts
  src/middleware/pages/sitemap.ts
  src/middleware/sitemaps/generators/sitemap.ts
  src/middleware/sitemaps/generators/sitemapindex.ts
  src/middleware/sitemaps/sitemaps.ts
  src/pages/_app.tsx
  src/server/init.ts
  src/server/tsconfig.json
  tsconfig.build.json
  tsconfig.json
  tsconfig.run.json
Due: eslint, prettier --write

chore(typescript): paths in production
  .circleci/config.yml
  package-lock.json
  package.json
Due: none

chore(lambda): better detection
  .prettierignore
  serverless.yml
  src/config/schema/server.ts
Due: eslint, prettier --write

chore(lambda): better detection
  lambda.js
  serverless.yml
  src/config/schema/server.ts
Due: eslint, prettier --write

chore(faker): added to be used in stories and tests
  .storybook/webpack.config.js
  package-lock.json
  package.json
  src/components/PartialNewspaper/stories.tsx
Due: eslint, prettier --write

chore(cta): fixed hover states
  src/components/CallToAction/stories.tsx
  src/components/CallToAction/styles.module.scss
  src/pages/about/index.tsx
  src/pages/index.tsx
Due: eslint, prettier --write, stylelint

chore(dotenv): fixed dotenv
  src/config/index.ts
Due: eslint, prettier --write

chore(config): configuration management through next
  .vscode/settings.json
  next.config.js
  src/components/MetaCanonical/index.tsx
  src/config/index.ts
  src/libraries/prismic/client.ts
  src/pages/_app.tsx
Due: eslint, prettier --write

chore(magazine): added captioned magazine story
  src/components/Magazine/styles.module.scss
  src/libraries/prismic/slice-types/CaptionedMagazine/component.tsx
  src/libraries/prismic/slice-types/CaptionedMagazine/fixture.json
  src/libraries/prismic/slice-types/CaptionedMagazine/stories.tsx
Due: eslint, prettier --write, stylelint

chore(magazine): separated magazine for better control
  config/jest/cssTransform.js
  jest.config.js
  package-lock.json
  package.json
  src/components/LayoutDefault/index.tsx
  src/components/Magazine/index.tsx
  src/components/Magazine/stories.tsx
  src/components/Magazine/styles.module.scss
  src/components/PartialMagazine/helpers.spec.ts
  src/components/PartialMagazine/helpers.ts
  src/components/PartialMagazine/index.tsx
  src/components/PartialMagazine/stories.tsx
  src/components/Turn/index.tsx
  src/components/Turn/stories.tsx
  src/components/Turn/styles.module.scss
  src/libraries/prismic/slice-types/CaptionedMagazine/component.tsx
  src/libraries/prismic/slice-types/CaptionedMagazine/fixture.json
  src/libraries/prismic/slice-types/CaptionedMagazine/styles.module.scss
  src/libraries/react/debounce.tsx
  src/styleguide/base/normalise/_styles.scss
  src/styleguide/utils/_z-index.scss
Due: eslint, prettier --write, stylelint

chore(storybook): amended file URLs
  .storybook/decorators/component/index.tsx
  .storybook/decorators/component/styles.module.scss
  src/components/Brick/stories.tsx
  src/components/CallToAction/stories.tsx
  src/components/Carousel/stories.tsx
  src/components/DeviceFeaturePhone/stories.tsx
  src/components/DeviceSmartphone/stories.tsx
  src/components/Logo/stories.tsx
  src/components/Magazine/helpers.spec.ts
  src/components/Magazine/helpers.ts
  src/components/Magazine/index.tsx
  src/components/Magazine/stories.tsx
  src/components/MenuSignifierButton/stories.tsx
  src/components/MenuSignifierButton/styles.module.scss
  src/components/PartialCaptioned/stories.tsx
  src/components/PartialFullBanner/stories.tsx
  src/components/PartialFullImage/stories.tsx
  src/components/PartialFullText/stories.tsx
  src/components/PartialHeaderImage/stories.tsx
  src/components/PartialTitle/stories.tsx
  src/components/Tile/stories.tsx
  src/components/Turn/stories.tsx
  src/components/VideoPlayerYouTube/stories.tsx
  src/libraries/prismic/content-types/case_study/tabs/images/schema.ts
  src/libraries/prismic/content-types/technology/tabs/technology/schema.ts
  src/libraries/prismic/slice-types/CaptionedImage/fixture.json
  src/libraries/prismic/slice-types/CaptionedMagazine/component.tsx
  src/libraries/prismic/slice-types/CaptionedScreenshots/fixture.json
Due: eslint, prettier --write, stylelint

chore(ci): build/test in develop
  .circleci/config.yml
Due: none

chore(ci): serverless deployment
  .circleci/config.yml
  .slsignore
  package.json
  serverless.yml
  yarn.lock
Due: none

chore(next): identify dev
  .slsignore
  packages/application/lambda.js
Due: eslint, prettier --write

chore(serverless): do not exclude dev dependencies
  .circleci/config.yml
  package.json
  serverless.yml
  yarn.lock
Due: none

chore(serverless): plugin dependencies
  .circleci/config.yml
  .slsignore
  package.json
  yarn.lock
Due: none

feat(serverless): jetpack
  .circleci/config.yml
  .slsignore
  package.json
  packages/sitemap/package.json
  serverless.yml
  yarn.lock
Due: none

chore(sentry): added serverless-sentry-lib as a dependency
  packages/application/package.json
Due: none

chore(sentry): simplifying version
  packages/application/package.json
  yarn.lock
Due: none

chore(yarn): simplified workspace commands
  .circleci/config.yml
  package.json
  packages/application/lambda.js
Due: eslint, prettier --write

chore(sentry): remove
  .env.example
  package.json
  packages/application/lambda.js
  packages/application/package.json
  packages/application/src/components/SentryBoundary/index.tsx
  packages/application/src/libraries/sentry/init.ts
  packages/application/src/pages/_app.tsx
  packages/config/src/environment/local.ts
  packages/config/src/schema.ts
  packages/config/src/schema/sentry.ts
  serverless.yml
  yarn.lock
Due: eslint, prettier --write

chore(serverless): request handler
  packages/application/lambda.js
Due: eslint, prettier --write

chore(serverless): added dev script
  package.json
Due: none

feat(sentry): added sentry
  .env.example
  package.json
  packages/application/lambda.js
  packages/application/package.json
  packages/application/src/components/SentryBoundary/index.tsx
  packages/application/src/components/SentryBoundary/stories.tsx
  packages/application/src/components/SentryBoundary/styles.module.scss
  packages/application/src/libraries/sentry/init.ts
  packages/application/src/pages/_app.tsx
  packages/config/src/environment/local.ts
  packages/config/src/schema.ts
  packages/config/src/schema/sentry.ts
  serverless.yml
  yarn.lock
Due: eslint, prettier --write, stylelint

feat(google analytics): added google analytics
  packages/application/src/components/GoogleAnalytics/index.tsx
  packages/application/src/components/LayoutDefault/index.tsx
  packages/config/src/environment/local.ts
  packages/config/src/schema.ts
  packages/config/src/schema/googleAnalytics.ts
Due: eslint, prettier --write

feat(cookies): persist cookies consent
  packages/application/package.json
  packages/application/src/contexts/Cookies/index.tsx
  yarn.lock
Due: eslint, prettier --write

chore(typo): fixed URL reference to main website
  README.md
Due: eslint, prettier --write

chore(vscode): added extensions and updated formatting
  .vscode/extensions.json
  .vscode/settings.json
Due: none

chore(storybook): removing dark theme
  packages/application/.storybook/manager.js
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx,md,html}
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html}
  stylelint: any of: *.{css,scss}
