Repository bashaus/bashkim-com: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, stylelint, eslint, prettier --write, yamllint

chore: do not cache pip
  .github/workflows/lint.yaml
Due: yamllint

ci: replace husky with pre-commit (#4303)
  .github/workflows/lint.yaml
  .gitlint
  .husky/commit-msg
  .husky/pre-commit
  .pre-commit-config.yaml
  .prettierrc.json
  commitlint.config.mjs
  package-lock.json
  package.json
  packages/prismic-factories/package.json
  packages/prismic-msw/package.json
  packages/website/package.json
Due: sort-package-json, prettier --write, yamllint

chore: bump storybook from 9.1.15 to 10.3.3
  package-lock.json
  package.json
  packages/design-system/.storybook/main.ts
  packages/design-system/package.json
  packages/design-system/src/carousel/Carousel/stories.tsx
  packages/eslint/package.json
  packages/website/next-env.d.ts
  packages/website/package.json
Due: sort-package-json, eslint, prettier --write

chore: disable dependabot
  .github/dependabot.yaml
Due: yamllint

chore: bump material-ui to 7.3.9
  package-lock.json
  packages/design-system/package.json
  packages/website/package.json
Due: sort-package-json, prettier --write

chore: dedupe
  package-lock.json
Due: prettier --write

ci: npm dedupe
  .github/dependabot.yaml
  package-lock.json
Due: prettier --write, yamllint

ci: disable npm dependabot
  .github/dependabot.yaml
Due: yamllint

fix: bump systeminformation from 5.30.7 to 5.31.5
  package-lock.json
Due: prettier --write

chore: upgrade codegen
  package-lock.json
  packages/prismic-dal/package.json
  packages/socials/package.json
  packages/website/next-env.d.ts
Due: sort-package-json, eslint, prettier --write

chore: bump sass from 1.97.1 to 1.98.0
  package-lock.json
  package.json
Due: sort-package-json, prettier --write

chore(website): vitest
  package-lock.json
  packages/website/package.json
  packages/website/vitest.config.ts
  packages/website/vitest.setup.ts
Due: sort-package-json, eslint, prettier --write

chore(socials): vitest
  package-lock.json
  packages/socials/package.json
  packages/socials/src/medium/helpers.spec.ts
  packages/socials/tsconfig.json
  packages/socials/vitest.config.ts
Due: sort-package-json, eslint, prettier --write

refactor: remove jest
  .jest/setup/next.ts
  .jest/setup/testing-library.jsdom.ts
  .jest/transform/svg.ts
  package-lock.json
  packages/design-system/jest.config.ts
  packages/design-system/package.json
  packages/eslint/package.json
  packages/eslint/src/configs/base.mjs
  packages/socials/jest.config.ts
  packages/socials/package.json
  packages/tsconfig/tsconfig.base.json
  packages/website/jest.config.ts
  packages/website/package.json
  sonar-project.properties
Due: sort-package-json, eslint, prettier --write

chore: move jest.fn to vi.fn
  packages/design-system/src/carousel/CarouselButtonBack/index.spec.tsx
  packages/design-system/src/carousel/CarouselButtonNext/index.spec.tsx
Due: eslint

chore: vitest typescript globals
  packages/tsconfig/tsconfig.base.json
Due: prettier --write

fix: vitest svgr
  package-lock.json
  packages/design-system/package.json
  packages/design-system/vitest.config.ts
  packages/design-system/vitest.setup.ts
Due: sort-package-json, eslint, prettier --write

chore: do not mix storybook with vitest
  packages/design-system/src/carousel/CarouselButtonBack/index.spec.tsx
  packages/design-system/src/carousel/CarouselButtonNext/index.spec.tsx
Due: eslint

feat: migrate from jest to vitest (#4316)
  .jest/setup/next.ts
  .jest/setup/testing-library.jsdom.ts
  .jest/transform/svg.ts
  package-lock.json
  packages/design-system/jest.config.ts
  packages/design-system/package.json
  packages/design-system/src/carousel/CarouselButtonBack/index.spec.tsx
  packages/design-system/src/carousel/CarouselButtonNext/index.spec.tsx
  packages/design-system/vitest.config.ts
  packages/design-system/vitest.setup.ts
  packages/eslint/package.json
  packages/eslint/src/configs/base.mjs
  packages/socials/jest.config.ts
  packages/socials/package.json
  packages/socials/src/medium/helpers.spec.ts
  packages/socials/tsconfig.json
  packages/socials/vitest.config.ts
  packages/tsconfig/tsconfig.base.json
  packages/website/jest.config.ts
  packages/website/package.json
  packages/website/vitest.config.ts
  packages/website/vitest.setup.ts
  sonar-project.properties
Due: sort-package-json, eslint, prettier --write

fix: vscode ts settings
  .vscode/settings.json
Due: prettier --write

refactor: cypress e2e
  .github/workflows/codeql.yaml
  .github/workflows/e2e-schedule.yaml
  .github/workflows/e2e-vercel.yaml
  .github/workflows/e2e.yaml
  .github/workflows/lighthouse-vercel.yaml
  .github/workflows/lighthouse.yaml
  .github/workflows/lint.yaml
  .github/workflows/sonarcloud.yaml
  .github/workflows/vercel-e2e.yaml
  .github/workflows/vercel-lighthouse.yaml
Due: yamllint

chore: merging vercel jobs
  .github/workflows/e2e-dispatch.yaml
  .github/workflows/e2e-vercel.yaml
  .github/workflows/vercel.yaml
Due: yamllint

chore: lhci matrix
  .github/workflows/e2e.yaml
  .github/workflows/lighthouse.yaml
Due: yamllint

refactor: reusable github actions (#4317)
  .github/workflows/codeql.yaml
  .github/workflows/e2e-dispatch.yaml
  .github/workflows/e2e-schedule.yaml
  .github/workflows/e2e.yaml
  .github/workflows/lighthouse.yaml
  .github/workflows/lint.yaml
  .github/workflows/sonarcloud.yaml
  .github/workflows/vercel-e2e.yaml
  .github/workflows/vercel-lighthouse.yaml
  .github/workflows/vercel.yaml
Due: yamllint

ci: update e2e
  .github/workflows/e2e-dispatch.yaml
  .github/workflows/e2e-schedule.yaml
Due: yamllint

chore: upgrade cypress
  package-lock.json
  packages/website-e2e/package.json
Due: sort-package-json, prettier --write

ci: lighthouse
  .github/workflows/lighthouse-dispatch.yaml
  .github/workflows/lighthouse-schedule.yaml
Due: yamllint

test: socials e2e testing
  packages/website-e2e/cypress/e2e/01-navigation/navigation.cy.ts
  packages/website-e2e/cypress/e2e/02-socials/github.cy.ts
  packages/website-e2e/cypress/e2e/02-socials/linked-in.cy.ts
  packages/website-e2e/cypress/e2e/02-socials/medium.cy.ts
  packages/website-e2e/cypress/e2e/02-socials/stack-overflow.cy.ts
  packages/website/next-env.d.ts
Due: eslint

test: socials e2e testing (#4318)
  packages/website-e2e/cypress/e2e/01-navigation/navigation.cy.ts
  packages/website-e2e/cypress/e2e/02-socials/github.cy.ts
  packages/website-e2e/cypress/e2e/02-socials/linked-in.cy.ts
  packages/website-e2e/cypress/e2e/02-socials/medium.cy.ts
  packages/website-e2e/cypress/e2e/02-socials/stack-overflow.cy.ts
  packages/website/next-env.d.ts
Due: eslint

docs: update readme
  LICENSE.md
  README.md
  package.json
  packages/website/src/components/FooterCopyright/index.tsx
Due: sort-package-json, eslint, prettier --write

test: enable vitest coverage
  packages/design-system/vitest.config.ts
  packages/socials/vitest.config.ts
  packages/website/vitest.config.ts
Due: eslint

fix: cypress vercel env secret
  package-lock.json
  packages/website-e2e/cypress.config.ts
  packages/website-e2e/cypress/support/e2e.ts
  packages/website-e2e/package.json
  packages/website-e2e/tsconfig.json
Due: sort-package-json, eslint, prettier --write

ci: include sonarcloud on pr
  .github/workflows/sonarcloud.yaml
Due: yamllint

chore: not on pull request
  .github/workflows/sonarcloud.yaml
  packages/website/next-env.d.ts
Due: eslint, yamllint

fix: cypress vercel env secret (#4319)
  package-lock.json
  packages/website-e2e/cypress.config.ts
  packages/website-e2e/cypress/support/e2e.ts
  packages/website-e2e/package.json
  packages/website-e2e/tsconfig.json
  packages/website/next-env.d.ts
Due: sort-package-json, eslint, prettier --write

test: lcov
  packages/design-system/vitest.config.ts
  packages/socials/vitest.config.ts
  packages/website/vitest.config.ts
Due: eslint

refactor: stack overflow zod api
  package-lock.json
  packages/socials/package.json
  packages/socials/src/index.ts
  packages/socials/src/stack-overflow/get-posts.ts
  packages/socials/src/stack-overflow/get-posts/fixture.json
  packages/socials/src/stack-overflow/get-posts/index.spec.ts
  packages/socials/src/stack-overflow/get-posts/index.ts
  packages/socials/src/stack-overflow/get-posts/schema.spec.ts
  packages/socials/src/stack-overflow/get-posts/schema.ts
  packages/socials/src/stack-overflow/get-user.ts
  packages/socials/src/stack-overflow/get-user/fixture.json
  packages/socials/src/stack-overflow/get-user/index.spec.ts
  packages/socials/src/stack-overflow/get-user/index.ts
  packages/socials/src/stack-overflow/get-user/schema.spec.ts
  packages/socials/src/stack-overflow/get-user/schema.ts
  packages/socials/src/stack-overflow/index.ts
  packages/socials/src/stack-overflow/response/schema.ts
  packages/socials/src/stack-overflow/track-quota/index.spec.ts
  packages/socials/src/stack-overflow/track-quota/index.ts
  packages/socials/src/stack-overflow/types.ts
  packages/website/next-env.d.ts
Due: sort-package-json, eslint, prettier --write

fix: types
  packages/socials/src/index.ts
  packages/socials/src/stack-overflow/get-posts/index.ts
  packages/socials/src/stack-overflow/get-user/index.ts
  packages/website/next-env.d.ts
Due: eslint

refactor: stack overflow zod api (#4320)
  package-lock.json
  packages/socials/package.json
  packages/socials/src/index.ts
  packages/socials/src/stack-overflow/get-posts.ts
  packages/socials/src/stack-overflow/get-posts/fixture.json
  packages/socials/src/stack-overflow/get-posts/index.spec.ts
  packages/socials/src/stack-overflow/get-posts/index.ts
  packages/socials/src/stack-overflow/get-posts/schema.spec.ts
  packages/socials/src/stack-overflow/get-posts/schema.ts
  packages/socials/src/stack-overflow/get-user.ts
  packages/socials/src/stack-overflow/get-user/fixture.json
  packages/socials/src/stack-overflow/get-user/index.spec.ts
  packages/socials/src/stack-overflow/get-user/index.ts
  packages/socials/src/stack-overflow/get-user/schema.spec.ts
  packages/socials/src/stack-overflow/get-user/schema.ts
  packages/socials/src/stack-overflow/index.ts
  packages/socials/src/stack-overflow/response/schema.ts
  packages/socials/src/stack-overflow/track-quota/index.spec.ts
  packages/socials/src/stack-overflow/track-quota/index.ts
  packages/socials/src/stack-overflow/types.ts
Due: sort-package-json, eslint, prettier --write

Path conditions:
  sort-package-json: any of: package.json
  stylelint: any of: *.{css,scss}
  eslint: any of: *.{js,ts,tsx}
  prettier --write: ((any of: *.html) or (any of: *.json)) or (any of: *.md)
  yamllint: any of: *.{yml,yaml}
