Repository bashaus/bashkim-com: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, stylelint, eslint, prettier --write, yamllint

.lintstagedrc.json:

{
  "package.json": ["sort-package-json"],
  "*.{css,scss}": ["stylelint"],
  "*.{js,ts,tsx}": ["eslint"],
  "*.html": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.{yml,yaml}": ["yamllint"]
}

chore(infrastructure): rename terraform files
  infrastructure/modules/packages/socials-server/resource.elastic_ip.tf
  infrastructure/modules/packages/socials-server/resource.elasticache_cluster.tf
  infrastructure/modules/packages/socials-server/resource.elasticache_subnet_group.tf
  infrastructure/modules/packages/socials-server/resource.internet_gateway.tf
  infrastructure/modules/packages/socials-server/resource.nat_gateway.tf
  infrastructure/modules/packages/socials-server/resource.route_table.tf
  infrastructure/modules/packages/socials-server/resource.route_table_association.tf
  infrastructure/modules/packages/socials-server/resource.subnet_private.tf
  infrastructure/modules/packages/socials-server/resource.subnet_public.tf
  infrastructure/modules/packages/socials-server/resource.vpc.tf
Due: none

chore(deps-dev): bump storybook from 7.1.1 to 7.3.0
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

ci(infrastructure): removing deploy-serverless job
  .circleci/config.yml
Due: yamllint

ci(website): build with context
  .circleci/config.yml
Due: yamllint

chore(deps-dev): bump storybook from 7.3.0 to 7.3.2
  packages/design-system/.storybook/main.ts
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(infrastructure): remove vpc
  infrastructure/modules/packages/prismic-webhooks/module.variables.tf
  infrastructure/modules/packages/prismic-webhooks/resource.lambda.tf
  infrastructure/modules/packages/sitemap/module.variables.tf
  infrastructure/modules/packages/sitemap/resource.lambda.tf
  infrastructure/modules/packages/socials-server/module.variables.tf
  infrastructure/modules/packages/socials-server/resource.cache_cluster.tf
  infrastructure/modules/packages/socials-server/resource.cache_subnet_group.tf
  infrastructure/modules/packages/socials-server/resource.lambda.tf
  infrastructure/modules/structure/lambda/resource.iam_role.tf
  infrastructure/modules/structure/vpc/module.outputs.tf
  infrastructure/modules/structure/vpc/module.variables.tf
  infrastructure/modules/structure/vpc/resource.elastic_ip.tf
  infrastructure/modules/structure/vpc/resource.internet_gateway.tf
  infrastructure/modules/structure/vpc/resource.nat_gateway.tf
  infrastructure/modules/structure/vpc/resource.route_private.tf
  infrastructure/modules/structure/vpc/resource.route_public.tf
  infrastructure/modules/structure/vpc/resource.subnet_private.tf
  infrastructure/modules/structure/vpc/resource.subnet_public.tf
  infrastructure/modules/structure/vpc/resource.vpc.tf
  infrastructure/modules/template/lambda/module.variables.tf
  infrastructure/modules/template/lambda/resource.lambda.tf
  infrastructure/package.prismic_webhooks.tf
  infrastructure/package.sitemap.tf
  infrastructure/package.socials_server.tf
  infrastructure/structure.vpc.tf
  packages/socials-server/package.json
  packages/socials-server/src/app/services/cache/drivers/redis.ts
  packages/socials-server/src/app/services/cache/index.ts
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(deps-dev): bump storybook from 7.3.2 to 7.4.0
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps-dev): bump storybook from 7.4.0 to 7.4.2
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps-dev): bump storybook from 7.4.5 to 7.4.6
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(vscode): remove jest-runner
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

chore(deps-dev): bump svgo from 3.0.3 to 3.1.0
  package.json
  packages/design-system/src/assets/vectors/devices/feature-phone.svg
  packages/design-system/src/assets/vectors/devices/smartphone.svg
  packages/design-system/src/assets/vectors/trophy.svg
  packages/website/src/assets/vectors/icons/MediumClap.svg
  packages/website/src/assets/vectors/icons/Portfolio.svg
  packages/website/src/assets/vectors/social/GitHub.svg
  packages/website/src/assets/vectors/social/LinkedIn.svg
  packages/website/src/assets/vectors/social/LinkedInOutlined.svg
  packages/website/src/assets/vectors/social/Prismic.svg
  packages/website/src/assets/vectors/social/StackOverflow.svg
  packages/website/src/assets/vectors/social/StackOverflowFilled.svg
  packages/website/src/lockups/AboutPage/assets/principles/ethically.svg
  packages/website/src/lockups/AboutPage/assets/principles/maintainable.svg
  packages/website/src/lockups/AboutPage/assets/principles/on-time.svg
  packages/website/src/lockups/AboutPage/assets/principles/robust.svg
  packages/website/src/lockups/AboutPage/assets/principles/securely.svg
  packages/website/src/lockups/AboutPage/assets/principles/to-satisfaction.svg
  packages/website/src/lockups/AboutPage/assets/principles/to-specification.svg
  packages/website/src/lockups/AboutPage/assets/principles/within-budget.svg
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps-dev): bump storybook from 7.5.2 to 7.6.6
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

refactor(xstate): upgrade to version 5.4.1
  packages/website/package.json
  packages/website/src/components/SocialMenuGitHub/SocialMenuGitHub.viewModel.ts
  packages/website/src/components/SocialMenuMedium/SocialMenuMedium.viewModel.ts
  packages/website/src/components/SocialMenuStackOverflow/SocialMenuStackOverflow.viewModel.ts
  packages/website/src/machines/Promise/PromiseMachine.action.ts
  packages/website/src/machines/Promise/PromiseMachine.actors.ts
  packages/website/src/machines/Promise/PromiseMachine.context.ts
  packages/website/src/machines/Promise/PromiseMachine.events.ts
  packages/website/src/machines/Promise/PromiseMachine.machine.ts
  packages/website/src/machines/Promise/PromiseMachine.service.ts
  yarn.lock
Due: sort-package-json, eslint, prettier --write

refactor(xstate): upgrade to version 5.4.1 (#3337)
  packages/website/package.json
  packages/website/src/components/SocialMenuGitHub/SocialMenuGitHub.viewModel.ts
  packages/website/src/components/SocialMenuMedium/SocialMenuMedium.viewModel.ts
  packages/website/src/components/SocialMenuStackOverflow/SocialMenuStackOverflow.viewModel.ts
  packages/website/src/machines/Promise/PromiseMachine.action.ts
  packages/website/src/machines/Promise/PromiseMachine.actors.ts
  packages/website/src/machines/Promise/PromiseMachine.context.ts
  packages/website/src/machines/Promise/PromiseMachine.events.ts
  packages/website/src/machines/Promise/PromiseMachine.machine.ts
  packages/website/src/machines/Promise/PromiseMachine.service.ts
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(jest): pass with no test
  package.json
  packages/design-system/package.json
  packages/prismic-fixtures/package.json
  packages/prismic-helpers/package.json
  packages/prismic-schema/package.json
  packages/prismic-webhooks/package.json
  packages/sitemap/package.json
  packages/style-guide/package.json
  packages/website/package.json
Due: sort-package-json, prettier --write

chore(node): upgrading node to version 20.10.0 LTS
  .circleci/config.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/test.yml
  .nvmrc
Due: yamllint

chore(node): upgrading node to version 20.10.0 LTS (#3340)
  .circleci/config.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/test.yml
  .nvmrc
Due: yamllint

chore(deps-dev): bump storybook from 7.6.6 to 7.6.7
  package.json
  packages/design-system/package.json
  packages/design-system/src/assets/vectors/devices/feature-phone.svg
  packages/design-system/src/assets/vectors/trophy.svg
  packages/website/src/assets/vectors/icons/MediumClap.svg
  packages/website/src/assets/vectors/icons/Portfolio.svg
  packages/website/src/assets/vectors/social/LinkedIn.svg
  packages/website/src/assets/vectors/social/LinkedInOutlined.svg
  packages/website/src/assets/vectors/social/Prismic.svg
  packages/website/src/lockups/AboutPage/assets/principles/maintainable.svg
  packages/website/src/lockups/AboutPage/assets/principles/on-time.svg
  packages/website/src/lockups/AboutPage/assets/principles/robust.svg
  packages/website/src/lockups/AboutPage/assets/principles/to-satisfaction.svg
  packages/website/src/lockups/AboutPage/assets/principles/to-specification.svg
  packages/website/src/lockups/AboutPage/assets/principles/within-budget.svg
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps-dev): bump prettier from 3.2.2 to 3.2.4
  package.json
  packages/design-system/.storybook/tsconfig.json
  packages/design-system/tsconfig.json
  packages/prismic-fixtures/tsconfig.json
  packages/prismic-helpers/tsconfig.json
  packages/prismic-schema/tsconfig.json
  packages/prismic-webhooks/tsconfig.json
  packages/sitemap/tsconfig.json
  packages/socials-server/tsconfig.json
  packages/style-guide/tsconfig.json
  packages/website-e2e/tsconfig.json
  packages/website/tsconfig.json
  packages/xray-lambda/tsconfig.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps-dev): bump storybook from 7.6.7 to 7.6.10
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps-dev): bump prettier from 3.2.4 to 3.2.5
  package.json
  packages/design-system/.storybook/tsconfig.json
  packages/design-system/tsconfig.json
  packages/prismic-fixtures/tsconfig.json
  packages/prismic-helpers/tsconfig.json
  packages/prismic-schema/tsconfig.json
  packages/prismic-webhooks/tsconfig.json
  packages/sitemap/tsconfig.json
  packages/socials-server/tsconfig.json
  packages/style-guide/tsconfig.json
  packages/website-e2e/tsconfig.json
  packages/website/tsconfig.json
  packages/xray-lambda/tsconfig.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps-dev): bump storybook from 7.6.10 to 8.0.9
  packages/design-system/.storybook/main.ts
  packages/design-system/.storybook/preview.ts
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write

fix: graphql schema ref
  packages/socials-server/codegen.ts
Due: eslint

chore: bump storybook to from 8.0.9 to 8.0.10
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore: bump storybook to from 1.13.2 to 1.13.3
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore: remove unused icons
  packages/design-system/src/assets/icons/GitHubIcon/GitHubIcon.tsx
  packages/design-system/src/assets/icons/LinkedInIcon/LinkedInIcon.tsx
  packages/design-system/src/assets/icons/MediumIcon/MediumIcon.tsx
  packages/design-system/src/assets/icons/StackOverflowIcon/StackOverflowIcon.tsx
Due: eslint

fix: references
  packages/design-system/src/components/Brick/index.spec.tsx
  packages/design-system/src/components/Brick/stories.tsx
  packages/website/src/domains/about-page/components/AboutEducation/index.spec.tsx
Due: eslint

chore: bump storybook from 8.0.10 to 8.1.3
  packages/design-system/.storybook/main.ts
  packages/design-system/.storybook/preview.ts
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore: update year to 2024
  packages/website/src/components/FooterCopyright/index.tsx
Due: eslint

chore: bump storybook from 8.1.3 to 8.2.1
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore: update licence date
  LICENSE.md
Due: prettier --write

chore: bump turb from 1.13.3 to 2.0.14
  package.json
  turbo.json
  yarn.lock
Due: sort-package-json, prettier --write

chore: bump storybook from 8.2.1 to 8.2.9
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

fix: husky 9
  .husky/commit-msg
  .husky/pre-commit
  package.json
Due: sort-package-json, prettier --write

chore: update vscode extensions
  .vscode/extensions.json
Due: prettier --write

chore: bump prettier from 3.3.2 to 3.3.3
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore: update deps
  yarn.lock
Due: none

chore: bump storybook from 8.2.9 to 8.3.0
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write
