Repository bashaus/bashkim-com: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, stylelint, eslint, prettier --write, yamllint

chore(deps): upgrading next.js to 12.0.3
  .slsignore
  packages/application/.babelrc
  packages/application/jest.config.js
  packages/application/next.config.js
  packages/application/package.json
  packages/application/tsconfig.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(deps): yarn upgrade
  yarn.lock
Due: none

chore(deps): bump graphql from 15.6.1 to 16.0.1 and bump @apollo/client from 3.4.16 to 3.5.2
  packages/application/package.json
  packages/sitemap/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(serverless): bump circleci/aws-s3 from 1.0.11 to 3.0.0
  .circleci/config.yml
Due: yamllint

chore(deps): yarn update
  yarn.lock
Due: none

chore(dev-deps): bump @commitlint frmo 14.1.0 to 15.0.0
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps): upgrade storybook from 6.3.12 to 6.4.0
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps): updating svgo plugins yaml to use object format
  packages/application/.svgo.yml
Due: yamllint

chore(deps): bump storybook from 6.4.0 to 6.4.1
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps): bump storybook from 6.4.1 to 6.4.3
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps): bump storybook from 6.4.3 to 6.4.4
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(svg): fixing svgo configuration
  packages/application/.svgo.yml
Due: yamllint

chore(deps): bump storybook 6.4.4 to 6.4.7
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps): bump storybook from 6.4.7 to 6.4.8
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps): bump storybook from 6.4.8 to 6.4.9
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps): peer dependencies fix for prismic-reactjs
  package.json
  packages/application/next-env.d.ts
  packages/prismic/package.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(ts): fixing type CaseStudyContentType
  packages/application/src/pages/portfolio/[caseStudySlug]/index.tsx
Due: eslint

Path conditions:
  sort-package-json: any of: package.json
  stylelint: any of: *.{css,scss}
  eslint: any of: *.{js,ts,tsx}
  prettier --write: ((any of: *.html) or (any of: *.json)) or (any of: *.md)
  yamllint: any of: *.{yml,yaml}
