Repository bashaus/bashkim-com: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, stylelint, eslint, prettier --write, yamllint

.lintstagedrc.json:

{
  "package.json": ["sort-package-json"],
  "*.{css,scss}": ["stylelint"],
  "*.{js,ts,tsx}": ["eslint"],
  "*.html": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.{yml,yaml}": ["yamllint"]
}

docs(infra): move infrastructure docs
  README.md
  infrastructure/README.md
Due: prettier --write

chore(website): remove style-components from next configuration
  apps/website/next.config.js
Due: eslint

chore(deps): bump @sentry/* from 7.38.0 to 7.39.0
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps): bump nx from 15.7.2 to 15.8.1
  apps/prismic-schema/jest.config.ts
  apps/prismic-webhooks/jest.config.ts
  apps/sitemap/jest.config.ts
  libs/prismic-dal/jest.config.ts
  libs/prismic-fixtures/jest.config.ts
  libs/xray-lambda/jest.config.ts
  package.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(deps-dev): bump nx from 15.8.1 to 15.8.6
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps-dev): bump nx from 15.8.6 to 15.8.7
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps-dev): bump nx from 15.8.7 to 15.8.8
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps-dev): bump nx from 15.8.8 to 15.8.9
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps-dev): bump nx from 15.8.9 to 15.9.1
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

ci(node): updating to version 8.15.0
  .circleci/config.yml
  .github/workflows/codeql.yml
  .github/workflows/lint.yml
  .github/workflows/sonarcloud.yml
  .nvmrc
Due: yamllint

chore(deps-dev): migrate @storybook/* from 6.5.16 to 7.0.2
  .storybook/main.ts
  libs/design-system/.storybook/main.ts
  package.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write

ci(dependabot): change to weekly frequency
  .github/dependabot.yml
Due: yamllint

ci(sonarqube): adding test report to sonarqube
  .github/workflows/codeql.yml
  .github/workflows/lint.yml
  .github/workflows/sonarcloud.yml
  apps/prismic-schema/jest.config.ts
  apps/prismic-webhooks/jest.config.ts
  apps/sitemap/jest.config.ts
  apps/website/jest.config.ts
  jest.config.ts
  libs/design-system/jest.config.ts
  libs/prismic-dal/jest.config.ts
  libs/prismic-fixtures/jest.config.ts
  libs/prismic-helpers/jest.config.ts
  libs/style-guide/jest.config.ts
  libs/xray-lambda/jest.config.ts
  sonar-project.properties
Due: eslint, yamllint

chore(deps): removing @sentry/tracing which has been moved to @sentry/browser
  apps/website/src/libraries/sentry/init.ts
  package.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write

refactor(design-system): removing unused references to StoryFn in refactored code
  .eslintrc.js
  apps/website/.eslintrc.json
  libs/design-system/src/components/Logo/Logo.stories.tsx
  libs/design-system/src/components/MenuButton/MenuButton.stories.tsx
  libs/design-system/src/components/Switch/Switch.stories.tsx
  libs/design-system/src/components/VideoModal/VideoModal.stories.tsx
  libs/design-system/src/components/VideoPlayer/VideoPlayer.stories.tsx
  libs/design-system/src/layout/Navigation/Navigation.stories.tsx
  libs/design-system/src/slices/AccoladeSlice/AccoladeSlice.stories.tsx
  libs/design-system/src/slices/CaptionedImageSlice/CaptionedImageSlice.stories.tsx
  libs/design-system/src/slices/CaptionedMagazineSlice/CaptionedMagazineSlice.stories.tsx
  libs/design-system/src/slices/CaptionedScreenshotsSlice/CaptionedScreenshotsSlice.stories.tsx
  libs/design-system/src/slices/CaptionedVideoSlice/CaptionedVideoSlice.stories.tsx
  libs/design-system/src/slices/CarouselImagesSlice/CarouselImagesSlice.stories.tsx
  libs/design-system/src/slices/CarouselPhonesSlice/CarouselPhonesSlice.stories.tsx
  libs/design-system/src/slices/CollaboratorSlice/CollaboratorSlice.stories.tsx
  libs/design-system/src/slices/ExhibitionSlice/ExhibitionSlice.stories.tsx
  libs/design-system/src/slices/FullTextSlice/FullTextSlice.stories.tsx
  libs/design-system/src/slices/GridEmbedSlice/GridEmbedSlice.stories.tsx
  libs/design-system/src/slices/GridVideoSlice/GridVideoSlice.stories.tsx
  libs/design-system/src/slices/NewspaperSlice/NewspaperSlice.stories.tsx
  libs/design-system/src/slices/SubtitleSlice/SubtitleSlice.stories.tsx
Due: eslint, prettier --write

ci(sonarqube): adding sources and tests properties
  sonar-project.properties
Due: none

ci(sonarqube): adding sonar.exclusions
  sonar-project.properties
Due: none

chore(test): coverage directory
  jest.config.ts
Due: eslint

chore(deps-dev): bump @storybook/* from 7.0.2 to 7.0.4
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps-dev): bump @storybook/* from 7.0.4 to 7.0.5
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps-dev): bump @storybook/* from 7.0.5 to 7.0.6
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

ci(github-actions): don't run lint on dependabot
  .github/workflows/lint.yml
Due: yamllint

chore(deps-dev): bump @storybook/* from 7.0.6 to 7.0.7
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(dev-deps): bump nx from 15.7.2 to 16.0.1
  .eslintrc.js
  apps/prismic-schema/project.json
  apps/prismic-webhooks/project.json
  apps/sitemap/project.json
  apps/website-e2e/cypress.config.ts
  apps/website-e2e/project.json
  apps/website/.eslintrc.json
  apps/website/jest.config.ts
  apps/website/next.config.js
  apps/website/project.json
  jest.config.ts
  jest.preset.js
  libs/design-system/.eslintrc.json
  libs/design-system/.storybook/main.ts
  libs/design-system/.storybook/tsconfig.json
  libs/design-system/jest.config.ts
  libs/design-system/project.json
  libs/design-system/tsconfig.lib.json
  libs/prismic-dal/.babelrc
  libs/prismic-dal/project.json
  libs/prismic-fixtures/.babelrc
  libs/prismic-fixtures/project.json
  libs/prismic-helpers/.babelrc
  libs/prismic-helpers/.eslintrc.json
  libs/prismic-helpers/jest.config.ts
  libs/prismic-helpers/project.json
  libs/prismic-helpers/tsconfig.lib.json
  libs/style-guide/.babelrc
  libs/style-guide/.eslintrc.json
  libs/style-guide/jest.config.ts
  libs/style-guide/project.json
  libs/style-guide/tsconfig.lib.json
  libs/xray-lambda/.babelrc
  libs/xray-lambda/project.json
  nx.json
  package.json
  tools/generators/.gitkeep
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(dev-deps): bump nx from 15.7.2 to 16.0.1 (#2322)
  .eslintrc.js
  apps/prismic-schema/project.json
  apps/prismic-webhooks/project.json
  apps/sitemap/project.json
  apps/website-e2e/cypress.config.ts
  apps/website-e2e/project.json
  apps/website/.eslintrc.json
  apps/website/jest.config.ts
  apps/website/next.config.js
  apps/website/project.json
  jest.config.ts
  jest.preset.js
  libs/design-system/.eslintrc.json
  libs/design-system/.storybook/main.ts
  libs/design-system/.storybook/tsconfig.json
  libs/design-system/jest.config.ts
  libs/design-system/project.json
  libs/design-system/tsconfig.lib.json
  libs/prismic-dal/.babelrc
  libs/prismic-dal/project.json
  libs/prismic-fixtures/.babelrc
  libs/prismic-fixtures/project.json
  libs/prismic-helpers/.babelrc
  libs/prismic-helpers/.eslintrc.json
  libs/prismic-helpers/jest.config.ts
  libs/prismic-helpers/project.json
  libs/prismic-helpers/tsconfig.lib.json
  libs/style-guide/.babelrc
  libs/style-guide/.eslintrc.json
  libs/style-guide/jest.config.ts
  libs/style-guide/project.json
  libs/style-guide/tsconfig.lib.json
  libs/xray-lambda/.babelrc
  libs/xray-lambda/project.json
  nx.json
  package.json
  tools/generators/.gitkeep
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(deps): added encoding dependency
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

docs(README): remove unused README files
  libs/design-system/README.md
  libs/prismic-dal/README.md
  libs/prismic-fixtures/README.md
  libs/prismic-helpers/README.md
  libs/style-guide/README.md
  libs/xray-lambda/README.md
Due: prettier --write

chore(dev-deps): bump nx from 16.0.1 to 16.0.3
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps-dev): bump @storybook/* from 7.0.8 to 7.0.12
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps-dev): bump nx from 16.1.0 to 16.1.4
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps-dev): bump nx from 16.1.4 to 16.2.1
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(prismic-dal): renaming file
  packages/prismic-dal/src/lib/slice-types/AccoladeSliceType.graphql
Due: none

chore(prismic-dal): renaming file to fix case
  packages/prismic-dal/src/lib/slice-types/AccoladeSliceType.gql
Due: none

chore(website): next images unoptimized
  packages/website/next.config.js
Due: eslint

chore(prismic-dal): renaming graphql queries
  packages/prismic-dal/src/lib/queries/GetCaseStudies.gql
  packages/prismic-dal/src/lib/queries/GetCaseStudyBody.gql
  packages/prismic-dal/src/lib/queries/GetCaseStudyPage.gql
  packages/prismic-dal/src/lib/queries/GetHomePage.gql
  packages/prismic-dal/src/lib/queries/GetPortfolioPage.gql
  packages/prismic-dal/src/lib/queries/GetSitemapCaseStudies.gql
  packages/prismic-dal/src/lib/queries/GetSitemapPages.gql
  packages/sitemap/src/app/sitemaps/case-studies.ts
  packages/sitemap/src/app/sitemaps/pages.ts
  packages/website/src/app/portfolio/[caseStudySlug]/queries.ts
  packages/website/src/app/portfolio/page.tsx
  packages/website/src/app/portfolio/queries.ts
  packages/website/src/app/queries.ts
  packages/website/src/lockups/CaseStudyPage/components/CaseStudyCollaborators/CaseStudyCollaborators.tsx
  packages/website/src/lockups/HomePage/index.tsx
Due: eslint

chore(prismic-dal): using fragment types for better type intersection
  packages/design-system/src/slices/AccoladeSlice/AccoladeSlice.tsx
  packages/design-system/src/slices/CaptionedImageSlice/CaptionedImageSlice.tsx
  packages/design-system/src/slices/CaptionedMagazineSlice/CaptionedMagazineSlice.tsx
  packages/design-system/src/slices/CaptionedScreenshotsSlice/CaptionedScreenshotsSlice.tsx
  packages/design-system/src/slices/CaptionedVideoSlice/CaptionedVideoSlice.tsx
  packages/design-system/src/slices/CarouselImagesSlice/CarouselImagesSlice.tsx
  packages/design-system/src/slices/CarouselPhonesSlice/CarouselPhonesSlice.tsx
  packages/design-system/src/slices/CollaboratorSlice/CollaboratorSlice.tsx
  packages/design-system/src/slices/ExhibitionSlice/ExhibitionSlice.tsx
  packages/design-system/src/slices/FullTextSlice/FullTextSlice.tsx
  packages/design-system/src/slices/GridEmbedSlice/GridEmbedSlice.tsx
  packages/design-system/src/slices/GridVideoSlice/GridVideoSlice.tsx
  packages/design-system/src/slices/NewspaperSlice/NewspaperSlice.tsx
  packages/design-system/src/slices/SubtitleSlice/SubtitleSlice.tsx
  packages/prismic-dal/src/lib/queries/CaseStudyBody.gql
  packages/prismic-fixtures/src/slice-types/index.ts
  packages/website/src/lockups/PortfolioPage/components/PortfolioCategory/PortfolioCategory.tsx
Due: eslint

chore(prismic-dal): creating models for types
  packages/prismic-dal/src/lib/models/CaseStudyBodyModel.gql
  packages/prismic-dal/src/lib/models/CaseStudyPageModel.gql
  packages/prismic-dal/src/lib/models/PortfolioPageFeaturedModel.gql
  packages/prismic-dal/src/lib/models/PortfolioPageModel.gql
  packages/prismic-dal/src/lib/queries/GetCaseStudyBody.gql
  packages/prismic-dal/src/lib/queries/GetCaseStudyPage.gql
  packages/prismic-dal/src/lib/queries/GetPortfolioPage.gql
  packages/website/src/app/portfolio/[caseStudySlug]/page.tsx
  packages/website/src/app/portfolio/page.tsx
  packages/website/src/lockups/CaseStudyPage/components/CaseStudyAccolades/CaseStudyAccolades.tsx
  packages/website/src/lockups/CaseStudyPage/components/CaseStudyDetails/CaseStudyDetails.tsx
  packages/website/src/lockups/CaseStudyPage/components/CaseStudyExhibitions/CaseStudyExhibitions.tsx
  packages/website/src/lockups/CaseStudyPage/components/CaseStudyHeader/CaseStudyHeader.tsx
  packages/website/src/lockups/CaseStudyPage/components/CaseStudyTechnologies/CaseStudyTechnologies.tsx
  packages/website/src/lockups/CaseStudyPage/index.tsx
  packages/website/src/lockups/PortfolioPage/components/PortfolioFeaturedCaseStudies/PortfolioFeaturedCaseStudies.tsx
  packages/website/src/lockups/PortfolioPage/index.tsx
Due: eslint
