Repository bashaus/bashkim-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

chore(vscode): removed format on paste
  .vscode/settings.json
Due: prettier --write

chore(sentry): moving import statement
  packages/application/src/components/SentryBoundary/index.tsx
Due: eslint

chore(about): fixing about page reference
  serverless.yml
Due: none

chore(node): upgrading to node 12.19 LTS
  .circleci/config.yml
  .nvmrc
Due: none

chore(tsconfig): standardizing tsconfig
  packages/application/tsconfig.json
  packages/config/tsconfig.json
  packages/prismic/tsconfig.json
  packages/seo/tsconfig.json
  packages/sitemap/tsconfig.json
  tsconfig.json
Due: prettier --write

chore(typescript): upgraded to version 4
  package.json
  packages/application/package.json
  packages/config/package.json
  packages/prismic/package.json
  packages/seo/package.json
  packages/sitemap/package.json
  yarn.lock
Due: prettier --write

chore(babel): remove some unused dependencies
  packages/config/.babelrc
  packages/config/package.json
  packages/config/src/.babelrc
  packages/prismic/.babelrc
  packages/prismic/package.json
  yarn.lock
Due: prettier --write

chore(typescript): added more strictness
  packages/application/src/components/Magazine/stories.tsx
  packages/application/src/components/SentryBoundary/stories.tsx
  packages/application/src/components/Turn/stories.tsx
  packages/application/src/pages/index.tsx
  packages/seo/package.json
  packages/seo/src/app.ts
  packages/seo/src/lambda.ts
  packages/sitemap/src/lambda.ts
  packages/sitemap/src/templates/sitemap.ts
  packages/sitemap/src/templates/sitemapindex.ts
  tsconfig.json
  yarn.lock
Due: eslint, prettier --write

chore(yarn): added prebuild to packages
  packages/config/package.json
  packages/prismic/package.json
  packages/seo/package.json
  packages/sitemap/package.json
Due: prettier --write

chore(storybook): upgraded to version 6.0.27
  packages/application/.storybook/main.js
  packages/application/.storybook/preview.js
  packages/application/package.json
  yarn.lock
Due: eslint, prettier --write

chore(navigation): made scroll consistent
  packages/application/src/components/Header/index.tsx
  packages/application/src/components/Header/styles.module.scss
  packages/application/src/components/HeaderIntersection/index.tsx
  packages/application/src/components/MenuSignifierButton/index.tsx
  packages/application/src/components/Navigation/index.tsx
  packages/application/src/components/Navigation/styles.module.scss
  packages/application/src/components/NavigationSocial/index.tsx
  packages/application/src/components/NavigationSocial/styles.module.scss
  packages/application/src/components/Page/index.tsx
  packages/application/src/contexts/Cookies/reducer.ts
  packages/application/src/contexts/Navigation/actions.ts
  packages/application/src/contexts/Navigation/reducer.ts
  packages/application/src/contexts/Navigation/state.ts
  packages/application/src/libraries/prismic/LinkResolver.ts
Due: eslint, stylelint

feat(navigation): updated menu design
  packages/application/package.json
  packages/application/src/components/CookiesNotice/index.tsx
  packages/application/src/components/Header/styles.module.scss
  packages/application/src/components/HeaderIntersection/index.tsx
  packages/application/src/components/HeaderIntersection/styles.module.scss
  packages/application/src/components/Menu/index.tsx
  packages/application/src/components/Menu/styles.module.scss
  packages/application/src/components/Navigation/styles.module.scss
  packages/application/src/components/NavigationPrimary/index.tsx
  packages/application/src/components/NavigationPrimary/styles.module.scss
  packages/application/src/components/NavigationSocial/styles.module.scss
  packages/application/src/components/Page/index.tsx
  packages/application/src/components/Page/styles.module.scss
  packages/application/src/contexts/Navigation/actions.ts
  packages/application/src/contexts/Navigation/reducer.ts
  packages/application/src/contexts/Navigation/state.ts
  packages/application/src/contexts/Navigation/types.ts
Due: eslint, prettier --write, stylelint

chore(svg): using file-loader in conjunction with SVGs
  packages/application/next.config.js
  packages/application/package.json
  packages/application/src/components/HomeHello/index.tsx
  packages/application/src/components/NavigationSocial/index.tsx
  packages/application/src/slices/Accolade/index.tsx
  packages/application/src/type.svg.d.ts
  yarn.lock
Due: eslint, prettier --write

chore(browserslist): update caniuse database
  yarn.lock
Due: none

chore(prismic): added graphql as prismic dependency
  packages/prismic/package.json
Due: prettier --write

chore(prismic): updating labels for full text
  packages/prismic/src/slice-types/FullText/schema.json
Due: prettier --write

chore(graphql): added react as a dependency
  packages/sitemap/package.json
Due: prettier --write

chore(storybook): upgrade to 6.1.2
  packages/application/package.json
  yarn.lock
Due: prettier --write

chore(design): fixing font sizes on homepage
  packages/application/src/components/PortfolioFeaturedCaseStudies/styles.module.scss
  packages/application/src/components/Tile/styles.module.scss
  packages/application/src/partials/FullBanner/styles.module.scss
  packages/application/src/styleguide/base/groups/_styles.scss
  packages/application/src/styleguide/base/headings/_styles.scss
Due: stylelint

chore(copyright): updating copyright year
  packages/application/src/components/FooterCopyright/index.tsx
Due: eslint

chore(yarn): upgrade
  yarn.lock
Due: none

chore(browserslist): update
  yarn.lock
Due: none

chore(node): 14.15.5
  .circleci/config.yml
  .nvmrc
Due: none

chore(browserslist): update db
  yarn.lock
Due: none

chore(config): using types .d.ts
  packages/config/package.json
  packages/config/src/defaults.ts
  packages/config/src/defaults/googleAnalytics.ts
  packages/config/src/defaults/next.ts
  packages/config/src/defaults/prismic.ts
  packages/config/src/defaults/sentry.ts
  packages/config/src/defaults/server.ts
  packages/config/src/defaults/sitemap.ts
  packages/config/src/environment/local.ts
  packages/config/src/index.ts
  packages/config/src/init.ts
  packages/config/src/schema.ts
  packages/config/src/schema/googleAnalytics.ts
  packages/config/src/schema/next.ts
  packages/config/src/schema/sentry.ts
  packages/config/src/schema/server.ts
  packages/config/src/types.ts
  packages/config/src/types/googleAnalytics.d.ts
  packages/config/src/types/next.d.ts
  packages/config/src/types/prismic.d.ts
  packages/config/src/types/sentry.d.ts
  packages/config/src/types/server.d.ts
  packages/config/src/types/sitemap.d.ts
  yarn.lock
Due: eslint, prettier --write

chore(caniuse): update
  yarn.lock
Due: none

[e49f61e] chore(lint): added test workflow
  .circleci/config.yml
  .eslintrc.json
  .gitignore
  .lintstagedrc.json
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  packages/application/jest.config.js
  packages/application/package.json
  yarn.lock
Due: eslint, prettier --write

chore(babel): upgrade
  packages/application/package.json
  yarn.lock
Due: prettier --write

chore(storybook): persist node_modules in packages
  .circleci/config.yml
Due: none

chore(typescript): strict
  packages/prismic/src/slice-types/Accolade/type.ts
  packages/prismic/src/slice-types/Collaborator/type.ts
  packages/prismic/src/slice-types/Exhibition/type.ts
  packages/prismic/tsconfig.json
  packages/prismic/types/apollo-link-prismic.d.ts
  tsconfig.json
Due: eslint, prettier --write

chore(storybook): upgrade
  packages/application/package.json
  yarn.lock
Due: prettier --write

chore(next): upgrade to 10 (react 16.14.0)
  packages/application/package.json
  packages/sitemap/package.json
  yarn.lock
Due: prettier --write

chore(serverless): migrating to @vendia/serverless-express
  packages/application/lambda.js
  packages/application/package.json
  packages/seo/package.json
  packages/seo/src/lambda.ts
  packages/sitemap/package.json
  packages/sitemap/src/lambda.ts
  yarn.lock
Due: eslint, prettier --write

chore(aws): updating aws-lambda package
  packages/application/package.json
  packages/seo/package.json
  packages/sitemap/package.json
  yarn.lock
Due: prettier --write

chore(seo): package sls
  serverless.yml
Due: none

chore(sls): updating dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(stylelint): prettier
  .circleci/config.yml
  .lintstagedrc.json
  .stylelintrc.json
  package.json
  packages/application/src/components/Header/styles.module.scss
  packages/application/src/components/HomeHello/styles.module.scss
  packages/application/src/components/Navigation/styles.module.scss
  packages/application/src/components/NavigationPrimary/styles.module.scss
  packages/application/src/components/NavigationSocial/styles.module.scss
  packages/application/src/partials/Split.Item/style.module.scss
  packages/application/src/styleguide/utils/_chevron.scss
  packages/application/src/styleguide/utils/_colors.scss
  packages/application/src/styleguide/vendors/grid/cell/_margin.scss
  packages/application/src/styleguide/vendors/grid/cell/_padding.scss
  packages/application/src/styleguide/vendors/grid/cell/_width.scss
  packages/application/src/styleguide/vendors/grid/container/_max-width.scss
  packages/application/src/styleguide/vendors/grid/container/_padding.scss
  packages/application/src/styleguide/vendors/grid/full/_.scss
  packages/application/src/styleguide/vendors/grid/full/_padding.scss
  yarn.lock
Due: prettier --write, stylelint

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{md,html,json}
  stylelint: any of: *.{css,scss}
