Repository bashaus/bashkim-com: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, stylelint, eslint, prettier --write, yamllint

chore(design-system): using require in rollup config
  packages/design-system/rollup.config.js
Due: eslint

chore(node): upgrade to version 18
  .circleci/config.yml
  .nvmrc
Due: yamllint

chore(husky): npm hook
  .lintstagedrc.js
  package.json
Due: sort-package-json, eslint, prettier --write

refactor(lint): fix
  packages/prismic-fixtures/tsconfig.json
  packages/prismic-schema/tsconfig.json
Due: prettier --write

feat(application): using graphql files instead of code
  packages/application/package.json
  packages/application/src/data/queries/CaseStudiesQuery.gql
  packages/application/src/data/queries/CaseStudyBodyQuery.gql
  packages/application/src/data/queries/CaseStudyPageQuery.gql
  packages/application/src/data/queries/HomePageQuery.gql
  packages/application/src/data/queries/PortfolioPageQuery.gql
  packages/application/src/libraries/prismic/fragments/ExternalLink.ts
  packages/application/src/libraries/prismic/queries/CaseStudiesQuery.ts
  packages/application/src/libraries/prismic/queries/CaseStudyBodyQuery.ts
  packages/application/src/libraries/prismic/queries/CaseStudyPageQuery.ts
  packages/application/src/libraries/prismic/queries/HomePageQuery.ts
  packages/application/src/libraries/prismic/queries/PortfolioPageQuery.ts
  packages/application/src/pages/index.tsx
  packages/application/src/pages/portfolio/[caseStudySlug]/index.tsx
  packages/application/src/pages/portfolio/index.tsx
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(application): using graphql fragment
  packages/application/src/data/fragments/ExternalLinkFragment.gql
  packages/application/src/data/queries/CaseStudyPageQuery.gql
Due: none

ci(lint): sonarcloud
  .github/workflows/sonarcloud.yml
  .github/workflows/static-analysis.yml
Due: yamllint

chore(sonarcloud): properties
  sonar-project.properties
Due: none

feat(sonarcloud): configure (#1388)
  .github/workflows/sonarcloud.yml
  .github/workflows/static-analysis.yml
  sonar-project.properties
Due: yamllint

refactor(sonarcloud): code cleaning
  .github/workflows/codeql.yml
  .github/workflows/sonarcloud.yml
  packages/application/src/components/PortfolioCategory/index.tsx
  packages/design-system/src/components/VideoPoster/index.tsx
  packages/design-system/src/components/VideoPoster/styles.ts
Due: eslint, yamllint

chore(github-actions): remove branches-ignore
  .github/workflows/codeql.yml
  .github/workflows/sonarcloud.yml
Due: yamllint

chore(deps-dev): bump eslint from 8.28.0 to 8.29.0
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps-dev): bump @storybook/* from 6.5.13 to 6.5.14
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

ci(sonarqube): ignore on dependabot
  .github/workflows/codeql.yml
  .github/workflows/sonarcloud.yml
Due: yamllint

ci(dependabot): do not run github actions
  .github/workflows/codeql.yml
  .github/workflows/sonarcloud.yml
Due: yamllint

fix(website): sonarqube bugs
  apps/website/src/components/MetaImage/MetaImage.tsx
Due: eslint

fix(codeql): removing email and password example from e2e
  apps/website-e2e/src/support/commands.ts
  libs/design-system/src/components/Magazine/Magazine.errors.ts
Due: eslint

chore(dev-deps): bump nx and @nrwl/* from 15.2.1 to 15.3.3
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

refactor(sitemap): using prismic data access layer
  apps/sitemap/src/app/libraries/prismic/queries/caseStudies.ts
  apps/sitemap/src/app/sitemaps/case-studies.ts
  apps/sitemap/src/app/sitemaps/pages.ts
  apps/sitemap/tsconfig.json
  libs/prismic-dal/codegen.ts
  libs/prismic-dal/src/lib/queries/PortfolioPage.gql
  libs/prismic-dal/src/lib/queries/SitemapCaseStudies.gql
  libs/prismic-dal/src/lib/queries/SitemapPages.gql
Due: eslint, prettier --write

chore(swc): implementing swc and removing babel
  .circleci/config.yml
  .storybook/main.ts
  libs/design-system/.babelrc
  libs/design-system/.storybook/main.ts
  libs/design-system/jest.config.ts
  libs/design-system/project.json
  libs/prismic-helpers/jest.config.ts
  libs/style-guide/jest.config.ts
  package.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write, yamllint

ci(publish): zip artifacts
  .circleci/config.yml
Due: yamllint

ci(cache): adding nextjs cache
  .circleci/config.yml
Due: yamllint

chore(terraform): upgrade to 1.3.6
  README.md
  infrastructure/.terraform.lock.hcl
  infrastructure/main.tf
  infrastructure/modules/design-system/bucket.tf
  infrastructure/modules/design-system/bucket_acl.tf
  infrastructure/modules/design-system/bucket_website_configuration.tf
  infrastructure/modules/website/bucket.tf
  infrastructure/modules/website/bucket_acl.tf
  infrastructure/modules/website/bucket_website_configuration.routing-rules.yml
  infrastructure/modules/website/bucket_website_configuration.tf
  infrastructure/modules/website/distribution.tf
Due: prettier --write, yamllint

chore(terraform): migrate to workspaces
  infrastructure/main.tf
Due: none

chore(terraform): using workspace name for stack name
  infrastructure/main.tf
  infrastructure/modules/design-system/bucket.tf
  infrastructure/modules/design-system/variables.tf
  infrastructure/modules/website/bucket.tf
  infrastructure/modules/website/variables.tf
Due: none

chore(serverless): updated environment variables
  serverless.yml
Due: yamllint

chore(serverless): enable sentry
  apps/prismic-webhooks/src/lambda.ts
  apps/sitemap/src/lambda.ts
  serverless.yml
Due: eslint, yamllint

chore(terraform): lint
  infrastructure/modules/design-system/distribution.tf
  infrastructure/modules/website/distribution.tf
Due: none

build(terraform): rename modules
  infrastructure/main.tf
  infrastructure/modules/apps/design-system/bucket-acl.tf
  infrastructure/modules/apps/design-system/bucket-policy.tf
  infrastructure/modules/apps/design-system/bucket-website-configuration.tf
  infrastructure/modules/apps/design-system/bucket.tf
  infrastructure/modules/apps/design-system/distribution-oai.tf
  infrastructure/modules/apps/design-system/distribution.tf
  infrastructure/modules/apps/design-system/module.variables.tf
  infrastructure/modules/apps/website/bucket-acl.tf
  infrastructure/modules/apps/website/bucket-policy.tf
  infrastructure/modules/apps/website/bucket-website-configuration.routing-rules.yml
  infrastructure/modules/apps/website/bucket-website-configuration.tf
  infrastructure/modules/apps/website/bucket.tf
  infrastructure/modules/apps/website/distribution-oai.tf
  infrastructure/modules/apps/website/distribution.tf
  infrastructure/modules/apps/website/module.variables.tf
  infrastructure/modules/design-system/bucket_policy.tf
  infrastructure/modules/design-system/oai.tf
  infrastructure/modules/website/oai.tf
Due: yamllint

chore(deps-dev): bump @storybook/* from 6.5.14 to 6.5.15
  .eslintrc.js
  package.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(deps-dev): bump nx and @nrwl/* from 15.3.3 to 15.4.0
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps-dev): bump nx and @nrwl/* from 15.3.3 to 15.4.1
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(terraform): remove hyphens in favour of underscores
  infrastructure/main.tf
  infrastructure/modules/apps/design-system/bucket_acl.tf
  infrastructure/modules/apps/design-system/bucket_policy.tf
  infrastructure/modules/apps/design-system/bucket_website_configuration.tf
  infrastructure/modules/apps/design-system/distribution_oai.tf
  infrastructure/modules/apps/website/bucket_acl.tf
  infrastructure/modules/apps/website/bucket_policy.tf
  infrastructure/modules/apps/website/bucket_website_configuration.routing_rules.yml
  infrastructure/modules/apps/website/bucket_website_configuration.tf
  infrastructure/modules/apps/website/distribution_oai.tf
Due: yamllint

chore(terraform): certificate
  infrastructure/aws.tf
  infrastructure/main.tf
  infrastructure/modules/structure/security/aws.us_east_1.tf
  infrastructure/modules/structure/security/certificate.tf
  infrastructure/modules/structure/security/module.outputs.tf
Due: none

chore(terraform): renaming core files
  infrastructure/main.tf
  infrastructure/module.app_design_system.tf
  infrastructure/module.app_website.tf
  infrastructure/module.structure_security.tf
  infrastructure/terraform.tf
Due: none

chore(terraform): route53 root domain bucket redirects
  infrastructure/modules/structure/domain/bucket_domain.tf
  infrastructure/modules/structure/domain/module.variables.tf
  infrastructure/modules/structure/domain/record.domain.tf
  infrastructure/modules/structure/domain/record.root.tf
  infrastructure/modules/structure/domain/record.txt.tf
Due: none

Path conditions:
  sort-package-json: any of: package.json
  stylelint: any of: *.{css,scss}
  eslint: any of: *.{js,ts,tsx}
  prettier --write: ((any of: *.html) or (any of: *.json)) or (any of: *.md)
  yamllint: any of: *.{yml,yaml}
