Repository bashaus/bashkim-com: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, stylelint, eslint, prettier --write, yamllint

.lintstagedrc.json:

{
  "package.json": ["sort-package-json"],
  "*.{css,scss}": ["stylelint"],
  "*.{js,ts,tsx}": ["eslint"],
  "*.html": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.{yml,yaml}": ["yamllint"]
}

chore: bump @pmmmwh/react-refresh-webpack-plugin from 0.5.13 to 0.5.15
  packages/website/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps): bump @primer/octicons-react from 19.9.0 to 19.11.0
  packages/design-system/package.json
  packages/website/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps): bump storybook from 8.3.0 to 8.3.1
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

refactor: remove prismic-webhook
  .circleci/config.yml
  .env.local.example
  .github/workflows/build.yml
  infrastructure/modules/packages/prismic-webhooks/module.outputs.tf
  infrastructure/modules/packages/prismic-webhooks/module.variables.tf
  infrastructure/modules/packages/prismic-webhooks/resource.apigw_integration.tf
  infrastructure/modules/packages/prismic-webhooks/resource.apigw_routes.tf
  infrastructure/modules/packages/prismic-webhooks/resource.lambda.tf
  infrastructure/package.prismic_webhooks.tf
  infrastructure/structure.api_gateway.tf
  packages/prismic-webhooks/.eslintrc.js
  packages/prismic-webhooks/Dockerfile
  packages/prismic-webhooks/jest.config.ts
  packages/prismic-webhooks/nodemon.json
  packages/prismic-webhooks/package.json
  packages/prismic-webhooks/src/app/errors/UnhandledHttpError.ts
  packages/prismic-webhooks/src/app/index.ts
  packages/prismic-webhooks/src/app/libraries/circleci/index.ts
  packages/prismic-webhooks/src/app/libraries/prismic/errors.ts
  packages/prismic-webhooks/src/app/libraries/prismic/index.ts
  packages/prismic-webhooks/src/app/routes/rootRouter.ts
  packages/prismic-webhooks/src/app/routes/wellKnownRouter.ts
  packages/prismic-webhooks/src/lambda.ts
  packages/prismic-webhooks/src/local.ts
  packages/prismic-webhooks/tsconfig.build.json
  packages/prismic-webhooks/tsconfig.json
  packages/prismic-webhooks/tsconfig.spec.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write, yamllint

refactor: remove e2e
  packages/website-e2e/.eslintrc.js
  packages/website-e2e/cypress.config.ts
  packages/website-e2e/package.json
  packages/website-e2e/src/e2e/components/options.cy.ts
  packages/website-e2e/src/e2e/pages/about.cy.ts
  packages/website-e2e/src/e2e/pages/home.cy.ts
  packages/website-e2e/src/e2e/pages/portfolio.cy.ts
  packages/website-e2e/src/fixtures/example.json
  packages/website-e2e/src/support/commands/example.d.ts
  packages/website-e2e/src/support/commands/example.ts
  packages/website-e2e/src/support/e2e.ts
  packages/website-e2e/tsconfig.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore: remove terraform
  .eslintignore
  .gitignore
  .prettierignore
  .stylelintignore
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

ci: remove circleci
  .circleci/config.yml
Due: yamllint

refactor: remove unused components
  .gitignore
  package.json
  packages/design-system/src/components/MenuButton/stories.tsx
  packages/website/next.config.js
  packages/website/package.json
  packages/website/src/components/SocialMenuGitHub/view.tsx
  packages/website/src/components/SocialMenuLinkedIn/index.tsx
  packages/website/src/components/SocialMenuMedium/view.tsx
  packages/website/src/components/SocialMenuStackOverflow/view.tsx
  svgo.config.mjs
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore: update mui
  packages/website/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore: remove dependabot
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: yamllint

chore: mui upgrade
  packages/website/package.json
  packages/website/src/app/layout.tsx
  packages/website/src/components/SocialMenu/index.tsx
  packages/website/src/components/SocialMenuItemHeader/index.tsx
  packages/website/src/layouts/RootLayout/index.tsx
  packages/website/src/libraries/material-ui/ThemeRegistry.tsx
  yarn.lock
Due: sort-package-json, eslint, prettier --write

refactor: remove primer octicons
  packages/design-system/package.json
  packages/design-system/src/components/Switch/stories.tsx
  packages/design-system/src/components/VideoModal/index.tsx
  packages/design-system/src/slices/CaptionedScreenshotsSlice/index.tsx
  packages/website/package.json
  packages/website/src/components/MenuButtonHome/index.tsx
  packages/website/src/components/MenuButtonPortfolio/index.tsx
  packages/website/src/components/MenuButtonSettings/index.tsx
  packages/website/src/components/SiteSettings/index.tsx
  packages/website/src/components/SiteSettingsAppearance/index.tsx
  packages/website/src/components/SiteSettingsAppearance/styles.module.scss
  packages/website/src/components/SiteSettingsGridLines/index.tsx
  packages/website/src/components/SiteSettingsGridLines/styles.module.scss
  packages/website/src/components/SocialMenuGitHub/view.tsx
  packages/website/src/components/SocialMenuItemHeader/index.tsx
  yarn.lock
Due: sort-package-json, stylelint, eslint, prettier --write

fix: github icon dimensions
  packages/website/src/domains/home-page/components/HomeHello/index.tsx
Due: eslint

refactor: renaming job title
  packages/design-system/src/components/Logo/index.tsx
  packages/website/src/app/about/page.tsx
  packages/website/src/app/layout.tsx
  packages/website/src/domains/home-page/components/HomeHello/index.tsx
Due: eslint

fix: turbo cache off
  packages/website/src/components/SiteSettings/index.tsx
  turbo.json
Due: eslint, prettier --write

chore: codegen caching
  package.json
  packages/prismic-dal/codegen.prismic.ts
  packages/prismic-dal/codegen.ts
  packages/prismic-dal/package.json
  packages/prismic-dal/turbo.json
  turbo.json
Due: sort-package-json, eslint, prettier --write

chore: socials build caching
  graphql.config.yml
  packages/prismic-dal/codegen.deps.ts
  packages/prismic-dal/package.json
  packages/socials/.gitignore
  packages/socials/codegen.deps.ts
  packages/socials/codegen.ts
  packages/socials/graphql/github/types.ts
  packages/socials/package.json
  packages/socials/src/github/index.ts
  turbo.json
Due: sort-package-json, eslint, prettier --write, yamllint

chore: remove unused files
  packages/style-guide/jest.config.ts
  packages/style-guide/tsconfig.json
  packages/style-guide/tsconfig.lib.json
  packages/style-guide/tsconfig.spec.json
Due: eslint, prettier --write

feat: typewriter logo
  packages/design-system/package.json
  packages/design-system/src/components/Logo/index.spec.tsx
  packages/design-system/src/components/Logo/index.tsx
  packages/design-system/src/components/Logo/styles.module.scss
  packages/website/package.json
  packages/website/src/components/Menu/index.tsx
  packages/website/src/components/Menu/styles.module.scss
  yarn.lock
Due: sort-package-json, stylelint, eslint, prettier --write

fix: sitemap
  packages/website/public/sitemap.xml
  packages/website/src/app/portfolio/sitemap.ts
  packages/website/src/app/sitemap.ts
  packages/website/src/libraries/app/generateCanonical.ts
Due: eslint

refactor: codegen and build dependencies
  package.json
  packages/prismic-dal/package.json
  packages/socials/package.json
  turbo.json
Due: sort-package-json, prettier --write

chore: storybook to dev
  README.md
  package.json
  packages/design-system/package.json
  turbo.json
  yarn.lock
Due: sort-package-json, prettier --write

chore: storybook to dev
  README.md
  package.json
  packages/design-system/package.json
  packages/design-system/src/components/Logo/index.tsx
  packages/design-system/src/components/Logo/styles.module.scss
  turbo.json
  yarn.lock
Due: sort-package-json, stylelint, eslint, prettier --write

fix: mui reference
  packages/website/src/layouts/RootLayout/index.tsx
Due: eslint

chore: do not cache codegen
  packages/socials/turbo.json
  turbo.json
Due: prettier --write

refactor: replace call to action with mui outlined button
  packages/design-system/src/components/CallToAction/index.spec.tsx
  packages/design-system/src/components/CallToAction/index.tsx
  packages/design-system/src/components/CallToAction/stories.tsx
  packages/design-system/src/components/CallToAction/styles.module.scss
  packages/design-system/src/index.ts
  packages/design-system/src/partials/FullBannerPartial/index.tsx
  packages/design-system/src/partials/SplitItemPartial/index.tsx
  packages/website/src/domains/about-page/components/AboutPageLockup/index.tsx
  packages/website/src/domains/home-page/components/HomeFeatured/index.tsx
  packages/website/src/domains/home-page/components/HomeFooter/index.tsx
  packages/website/src/domains/home-page/components/HomeHello/index.tsx
  packages/website/src/libraries/material-ui/theme/index.ts
Due: stylelint, eslint

refactor: site settings button
  packages/website/src/components/Header/index.tsx
  packages/website/src/components/Header/styles.module.scss
  packages/website/src/components/Menu/styles.module.scss
  packages/website/src/components/MenuButtonSettings/index.tsx
  packages/website/src/components/SiteSettings/index.tsx
Due: stylelint, eslint

refactor: remove brick
  packages/design-system/src/components/Brick/index.spec.tsx
  packages/design-system/src/components/Brick/index.tsx
  packages/design-system/src/components/Brick/stories.tsx
  packages/design-system/src/components/Brick/styles.module.scss
  packages/design-system/src/index.ts
  packages/website/src/domains/home-page/components/HomeHello/index.tsx
  packages/website/src/domains/portfolio-page/components/PortfolioCaseStudyBrick/index.tsx
  packages/website/src/domains/portfolio-page/components/PortfolioCaseStudyBrick/styles.tsx
Due: stylelint, eslint

chore: add stories to logo
  packages/design-system/src/components/Logo/stories.tsx
Due: eslint

refactor: removing width/height from svgs to support viewBox
  packages/website/src/assets/vectors/icons/MediumClap.svg
  packages/website/src/assets/vectors/social/GitHub.svg
  packages/website/src/assets/vectors/social/LinkedIn.svg
  packages/website/src/assets/vectors/social/LinkedInOutlined.svg
  packages/website/src/assets/vectors/social/Medium.svg
  packages/website/src/assets/vectors/social/Prismic.svg
  packages/website/src/assets/vectors/social/StackOverflow.svg
  packages/website/src/assets/vectors/social/StackOverflowFilled.svg
  packages/website/src/domains/about-page/assets/principles/ethically.svg
  packages/website/src/domains/about-page/assets/principles/maintainable.svg
  packages/website/src/domains/about-page/assets/principles/on-time.svg
  packages/website/src/domains/about-page/assets/principles/robust.svg
  packages/website/src/domains/about-page/assets/principles/securely.svg
  packages/website/src/domains/about-page/assets/principles/to-satisfaction.svg
  packages/website/src/domains/about-page/assets/principles/to-specification.svg
  packages/website/src/domains/about-page/assets/principles/within-budget.svg
Due: none

chore: yarn dedupe
  yarn.lock
Due: none

chore: bump storybook from 8.4.4 to 8.4.7
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore: bump storybook from 8.4.4 to 8.4.7
  packages/design-system/.storybook/main.ts
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write

refactor: remove aws-sdk
  package.json
  packages/design-system/src/components/CarouselDots/index.tsx
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore: bump next to version 15.1.2
  package.json
  packages/design-system/package.json
  packages/eslint/package.json
  packages/website/next-env.d.ts
  packages/website/package.json
  packages/website/src/app/portfolio/[caseStudySlug]/page.tsx
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore: remove via.placeholder.com
  packages/design-system/.storybook/preview.ts
  packages/design-system/package.json
  packages/design-system/src/components/DeviceFeaturePhone/stories.tsx
  packages/design-system/src/components/DeviceSmartphone/stories.tsx
  packages/design-system/src/components/Magazine/stories.tsx
  packages/design-system/src/components/Tile/stories.tsx
  packages/design-system/src/components/Turn/stories.tsx
  packages/design-system/src/partials/CaptionedPartial/stories.tsx
  packages/design-system/src/partials/FullBannerPartial/stories.tsx
  packages/design-system/src/partials/FullImagePartial/stories.tsx
  packages/design-system/src/partials/PageHeaderPartial/stories.tsx
  packages/design-system/src/partials/SplitPartial/stories.tsx
  packages/design-system/src/partials/TitlePartial/stories.tsx
  yarn.lock
Due: sort-package-json, eslint, prettier --write

ci: sonarqube
  .github/workflows/sonarcloud.yml
Due: yamllint
