Repository bashaus/bashkim-com: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, stylelint, eslint, prettier --write, yamllint

chore(code): fixing sonarcube alerts
  packages/application/src/contexts/Navigation/reducer.ts
  packages/design-system/src/components/Carousel/index.tsx
Due: eslint

fix(deps): added missing @swc/core dependency
  packages/design-system/package.json
Due: sort-package-json, prettier --write

chore(http): converting references to https
  packages/application/src/assets/vectors/icons/portfolio.svg
  packages/application/src/assets/vectors/principles/ethically.svg
  packages/application/src/assets/vectors/principles/maintainable.svg
  packages/application/src/assets/vectors/principles/on-time.svg
  packages/application/src/assets/vectors/principles/robust.svg
  packages/application/src/assets/vectors/principles/securely.svg
  packages/application/src/assets/vectors/principles/to-satisfaction.svg
  packages/application/src/assets/vectors/principles/to-specification.svg
  packages/application/src/assets/vectors/principles/within-budget.svg
  packages/application/src/assets/vectors/social/github.svg
  packages/application/src/assets/vectors/social/linked-in.svg
  packages/application/src/assets/vectors/social/medium.svg
  packages/application/src/assets/vectors/social/prismic.svg
  packages/application/src/assets/vectors/social/stack-overflow.svg
  packages/application/src/components/AboutProfile/styles.ts
  packages/application/src/pages/portfolio/[caseStudySlug]/index.tsx
  packages/design-system/src/assets/vectors/devices/feature-phone.svg
  packages/design-system/src/assets/vectors/devices/smartphone.svg
  packages/design-system/src/assets/vectors/trophy.svg
  packages/sitemap/src/templates/sitemap.ts
  packages/sitemap/src/templates/sitemapindex.ts
Due: eslint

fix(security): disabling x-powered-by http header for sonarcloud
  packages/sitemap/src/app.ts
  packages/webhooks/src/app.ts
  packages/webhooks/src/routes/prismic.ts
Due: eslint

feat(header): added some style
  packages/application/src/assets/images/about/header-desktop.jpg
  packages/application/src/assets/images/home/background-image.jpg
  packages/application/src/assets/images/home/portfolio-background.jpg
  packages/application/src/assets/images/home/practice-background.jpg
  packages/application/src/assets/images/portfolio/background-image.jpg
  packages/application/src/components/AboutPageHeader/index.tsx
  packages/application/src/components/AboutPageHeader/styles.ts
  packages/application/src/components/AboutPrinciples/index.tsx
  packages/application/src/components/AboutPrinciples/styles.ts
  packages/application/src/components/CaseStudyHeader/index.tsx
  packages/application/src/components/CookiesDetails/index.tsx
  packages/application/src/components/HomeFeatured/index.tsx
  packages/application/src/components/HomeFooter/index.tsx
  packages/application/src/components/HomeFooter/styles.ts
  packages/application/src/components/HomeHello/index.tsx
  packages/application/src/pages/404/index.tsx
  packages/application/src/pages/about/index.tsx
  packages/application/src/pages/index.tsx
  packages/application/src/pages/portfolio/index.tsx
  packages/design-system/src/index.ts
  packages/design-system/src/partials/HeaderImagePartial/index.tsx
  packages/design-system/src/partials/HeaderImagePartial/styles.ts
  packages/design-system/src/partials/HeaderTextPartial/index.tsx
  packages/design-system/src/partials/HeaderTextPartial/stories.tsx
  packages/design-system/src/partials/PageHeaderPartial/index.tsx
  packages/design-system/src/partials/PageHeaderPartial/stories.tsx
  packages/design-system/src/partials/PageHeaderPartial/styles.ts
Due: eslint

chore(deps): adding node-fetch to sitemap to fix serverless jetpack tree shaking
  packages/sitemap/package.json
Due: sort-package-json, prettier --write

chore(deps): adding node-fetch to sitemap to fix serverless jetpack tree shaking
  packages/application/src/libraries/prismic/client/index.ts
  packages/application/types/apollo-link-prismic.d.ts
  packages/sitemap/package.json
  packages/sitemap/src/libraries/prismic/client/index.ts
  packages/sitemap/types/apollo-link-prismic.d.ts
Due: sort-package-json, eslint, prettier --write

chore(prismic): adding node-fetch to prismic link
  packages/application/package.json
  packages/application/src/libraries/prismic/client/index.ts
  packages/config/src/defaults/prismic.ts
  packages/config/src/types/prismic.ts
  packages/sitemap/src/libraries/prismic/client/index.ts
Due: sort-package-json, eslint, prettier --write

chore(deps-dev): bump @storybook/* from 6.4.19 to 6.4.20
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(types): rename typings to types in package.json
  packages/config/package.json
  packages/design-system/package.json
  packages/prismic/package.json
  packages/style-guide/package.json
Due: sort-package-json, prettier --write

chore(sentry): adding sentry to severless applications
  packages/application/src/libraries/sentry/init.ts
  packages/config/src/defaults/sentry.ts
  packages/config/src/types/sentry.ts
  packages/sitemap/package.json
  packages/sitemap/src/lambda.ts
  packages/webhooks/package.json
  packages/webhooks/src/lambda.ts
  yarn.lock
Due: sort-package-json, eslint, prettier --write

ci(branch): renaming master to main
  .circleci/config.yml
  .github/workflows/static-analysis.yml
  packages/webhooks/src/libraries/circleci.ts
Due: eslint, yamllint

ci(serverless): adding SENTRY_DSN to serverless configuration
  serverless.yml
Due: yamllint

chore(deps): bump @storybook/* from 6.4.20 to 6.4.22
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(ga): upgrading to Google Analytics version 4
  packages/application/src/components/GoogleAnalytics/index.tsx
  packages/config/src/defaults/googleAnalytics.ts
  packages/config/src/types/googleAnalytics.ts
Due: eslint

chore(dev-deps): bump @types/react from 17.0.43 to 18.0.8
  packages/application/src/pages/_document.tsx
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(lint): fixing duplicate props definition
  packages/design-system/src/components/Modal/index.tsx
Due: eslint

chore(deps): bump @storybook/* from 6.4.22 to 6.5.8
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps): bump @storybook/* from 6.5.8 to 6.5.9
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(serverless): updating runtime to nodejs16.x
  serverless.yml
Due: yamllint

chore(sitemap): using node-fetch version 2
  packages/application/src/libraries/prismic/client/index.ts
  packages/application/src/pages/index.tsx
  packages/application/src/pages/portfolio/[caseStudySlug]/index.tsx
  packages/application/src/pages/portfolio/index.tsx
  packages/sitemap/package.json
  packages/sitemap/src/libraries/prismic/client/index.ts
  packages/sitemap/src/sitemaps/case-studies.ts
  packages/sitemap/tsconfig.json
  packages/webhooks/tsconfig.json
Due: sort-package-json, eslint, prettier --write

feat: implement svgo for cleaning svg files
  .circleci/config.yml
  .lintstagedrc.js
  package.json
  packages/application/src/assets/vectors/icons/portfolio.svg
  packages/application/src/assets/vectors/principles/ethically.svg
  packages/application/src/assets/vectors/principles/maintainable.svg
  packages/application/src/assets/vectors/principles/on-time.svg
  packages/application/src/assets/vectors/principles/robust.svg
  packages/application/src/assets/vectors/principles/securely.svg
  packages/application/src/assets/vectors/principles/to-satisfaction.svg
  packages/application/src/assets/vectors/principles/to-specification.svg
  packages/application/src/assets/vectors/principles/within-budget.svg
  packages/application/src/assets/vectors/social/github.svg
  packages/application/src/assets/vectors/social/linked-in.svg
  packages/application/src/assets/vectors/social/medium.svg
  packages/application/src/assets/vectors/social/prismic.svg
  packages/application/src/assets/vectors/social/stack-overflow.svg
  packages/design-system/src/assets/vectors/devices/feature-phone.svg
  packages/design-system/src/assets/vectors/devices/smartphone.svg
  packages/design-system/src/assets/vectors/trophy.svg
  svgo.config.js
  yarn.lock
Due: sort-package-json, eslint, prettier --write, yamllint

chore(vscode): changing vscode linting to eslint
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

chore(dependabot): ignore node-fetch updates to version 3
  .github/dependabot.yml
  packages/application/package.json
  packages/sitemap/package.json
  packages/webhooks/package.json
  yarn.lock
Due: sort-package-json, prettier --write, yamllint

chore(vscode): adding styled-components extension
  .vscode/extensions.json
Due: prettier --write

chore(react): normalised ComponentPropsWithRef
  packages/application/src/components/SiteSettings/index.tsx
  packages/application/src/pages/_document.tsx
  packages/design-system/src/components/CallToAction/index.tsx
  packages/design-system/src/components/Logo/index.tsx
  packages/design-system/src/components/MenuButton/index.tsx
  packages/design-system/src/components/Switch/index.tsx
  packages/design-system/src/formatters/RichTextFormatter/index.tsx
  packages/design-system/src/layout/Footer/index.tsx
  packages/design-system/src/layout/FooterGroup/index.tsx
  packages/design-system/src/layout/FooterLinks/index.tsx
  packages/design-system/src/layout/Group/index.tsx
  packages/design-system/src/layout/Navigation/index.tsx
  packages/design-system/src/layout/NavigationGroup/index.tsx
  packages/design-system/src/layout/NavigationItem/index.tsx
  packages/design-system/src/partials/FullImagePartial/index.tsx
  packages/design-system/src/partials/NewspaperPartial/index.tsx
  packages/design-system/src/partials/SplitItemPartial/index.tsx
  packages/design-system/src/partials/SplitPartial/index.tsx
  packages/design-system/src/partials/SubtitlePartial/index.tsx
Due: eslint

chore(eslint): added node env
  .eslintrc.js
Due: eslint

chore(placeholder): updating URL
  packages/design-system/src/components/Brick/stories.tsx
  packages/design-system/src/components/DeviceFeaturePhone/stories.tsx
  packages/design-system/src/components/DeviceSmartphone/stories.tsx
  packages/design-system/src/components/Tile/stories.tsx
  packages/design-system/src/components/Turn/stories.tsx
  packages/design-system/src/partials/CaptionedPartial/stories.tsx
  packages/design-system/src/partials/FullBannerPartial/stories.tsx
  packages/design-system/src/partials/FullImagePartial/stories.tsx
  packages/design-system/src/partials/PageHeaderPartial/stories.tsx
  packages/design-system/src/partials/SplitPartial/stories.tsx
  packages/design-system/src/partials/TitlePartial/stories.tsx
  packages/prismic/src/slice-types/CaptionedImage/fixture.json
  packages/prismic/src/slice-types/CaptionedMagazine/fixture.json
  packages/prismic/src/slice-types/CaptionedScreenshots/fixture.json
  packages/prismic/src/slice-types/CarouselImages/fixture.json
  packages/prismic/src/slice-types/CarouselPhones/fixture.json
  packages/prismic/src/slice-types/GridVideo/fixture.json
Due: eslint, prettier --write

feat(video): modal player
  .gitignore
  packages/application/next.config.js
  packages/application/package.json
  packages/application/src/components/CookiesDetails/index.tsx
  packages/application/src/components/GridLines/styles.ts
  packages/application/src/components/Header/styles.ts
  packages/application/src/components/SiteSettings/index.tsx
  packages/application/src/styleguide/utils/z-index.ts
  packages/application/tsconfig.json
  packages/design-system/package.json
  packages/design-system/src/components/Modal/index.tsx
  packages/design-system/src/components/Modal/stories.tsx
  packages/design-system/src/components/ModalContent/index.tsx
  packages/design-system/src/components/ModalContent/styles.ts
  packages/design-system/src/components/ModalFrame/index.tsx
  packages/design-system/src/components/ModalFrame/styles.ts
  packages/design-system/src/components/VideoModal/index.tsx
  packages/design-system/src/components/VideoModal/stories.tsx
  packages/design-system/src/components/VideoModal/styles.ts
  packages/design-system/src/components/VideoPlayer/index.tsx
  packages/design-system/src/components/VideoPlayer/stories.tsx
  packages/design-system/src/components/VideoPlayer/styles.ts
  packages/design-system/src/components/VideoPlayerYouTube/index.tsx
  packages/design-system/src/components/VideoPlayerYouTube/stories.tsx
  packages/design-system/src/components/VideoPoster/index.tsx
  packages/design-system/src/components/VideoPoster/styles.ts
  packages/design-system/src/index.ts
  packages/design-system/src/slices/CaptionedVideoSlice/index.tsx
  packages/design-system/src/slices/GridVideoSlice/index.tsx
  packages/style-guide/src/index.tsx
  packages/style-guide/src/utils/layer.ts
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(react): using ComponentPropsWithoutRef for function components
  packages/application/src/components/SiteSettings/index.tsx
  packages/design-system/src/components/CallToAction/index.tsx
  packages/design-system/src/components/Logo/index.tsx
  packages/design-system/src/components/MenuButton/index.tsx
  packages/design-system/src/components/ModalContent/index.tsx
  packages/design-system/src/components/ModalOverlay/index.tsx
  packages/design-system/src/components/Switch/index.tsx
  packages/design-system/src/components/VideoPoster/index.tsx
  packages/design-system/src/formatters/RichTextFormatter/index.tsx
  packages/design-system/src/layout/Footer/index.tsx
  packages/design-system/src/layout/FooterGroup/index.tsx
  packages/design-system/src/layout/FooterLinks/index.tsx
  packages/design-system/src/layout/Group/index.tsx
  packages/design-system/src/layout/Navigation/index.tsx
  packages/design-system/src/layout/NavigationGroup/index.tsx
  packages/design-system/src/layout/NavigationItem/index.tsx
  packages/design-system/src/partials/FullImagePartial/index.tsx
  packages/design-system/src/partials/NewspaperPartial/index.tsx
  packages/design-system/src/partials/SplitItemPartial/index.tsx
  packages/design-system/src/partials/SplitPartial/index.tsx
  packages/design-system/src/partials/SubtitlePartial/index.tsx
Due: eslint

fix(application): fixing typescript compilation
  packages/application/next.config.js
  packages/application/package.json
  packages/application/tsconfig.build.json
  packages/application/tsconfig.json
  packages/application/tsconfig.spec.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(deps): use prettier 2.7.1
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps): removing babel in favour of swc
  packages/design-system/.storybook/main.js
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write

fix(design-system): slick carousel global css
  packages/design-system/src/components/Carousel/index.tsx
  packages/design-system/src/components/Carousel/styles.ts
  packages/design-system/src/libraries/slick/styles.ts
Due: eslint

chore(dev-deps): bump @storybook/* from 6.5.9 to 6.5.10
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(application): change copyright date
  packages/application/src/components/FooterCopyright/index.tsx
Due: eslint

fix(sitemap): fixing namespace
  packages/sitemap/src/templates/sitemap.ts
  packages/sitemap/src/templates/sitemapindex.ts
Due: eslint

chore(deps): bump @storybook/* from 6.5.10 to 6.5.12
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(svg): lint
  packages/application/src/assets/vectors/icons/portfolio.svg
  packages/application/src/assets/vectors/principles/ethically.svg
  packages/application/src/assets/vectors/principles/maintainable.svg
  packages/application/src/assets/vectors/principles/on-time.svg
  packages/application/src/assets/vectors/principles/robust.svg
  packages/application/src/assets/vectors/principles/securely.svg
  packages/application/src/assets/vectors/principles/to-satisfaction.svg
  packages/application/src/assets/vectors/principles/to-specification.svg
  packages/application/src/assets/vectors/principles/within-budget.svg
  packages/application/src/assets/vectors/social/github.svg
  packages/application/src/assets/vectors/social/linked-in.svg
  packages/application/src/assets/vectors/social/medium.svg
  packages/application/src/assets/vectors/social/prismic.svg
  packages/application/src/assets/vectors/social/stack-overflow.svg
  packages/design-system/src/assets/vectors/devices/smartphone.svg
Due: none

Path conditions:
  sort-package-json: any of: package.json
  stylelint: any of: *.{css,scss}
  eslint: any of: *.{js,ts,tsx}
  prettier --write: ((any of: *.html) or (any of: *.json)) or (any of: *.md)
  yamllint: any of: *.{yml,yaml}
