Repository bashaus/bashkim-com: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, stylelint, eslint, prettier --write, yamllint

.lintstagedrc.json:

{
  "package.json": ["sort-package-json"],
  "*.{css,scss}": ["stylelint"],
  "*.{js,ts,tsx}": ["eslint"],
  "*.html": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.{yml,yaml}": ["yamllint"]
}

style: tile
  packages/design-system/src/components/Tile/index.tsx
  packages/design-system/src/components/Tile/styles.module.scss
  packages/design-system/src/components/Tile/styles.tsx
  packages/website/src/domains/portfolio-page/components/PortfolioFeaturedCaseStudies/index.tsx
Due: stylelint, eslint

refactor: remove unused stylesheet
  packages/design-system/src/partials/SubtitlePartial/styles.module.scss
Due: stylelint

style: title partial
  packages/design-system/src/partials/TitlePartial/index.tsx
  packages/design-system/src/partials/TitlePartial/styles.module.scss
  packages/design-system/src/partials/TitlePartial/styles.tsx
  packages/website/src/domains/case-study-page/components/CaseStudyHeader/index.tsx
Due: stylelint, eslint

style: video player link
  packages/design-system/package.json
  packages/design-system/src/components/VideoPlayerLink/index.tsx
  packages/design-system/src/components/VideoPoster/index.tsx
  packages/design-system/src/components/VideoPoster/styles.module.scss
  packages/design-system/src/slices/GridVideoSlice/index.tsx
  packages/design-system/src/slices/GridVideoSlice/styles.module.scss
Due: sort-package-json, stylelint, eslint, prettier --write

style: collaborators
  packages/design-system/src/slices/CollaboratorSlice/index.tsx
  packages/website/src/domains/case-study-page/components/CaseStudyCollaborators/index.tsx
  packages/website/src/domains/case-study-page/components/CaseStudyCollaborators/styles.module.scss
Due: stylelint, eslint

refactor: mui grid reference
  packages/website/src/domains/case-study-page/components/CaseStudyCollaborators/index.tsx
  packages/website/src/domains/portfolio-page/components/PortfolioFeaturedCaseStudies/index.tsx
Due: eslint

chore: github repositories
  packages/socials/graphql/github/queries/get-pinned-items.gql
  packages/socials/src/github/index.ts
  packages/socials/src/github/types.ts
  packages/website/src/app/@socialModals/(.)socials/github/page.tsx
  packages/website/src/domains/socials-github/SocialGitHub/index.tsx
Due: eslint

style: awards
  packages/design-system/src/slices/AccoladeSlice/index.tsx
  packages/design-system/src/slices/AccoladeSlice/styles.module.scss
  packages/design-system/src/slices/AccoladeSlice/styles.tsx
  packages/style-guide/src/appearance/_dark.scss
  packages/style-guide/src/appearance/_light.scss
  packages/style-guide/src/variables/_color.scss
  packages/website/src/components/NavigationPrimary/styles.module.scss
  packages/website/src/domains/case-study-page/components/CaseStudyHeader/styles.module.scss
Due: stylelint, eslint

chore: remove stylelint
  .stylelintignore
  .stylelintrc.json
  .vscode/extensions.json
  lint-staged.config.mjs
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

style: footer copyright
  packages/website/src/components/FooterCopyright/index.tsx
  packages/website/src/components/FooterCopyright/styles.module.scss
  packages/website/src/domains/case-study-page/components/CaseStudyExhibitions/index.tsx
  packages/website/src/domains/case-study-page/components/CaseStudyExhibitions/styles.module.scss
Due: stylelint, eslint

style: darken and lighten
  packages/design-system/src/layout/Group/styles.tsx
Due: eslint

style: spacing
  packages/design-system/src/layout/Group/index.tsx
  packages/design-system/src/layout/Group/styles.tsx
  packages/website/src/domains/portfolio-page/components/PortfolioPageLockup/index.tsx
Due: eslint

style: about principles
  packages/website/src/domains/about-page/components/AboutPrinciples/index.tsx
  packages/website/src/domains/about-page/components/AboutPrinciples/styles.module.scss
  packages/website/src/domains/about-page/components/AboutPrinciples/styles.tsx
Due: stylelint, eslint

fix: grid2 references
  packages/design-system/src/slices/AccoladeSlice/index.tsx
  packages/design-system/src/slices/GridEmbedSlice/index.tsx
  packages/website/src/domains/about-page/components/AboutPrinciples/index.tsx
  packages/website/src/domains/case-study-page/components/CaseStudyExhibitions/index.tsx
Due: eslint

fix: grid2 references
  packages/design-system/src/slices/AccoladeSlice/index.tsx
  packages/design-system/src/slices/GridEmbedSlice/index.tsx
  packages/website/src/domains/about-page/components/AboutPrinciples/index.tsx
  packages/website/src/domains/case-study-page/components/CaseStudyExhibitions/index.tsx
  packages/website/src/domains/portfolio-page/components/PortfolioPageLockup/index.tsx
Due: eslint

fix: mark props as readonly
  packages/website/src/domains/socials/SocialDrawer/index.tsx
Due: eslint

fix: contentinfo
  packages/website/src/components/FooterCopyright/index.tsx
Due: eslint

fix: remove commented code
  packages/style-guide/src/variables/_font-size.scss
Due: stylelint

fix: using regexp exec
  packages/socials/src/medium/helpers.ts
Due: eslint

chore: added missing key
  packages/design-system/src/slices/CaptionedMagazineSlice/index.tsx
Due: eslint

chore: remove onKeyPress as it is deprecated
  packages/design-system/src/layout/FooterColumn/index.tsx
Due: eslint

fix: tests
  packages/design-system/src/components/Tile/index.spec.tsx
  packages/design-system/src/components/Tile/index.tsx
  packages/design-system/src/components/Tile/stories.tsx
Due: eslint

chore: pre-commit test
  .husky/pre-commit
Due: none

chore: remove svg plugin
  .vscode/extensions.json
Due: prettier --write

chore: remove sqlite plugin
  .vscode/extensions.json
Due: prettier --write

fix: key
  packages/design-system/src/slices/GridEmbedSlice/index.tsx
Due: eslint

chore: readonly props
  packages/website/src/domains/about-page/components/AboutPrinciples/styles.tsx
Due: eslint

refactor: site settings domain
  packages/website/src/components/GridLines/index.tsx
  packages/website/src/components/MenuButtonSettings/index.tsx
  packages/website/src/contexts/Settings/actions.ts
  packages/website/src/contexts/Settings/context.tsx
  packages/website/src/contexts/Settings/provider.tsx
  packages/website/src/contexts/Settings/reducer.ts
  packages/website/src/contexts/Settings/state.ts
  packages/website/src/domains/site-settings/components/SiteSettings/index.tsx
  packages/website/src/domains/site-settings/components/SiteSettingsAppearance/index.tsx
  packages/website/src/domains/site-settings/components/SiteSettingsGridLines/index.tsx
  packages/website/src/domains/site-settings/components/SiteSettingsToggleButton/index.tsx
  packages/website/src/domains/site-settings/components/SiteSettingsToggleButton/styles.tsx
  packages/website/src/domains/site-settings/contexts/SiteSettings/actions.ts
  packages/website/src/domains/site-settings/contexts/SiteSettings/context.tsx
  packages/website/src/domains/site-settings/contexts/SiteSettings/provider.tsx
  packages/website/src/domains/site-settings/contexts/SiteSettings/reducer.ts
  packages/website/src/domains/site-settings/contexts/SiteSettings/state.ts
  packages/website/src/layouts/SiteLayout/index.tsx
Due: eslint

chore: reorder featured portfolio
  packages/website/src/domains/portfolio-page/components/PortfolioFeaturedCaseStudies/index.tsx
Due: eslint

chore: remove tsconfig.lib.json
  packages/design-system/tsconfig.json
  packages/design-system/tsconfig.lib.json
  packages/prismic-fixtures/tsconfig.json
  packages/prismic-fixtures/tsconfig.lib.json
  packages/prismic-helpers/tsconfig.json
  packages/prismic-helpers/tsconfig.lib.json
Due: prettier --write

chore: remove unused import
  packages/website/src/domains/portfolio-page/components/PortfolioFeaturedCaseStudies/index.tsx
Due: eslint

chore: codegen
  packages/prismic-dal/turbo.json
  packages/socials/codegen.ts
  packages/socials/turbo.json
  turbo.json
Due: eslint, prettier --write

chore: bump turbo from 2.4.2 to 2.4.4
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore: turbo codegen
  graphql.config.yml
  packages/prismic-dal/package.json
  packages/prismic-dal/turbo.json
  packages/socials/package.json
  packages/socials/turbo.json
  turbo.json
Due: sort-package-json, prettier --write, yamllint

chore: codegen cache
  eslint.config.mjs
  packages/design-system/eslint.config.mjs
  packages/eslint/eslint.config.mjs
  packages/eslint/src/configs/base.mjs
  packages/prismic-dal/codegen.deps.ts
  packages/prismic-dal/codegen.ts
  packages/prismic-dal/eslint.config.mjs
  packages/prismic-dal/turbo.json
  packages/prismic-fixtures/eslint.config.mjs
  packages/prismic-helpers/eslint.config.mjs
  packages/prismic-schema/eslint.config.mjs
  packages/socials/codegen.deps.ts
  packages/socials/codegen.ts
  packages/socials/eslint.config.mjs
  packages/socials/graphql/github/types.ts
  packages/socials/turbo.json
  packages/website/eslint.config.mjs
Due: eslint, prettier --write

chore: turbo env
  turbo.json
Due: prettier --write

fix: mark as readonly
  packages/website/src/components/HeaderMobile/index.tsx
Due: eslint

feat: vercel speed insights
  packages/website/package.json
  packages/website/src/app/layout.tsx
  yarn.lock
Due: sort-package-json, eslint, prettier --write
