Repository bashaus/bashkim-com: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, stylelint, eslint, prettier --write, yamllint

.lintstagedrc.json:

{
  "package.json": ["sort-package-json"],
  "*.{css,scss}": ["stylelint"],
  "*.{js,ts,tsx}": ["eslint"],
  "*.html": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.{yml,yaml}": ["yamllint"]
}

chore: remove reference to opts
  packages/prismic-dal/src/prismic/embed-video/factory.ts
  packages/prismic-dal/src/prismic/image/factory.ts
  packages/prismic-dal/src/slice-types/accolade/factory.ts
  packages/prismic-dal/src/slice-types/captioned-magazine/factory.ts
  packages/prismic-dal/src/slice-types/captioned-screenshots/factory.ts
  packages/prismic-dal/src/slice-types/carousel-images/factory.ts
  packages/prismic-dal/src/slice-types/carousel-phones/factory.ts
  packages/prismic-dal/src/slice-types/grid-video/factory.ts
Due: eslint

refactor: simplify prismic images
  packages/prismic-dal/src/prismic/embed-video/factory.ts
  packages/prismic-dal/src/prismic/image/factory.ts
  packages/prismic-dal/src/prismic/meta/factory.ts
  packages/prismic-dal/src/slice-types/captioned-screenshots/factory.ts
  packages/prismic-dal/src/slice-types/carousel-images/factory.ts
  packages/prismic-dal/src/slice-types/carousel-phones/factory.ts
Due: eslint

chore: simplify screenshots factory
  packages/prismic-dal/src/slice-types/captioned-screenshots/factory.ts
Due: eslint

chore: add spring delay to magazine layout
  packages/design-system/src/components/MagazineLayout/index.tsx
Due: eslint

refactor: rename breakpoints
  packages/prismic-dal/src/slice-types/captioned-screenshots/factory.ts
Due: eslint

chore: increase portfolio category case studies
  packages/prismic-dal/src/slice-types/portfolio-category/factory.ts
Due: eslint

chore: storybook link resolver
  packages/design-system/.storybook/decorators/PrismicLinkResolverDecorator/index.tsx
  packages/design-system/.storybook/preview.ts
  packages/design-system/src/slices/AccoladeSlice/index.spec.tsx
  packages/prismic-dal/src/models/case-study-info-deliverable/index.ts
  packages/prismic-dal/src/models/peer/index.ts
  packages/prismic-dal/src/prismic/external-link/factory.ts
  packages/prismic-dal/src/prismic/external-link/index.ts
  packages/prismic-dal/src/slice-types/accolade/factory.ts
  packages/prismic-dal/src/slice-types/accolade/index.ts
  packages/prismic-dal/src/slice-types/exhibition/index.ts
Due: eslint

chore: adding __typename to all fragments
  packages/prismic-dal/src/models/case-study-body/index.ts
  packages/prismic-dal/src/models/home-page/index.ts
  packages/prismic-dal/src/models/portfolio-page-featured/index.ts
  packages/prismic-dal/src/models/portfolio-page/index.ts
  packages/prismic-dal/src/models/sitemap-case-study/index.ts
  packages/prismic-dal/src/models/sitemap-home-page/index.ts
  packages/prismic-dal/src/models/sitemap-portfolio-page/index.ts
  packages/prismic-dal/src/slice-types/accolade/index.ts
  packages/prismic-dal/src/slice-types/captioned-image/index.ts
  packages/prismic-dal/src/slice-types/captioned-magazine/index.ts
  packages/prismic-dal/src/slice-types/captioned-screenshots/index.ts
  packages/prismic-dal/src/slice-types/captioned-video/index.ts
  packages/prismic-dal/src/slice-types/carousel-images/index.ts
  packages/prismic-dal/src/slice-types/carousel-phones/index.ts
  packages/prismic-dal/src/slice-types/collaborator/index.ts
  packages/prismic-dal/src/slice-types/exhibition/index.ts
  packages/prismic-dal/src/slice-types/full-text/index.ts
  packages/prismic-dal/src/slice-types/grid-embed/index.ts
  packages/prismic-dal/src/slice-types/grid-video/index.ts
  packages/prismic-dal/src/slice-types/newspaper/index.ts
  packages/prismic-dal/src/slice-types/portfolio-category/index.ts
  packages/prismic-dal/src/slice-types/subtitle/index.ts
Due: eslint

refactor: unifying approach to factory building
  packages/design-system/src/slices/AccoladeSlice/index.spec.tsx
  packages/design-system/src/slices/CaptionedImageSlice/index.spec.tsx
  packages/design-system/src/slices/NewspaperSlice/index.spec.tsx
  packages/design-system/src/slices/SubtitleSlice/index.spec.tsx
  packages/prismic-dal/src/models/portfolio-page/factory.ts
  packages/prismic-dal/src/slice-types/accolade/factory.ts
  packages/prismic-dal/src/slice-types/captioned-image/factory.ts
  packages/prismic-dal/src/slice-types/captioned-magazine/factory.ts
  packages/prismic-dal/src/slice-types/captioned-screenshots/factory.ts
  packages/prismic-dal/src/slice-types/captioned-video/factory.ts
  packages/prismic-dal/src/slice-types/carousel-images/factory.ts
  packages/prismic-dal/src/slice-types/carousel-phones/factory.ts
  packages/prismic-dal/src/slice-types/collaborator/factory.ts
  packages/prismic-dal/src/slice-types/exhibition/factory.ts
  packages/prismic-dal/src/slice-types/full-text/factory.ts
  packages/prismic-dal/src/slice-types/grid-embed/factory.ts
  packages/prismic-dal/src/slice-types/grid-video/factory.ts
  packages/prismic-dal/src/slice-types/newspaper/factory.ts
  packages/prismic-dal/src/slice-types/portfolio-category/factory.ts
  packages/prismic-dal/src/slice-types/subtitle/factory.ts
Due: eslint

refactor: msw configuration
  packages/website/src/instrumentation.ts
  turbo/generators/templates/packages/website/.env.local.hbs
Due: eslint

ci: remove matrix as playwright uses chromium
  .github/workflows/e2e.yaml
  .gitignore
  .prettierignore
  packages/eslint/src/configs/base.mjs
  packages/website-e2e/cucumber.mjs
  packages/website-e2e/eslint.config.mjs
  packages/website-e2e/src/hooks/playwright.ts
Due: eslint, yamllint

chore(website-e2e): control headless
  .github/workflows/e2e.yaml
  packages/website-e2e/cucumber.mjs
  packages/website-e2e/src/hooks/playwright.ts
  packages/website-e2e/src/hooks/vercel.ts
  packages/website-e2e/src/step-definitions/navigation/homepage.ts
  packages/website-e2e/src/world/parameters.ts
  turbo/generators/init/generator.ts
  turbo/generators/init/prompts/playwright-headless.ts
  turbo/generators/templates/packages/website-e2e/.env.hbs
Due: eslint, yamllint

chore: headless default true
  packages/website-e2e/src/hooks/playwright.ts
Due: eslint

fix: playwright bypass secret
  packages/website-e2e/cucumber.mjs
  packages/website-e2e/src/hooks/vercel.ts
Due: eslint

chore: multiple browsers
  .github/workflows/e2e.yaml
  packages/website-e2e/cucumber.mjs
  packages/website-e2e/src/hooks/playwright.ts
  packages/website-e2e/src/world/parameters.ts
  turbo/generators/templates/packages/website-e2e/.env.hbs
Due: eslint, yamllint

ci: shards
  .github/workflows/e2e.yaml
  packages/website-e2e/cucumber.mjs
Due: yamllint

fix: double hyphen
  .github/workflows/e2e.yaml
Due: yamllint

ci: test pipeline name
  .github/workflows/e2e.yaml
Due: yamllint

chore: screenshot on error
  .github/workflows/lighthouse.yaml
  packages/website-e2e/src/hooks/playwright.ts
Due: eslint, yamllint

ci: e2e dispatch set URL
  .github/workflows/e2e-dispatch.yaml
  .github/workflows/e2e-schedule.yaml
Due: yamllint

chore: disable vimeo in playwright
  packages/website-e2e/src/hooks/vimeo.ts
Due: eslint

chore: set timeout to 30 seconds
  packages/website-e2e/src/world/index.ts
Due: eslint

chore: bypass actionability checks
  packages/website-e2e/src/step-definitions/toolbar/menu-icon.ts
  packages/website-e2e/src/world/index.ts
Due: eslint

chore: remove visibility filter
  packages/website-e2e/src/step-definitions/toolbar/menu-icon.ts
Due: eslint

chore: removing motion fade in
  .github/workflows/e2e.yaml
  .github/workflows/lighthouse.yaml
  .github/workflows/vercel.yaml
  packages/design-system/src/video/VideoSeekBar/index.tsx
  packages/website-e2e/src/step-definitions/toolbar/menu-icon.ts
  packages/website/src/components/MotionFadeIn/index.tsx
  packages/website/src/components/Page/index.tsx
Due: eslint, yamllint

chore: bypass filter
  packages/design-system/src/video/VideoSeekBar/index.tsx
  packages/website-e2e/src/step-definitions/toolbar/menu-item.ts
Due: eslint

chore: debug
  .github/workflows/e2e.yaml
Due: yamllint

chore: remove toolbar reference
  .github/workflows/e2e.yaml
  packages/website-e2e/src/step-definitions/toolbar/menu-icon.ts
  packages/website-e2e/src/step-definitions/toolbar/menu-item.ts
Due: eslint, yamllint

fix: error
  packages/website-e2e/features/socials/github.feature
  packages/website-e2e/features/socials/medium.feature
  packages/website-e2e/features/socials/stack-overflow.feature
  packages/website-e2e/src/step-definitions/general/text.ts
  packages/website-e2e/src/step-definitions/social/drawer.ts
  packages/website-e2e/src/step-definitions/social/index.ts
Due: eslint

chore: simplify
  packages/website-e2e/src/step-definitions/social/index.ts
Due: eslint

chore: to be attached
  packages/website-e2e/src/step-definitions/social/index.ts
Due: eslint

chore: visible
  packages/website-e2e/src/hooks/playwright.ts
  packages/website-e2e/src/step-definitions/social/index.ts
Due: eslint

fix: simplifying error checking
  packages/website-e2e/features/socials/github.feature
  packages/website-e2e/features/socials/medium.feature
  packages/website-e2e/features/socials/stack-overflow.feature
  packages/website-e2e/src/step-definitions/social/mock.ts
Due: eslint

chore: single shard
  .github/workflows/e2e.yaml
  .github/workflows/lighthouse.yaml
Due: yamllint

style: shard naming
  .github/workflows/e2e-dispatch.yaml
  .github/workflows/e2e-schedule.yaml
  .github/workflows/e2e.yaml
Due: yamllint

fix: lint
  packages/website-e2e/src/hooks/playwright.ts
Due: eslint

chore: update qs
  package-lock.json
Due: prettier --write
