Repository bashaus/bashkim-com: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, stylelint, eslint, prettier --write, yamllint

fix: void return non-await
  packages/website/src/domains/cookies-page/hooks/use-cookies-toast/index.tsx
Due: eslint

chore: disable cookie toast
  packages/website/src/layouts/SiteLayout/index.tsx
Due: eslint

chore: remove trailing slash
  packages/website/next.config.js
  packages/website/src/app/about/page.tsx
  packages/website/src/app/cookies/page.tsx
  packages/website/src/app/portfolio/[caseStudySlug]/page.tsx
  packages/website/src/app/portfolio/page.tsx
  packages/website/src/app/portfolio/sitemap.ts
  packages/website/src/app/sitemap.ts
  packages/website/src/libraries/app/generateCanonical.ts
  packages/website/src/libraries/prismic/PrismicLinkResolver.spec.ts
  packages/website/src/libraries/prismic/PrismicLinkResolver.ts
Due: eslint

chore: image asset rename
  packages/website/src/domains/portfolio-page/assets/header-desktop.jpg
  packages/website/src/domains/portfolio-page/components/PortfolioPageLockup/index.tsx
  packages/website/src/domains/socials/SocialHeader/index.tsx
Due: eslint

chore: replace portfolio background with lightbulb
  packages/website/src/domains/portfolio-page/assets/header-desktop.jpg
  packages/website/src/domains/portfolio-page/assets/header-desktop.txt
Due: none

refactor: cookies page mui
  packages/website/src/domains/cookies-page/components/CookiesDetails/index.tsx
Due: eslint

ci(dependabot): increase pull request limit
  .github/dependabot.yml
Due: yamllint

chore: disable dependabot on npm
  .github/dependabot.yml
Due: yamllint

fix: eslint
  packages/design-system/src/components/Backdrop/index.tsx
  packages/eslint/package.json
  packages/eslint/src/configs/base.mjs
  packages/eslint/src/configs/react.mjs
  packages/website/eslint.config.mjs
  packages/website/package.json
  packages/website/tsconfig.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore: react version 19.1.0
  package.json
  packages/design-system/package.json
  packages/website/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore: bump storybook from 8.6.11 to 8.6.12
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

fix: next config
  packages/website/eslint.config.mjs
  packages/website/next.config.mjs
Due: none

chore: bump @testing-library/react to 16.3.0
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

docs: updated readme
  README.md
Due: prettier --write

fix: sonarcloud issues
  packages/socials/src/github/index.ts
  packages/website/src/domains/about-page/components/AboutPrinciples/styles.tsx
  packages/website/src/domains/case-study-page/components/CaseStudyPageLockup/index.tsx
Due: eslint

chore: sonar project exclusions
  sonar-project.properties
Due: none

chore: husky or true
  package.json
Due: sort-package-json, prettier --write

chore: bump storybook from 8.6.12 to 9.0.16
  packages/design-system/.storybook/main.ts
  packages/design-system/eslint.config.mjs
  packages/design-system/package.json
  packages/design-system/src/content/Introduction/Welcome.mdx
  packages/eslint/package.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore: bump turbo from 2.5.0 to 2.5.4
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

refactor: replace react-slick with embla
  packages/design-system/package.json
  packages/design-system/src/components/Carousel/index.tsx
  packages/design-system/src/components/Carousel/stories.tsx
  packages/design-system/src/components/Carousel/styles.tsx
  packages/design-system/src/components/CarouselArrow/index.tsx
  packages/design-system/src/components/CarouselArrow/styles.module.scss
  packages/design-system/src/components/CarouselArrow/types.ts
  packages/design-system/src/components/CarouselButton/hooks.ts
  packages/design-system/src/components/CarouselButton/index.tsx
  packages/design-system/src/components/CarouselButton/styles.tsx
  packages/design-system/src/components/CarouselDot/hooks.ts
  packages/design-system/src/components/CarouselDot/index.tsx
  packages/design-system/src/components/CarouselDot/styles.tsx
  packages/design-system/src/components/CarouselDots/index.tsx
  packages/design-system/src/components/CarouselDots/styles.module.scss
  packages/design-system/src/slices/CarouselPhonesSlice/index.tsx
  packages/style-guide/src/libraries/slick/styles.scss
  packages/style-guide/src/normalize/index.scss
  yarn.lock
Due: sort-package-json, stylelint, eslint, prettier --write

refactor: carousel components
  packages/design-system/src/components/Carousel/index.tsx
  packages/design-system/src/components/Carousel/stories.tsx
  packages/design-system/src/components/CarouselButton/hooks.ts
  packages/design-system/src/components/CarouselButton/index.tsx
  packages/design-system/src/components/CarouselButtonBack/index.tsx
  packages/design-system/src/components/CarouselButtonBack/stories.tsx
  packages/design-system/src/components/CarouselButtonNext/index.tsx
  packages/design-system/src/components/CarouselButtonNext/stories.tsx
  packages/design-system/src/components/CarouselButtons/hooks.ts
  packages/design-system/src/components/CarouselButtons/index.tsx
  packages/design-system/src/components/CarouselDot/index.tsx
  packages/design-system/src/components/CarouselDot/stories.tsx
  packages/design-system/src/components/CarouselDot/styles.tsx
  packages/design-system/src/components/CarouselDots/hooks.ts
  packages/design-system/src/components/CarouselDots/index.tsx
  packages/design-system/src/components/CarouselDots/stories.tsx
  packages/design-system/src/components/CarouselProvider/context.ts
  packages/design-system/src/components/CarouselProvider/index.tsx
  packages/design-system/src/components/CarouselViewport/index.tsx
  packages/design-system/src/components/CarouselViewport/stories.tsx
  packages/design-system/src/components/CarouselViewport/styles.tsx
Due: eslint

refactor: rename stories
  packages/design-system/src/components/CarouselButtonBack/stories.tsx
  packages/design-system/src/components/CarouselButtonNext/stories.tsx
  packages/design-system/src/components/CarouselDot/stories.tsx
  packages/design-system/src/components/CarouselDots/stories.tsx
  packages/design-system/src/components/CarouselViewport/stories.tsx
Due: eslint

style: cookies
  packages/website/src/domains/cookies-page/components/CookiesDetails/index.tsx
  packages/website/src/domains/cookies-page/components/CookiesDetails/styles.module.scss
Due: stylelint, eslint

refactor: smartphone and feature phone
  packages/design-system/src/components/DeviceFeaturePhone/index.tsx
  packages/design-system/src/components/DeviceFeaturePhone/stories.tsx
  packages/design-system/src/components/DeviceFeaturePhone/styles.module.scss
  packages/design-system/src/components/DeviceFeaturePhone/styles.tsx
  packages/design-system/src/components/DeviceSmartphone/index.tsx
  packages/design-system/src/components/DeviceSmartphone/stories.tsx
  packages/design-system/src/components/DeviceSmartphone/styles.module.scss
  packages/design-system/src/components/DeviceSmartphone/styles.tsx
Due: stylelint, eslint

refactor: carousel image
  packages/design-system/src/components/CarouselImage/index.tsx
  packages/design-system/src/components/CarouselImage/styles.module.scss
  packages/design-system/src/components/CarouselImage/styles.tsx
Due: stylelint, eslint

refactor: grid embed slice
  packages/design-system/src/slices/GridEmbedSlice/index.tsx
  packages/design-system/src/slices/GridEmbedSlice/styles.module.scss
Due: stylelint, eslint

refactor: about page styles
  packages/website/src/domains/about-page/components/AboutCertifications/index.tsx
  packages/website/src/domains/about-page/components/AboutCertifications/styles.module.scss
  packages/website/src/domains/about-page/components/AboutCertifications/styles.tsx
  packages/website/src/domains/about-page/components/AboutEducation/index.tsx
  packages/website/src/domains/about-page/components/AboutEducation/styles.module.scss
  packages/website/src/domains/about-page/components/AboutEducation/styles.tsx
  packages/website/src/domains/about-page/components/AboutPageHeader/index.tsx
  packages/website/src/domains/about-page/components/AboutPageHeader/styles.module.scss
  packages/website/src/domains/about-page/components/AboutPageHeader/styles.tsx
Due: stylelint, eslint

refactor: stack overflow styles
  packages/website/src/domains/socials-stack-overflow/SocialStackOverflow/index.tsx
  packages/website/src/domains/socials-stack-overflow/SocialStackOverflow/styles.module.scss
  packages/website/src/domains/socials-stack-overflow/SocialStackOverflow/styles.tsx
Due: stylelint, eslint

chore: video background in fullscreen
  packages/design-system/src/components/VideoBackground/stories.tsx
Due: eslint

fix: sonarqube issues
  packages/design-system/src/components/CarouselDots/index.tsx
  packages/design-system/src/components/CarouselViewport/index.tsx
  packages/design-system/src/slices/GridEmbedSlice/index.tsx
Due: eslint

style: video dialog
  packages/design-system/src/components/VideoDialog/index.tsx
Due: eslint

style: padding on homepage cards
  packages/website/src/domains/home-page/components/HomeFeatured/index.tsx
  packages/website/src/domains/home-page/components/HomeFeatured/styles.tsx
Due: eslint

style: move icon to start of button
  packages/design-system/src/components/VideoDialog/index.tsx
Due: eslint

fix: image constraints
  packages/design-system/src/material-ui/components/MuiCssBaseline/index.tsx
  packages/design-system/src/partials/TitlePartial/styles.tsx
  packages/website/src/domains/about-page/components/AboutCertifications/styles.tsx
Due: eslint

style: move normalize to material ui
  packages/design-system/.storybook/decorators/NormalizeDecorator/index.tsx
  packages/design-system/.storybook/preview.ts
  packages/design-system/src/material-ui/components/MuiCssBaseline/index.tsx
  packages/style-guide/package.json
  packages/style-guide/src/entry/fonts.scss
  packages/style-guide/src/index.scss
  packages/style-guide/src/normalize/_document.scss
  packages/style-guide/src/normalize/_images.scss
  packages/style-guide/src/normalize/_objects.scss
  packages/style-guide/src/normalize/_text.scss
  packages/style-guide/src/normalize/index.scss
  packages/website/src/layouts/SiteLayout/index.tsx
Due: sort-package-json, stylelint, eslint, prettier --write

test: story from vimeo
  packages/design-system/src/components/VideoBackground/stories.tsx
Due: eslint

chore: increase margin top
  packages/design-system/src/content/Introduction/stories.tsx
Due: eslint

fix: image import
  packages/website/src/domains/about-page/components/AboutCertifications/index.tsx
  packages/website/src/domains/about-page/components/AboutEducation/index.tsx
  packages/website/src/domains/about-page/components/AboutPageHeader/index.tsx
  packages/website/src/domains/cookies-page/components/CookiesDetails/index.tsx
  packages/website/src/domains/portfolio-page/components/PortfolioPageLockup/index.tsx
  packages/website/src/domains/socials/SocialHeader/index.tsx
Due: eslint

Path conditions:
  sort-package-json: any of: package.json
  stylelint: any of: *.{css,scss}
  eslint: any of: *.{js,ts,tsx}
  prettier --write: ((any of: *.html) or (any of: *.json)) or (any of: *.md)
  yamllint: any of: *.{yml,yaml}
