Repository bashaus/bashkim-com: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, stylelint, eslint, prettier --write, yamllint

.lintstagedrc.json:

{
  "package.json": ["sort-package-json"],
  "*.{css,scss}": ["stylelint"],
  "*.{js,ts,tsx}": ["eslint"],
  "*.html": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.{yml,yaml}": ["yamllint"]
}

refactor: story for home
  packages/design-system/.storybook/manager.ts
  packages/design-system/.storybook/preview.ts
  packages/design-system/src/content/Home/stories.tsx
Due: eslint

refactor: remove chevron
  packages/design-system/src/partials/SplitItemPartial/index.tsx
  packages/design-system/src/partials/SplitItemPartial/styles.module.scss
  packages/design-system/src/partials/SplitPartial/index.tsx
  packages/design-system/src/partials/SplitPartial/styles.module.scss
  packages/design-system/src/partials/SplitPartial/styles.tsx
  packages/style-guide/package.json
  packages/style-guide/src/entry/utils.scss
  packages/style-guide/src/utils/_chevron.scss
Due: sort-package-json, stylelint, eslint, prettier --write

style: slide spacing
  packages/design-system/src/components/CarouselProvider/index.tsx
Due: eslint

refactor: remove rich text formatter in favour of mui
  packages/design-system/package.json
  packages/design-system/src/components/CarouselImage/index.tsx
  packages/design-system/src/components/DeviceFeaturePhone/index.tsx
  packages/design-system/src/components/DeviceFeaturePhone/stories.tsx
  packages/design-system/src/components/DeviceSmartphone/index.tsx
  packages/design-system/src/components/DeviceSmartphone/stories.tsx
  packages/design-system/src/formatters/RichTextFormatter/index.tsx
  packages/design-system/src/formatters/RichTextFormatter/stories.tsx
  packages/design-system/src/formatters/RichTextFormatter/styles.module.scss
  packages/design-system/src/partials/CaptionedPartial/stories.tsx
  packages/design-system/src/partials/FullTextPartial/index.tsx
  packages/design-system/src/partials/FullTextPartial/stories.tsx
  packages/design-system/src/partials/SubtitlePartial/index.tsx
  packages/design-system/src/partials/SubtitlePartial/stories.tsx
  packages/design-system/src/slices/AccoladeSlice/index.tsx
  packages/design-system/src/slices/CaptionedImageSlice/index.tsx
  packages/design-system/src/slices/CaptionedMagazineSlice/index.tsx
  packages/design-system/src/slices/CaptionedScreenshotsSlice/index.tsx
  packages/design-system/src/slices/CaptionedVideoSlice/index.tsx
  packages/design-system/src/slices/ExhibitionSlice/index.tsx
  packages/design-system/src/slices/NewspaperSlice/index.tsx
  packages/prismic-helpers/src/casts/RichText/index.tsx
  packages/style-guide/package.json
  packages/style-guide/src/design/_headings.scss
  packages/style-guide/src/design/_list.scss
  packages/style-guide/src/entry/headings.scss
  packages/style-guide/src/entry/list.scss
  packages/style-guide/src/variables/_font-size.scss
  packages/website/src/domains/about-page/components/AboutCertifications/index.tsx
  packages/website/src/domains/about-page/components/AboutEducation/index.tsx
  packages/website/src/domains/about-page/components/AboutPrinciples/index.tsx
  packages/website/src/domains/about-page/components/AboutPrinciples/styles.tsx
  packages/website/src/domains/case-study-page/components/CaseStudyAccolades/index.tsx
  packages/website/src/domains/case-study-page/components/CaseStudyCollaborators/index.tsx
  packages/website/src/domains/case-study-page/components/CaseStudyExhibitions/index.tsx
  packages/website/src/domains/portfolio-page/components/PortfolioFeaturedCaseStudies/index.tsx
Due: sort-package-json, stylelint, eslint, prettier --write

fix: sonarqube
  packages/design-system/src/partials/TitlePartial/stories.tsx
Due: eslint

chore: blank alt
  packages/design-system/src/partials/TitlePartial/stories.tsx
Due: eslint

test: carousel button (next/prev)
  packages/design-system/src/components/CarouselButtonBack/index.spec.tsx
  packages/design-system/src/components/CarouselButtonNext/index.spec.tsx
Due: eslint

test: logo
  .jest/transform/svg.ts
  package.json
  packages/design-system/package.json
  packages/design-system/src/brand/HeaderLogo/index.tsx
  packages/design-system/src/brand/HeaderLogo/stories.tsx
  packages/design-system/src/brand/HeaderLogo/styles.module.scss
  packages/design-system/src/brand/InlineLogo/index.spec.tsx
  packages/design-system/src/brand/InlineLogo/index.tsx
  packages/design-system/src/brand/InlineLogo/stories.tsx
  packages/design-system/src/components/CarouselButtonBack/index.spec.tsx
  packages/design-system/src/components/CarouselButtonBack/stories.tsx
  packages/design-system/src/components/SiteLogo/index.tsx
  packages/design-system/src/content/Home/stories.tsx
  packages/website/src/components/FooterNavigation/index.tsx
  packages/website/src/components/FooterNavigation/styles.tsx
  packages/website/src/components/HeaderDesktop/index.tsx
  packages/website/src/domains/home-page/components/HomeHello/index.tsx
  packages/website/src/domains/home-page/components/HomeHello/styles.tsx
Due: sort-package-json, stylelint, eslint, prettier --write

refactor: rename to menu strapline
  packages/design-system/package.json
  packages/design-system/src/brand/MenuStrapline/index.tsx
  packages/design-system/src/brand/MenuStrapline/stories.tsx
  packages/design-system/src/brand/MenuStrapline/styles.module.scss
  packages/website/src/components/HeaderDesktop/index.tsx
Due: sort-package-json, stylelint, eslint, prettier --write

fix: logo on storybook
  packages/design-system/src/content/Home/stories.tsx
Due: eslint

style: logo aspect ratio
  packages/design-system/src/brand/InlineLogo/index.tsx
  packages/design-system/src/content/Home/stories.tsx
Due: eslint

refactor: migration to mui grid
  packages/design-system/src/partials/SplitItemPartial/styles.module.scss
  packages/style-guide/package.json
  packages/style-guide/src/entry/grid.scss
  packages/style-guide/src/grid/_cell.scss
  packages/style-guide/src/grid/_container.scss
  packages/style-guide/src/grid/_design.scss
  packages/style-guide/src/grid/_full.scss
  packages/website/src/domains/about-page/components/AboutEducation/index.tsx
Due: sort-package-json, stylelint, eslint, prettier --write

refactor: remove style guide
  packages/design-system/package.json
  packages/design-system/src/partials/SplitItemPartial/index.tsx
  packages/design-system/src/partials/SplitItemPartial/styles.module.scss
  packages/design-system/src/partials/SplitItemPartial/styles.tsx
  packages/style-guide/package.json
  packages/style-guide/src/entry/media.scss
  packages/style-guide/src/variables/_media-breakpoint.scss
  packages/style-guide/src/variables/_media-query.scss
  packages/website/package.json
  packages/website/src/domains/about-page/components/AboutEducation/index.tsx
Due: sort-package-json, stylelint, eslint, prettier --write

chore: eslint importing for mui
  packages/design-system/package.json
  packages/design-system/src/components/CarouselImage/styles.tsx
  packages/design-system/src/components/DeviceFeaturePhone/styles.tsx
  packages/design-system/src/layout/Group/styles.tsx
  packages/design-system/src/partials/SplitPartial/styles.tsx
  packages/design-system/src/slices/CarouselPhonesSlice/index.tsx
  packages/eslint/src/configs/react.mjs
  packages/website/package.json
  packages/website/src/domains/about-page/components/AboutCertifications/styles.tsx
  packages/website/src/domains/about-page/components/AboutEducation/styles.tsx
  packages/website/src/domains/about-page/components/AboutPageHeader/styles.tsx
  packages/website/src/domains/socials-stack-overflow/SocialStackOverflow/styles.tsx
Due: sort-package-json, eslint, prettier --write

fix: component types
  packages/design-system/src/components/DeviceSmartphone/index.tsx
  packages/design-system/src/components/DeviceSmartphone/styles.tsx
  packages/design-system/src/components/Tile/index.spec.tsx
  packages/design-system/src/components/Tile/index.tsx
  packages/design-system/src/components/Tile/stories.tsx
  packages/design-system/src/components/VideoPlayer/stories.tsx
  packages/design-system/src/formatters/DateFormatter/index.tsx
  packages/design-system/src/formatters/DateFormatter/stories.tsx
  packages/design-system/src/formatters/LifespanFormatter/index.tsx
  packages/design-system/src/formatters/LifespanFormatter/stories.tsx
  packages/design-system/src/slices/AccoladeSlice/index.tsx
  packages/design-system/src/slices/ExhibitionSlice/index.tsx
  packages/website/src/domains/case-study-page/components/CaseStudyDetails/index.tsx
  packages/website/src/domains/portfolio-page/components/PortfolioFeaturedCaseStudies/index.tsx
  yarn.lock
Due: eslint

refactor: assets
  README.md
  packages/design-system/src/brand/InlineLogo/index.tsx
  packages/design-system/src/brand/InlineLogo/inline-logo.png
  packages/design-system/src/brand/InlineLogo/inline-logo.svg
  packages/design-system/src/brand/SquareLogo/index.spec.tsx
  packages/design-system/src/brand/SquareLogo/index.tsx
  packages/design-system/src/brand/SquareLogo/square-logo.svg
  packages/design-system/src/brand/SquareLogo/stories.tsx
  packages/design-system/src/components/DeviceFeaturePhone/device.svg
  packages/design-system/src/components/DeviceFeaturePhone/styles.tsx
  packages/design-system/src/components/DeviceSmartphone/device.svg
  packages/design-system/src/components/DeviceSmartphone/styles.tsx
  packages/design-system/src/slices/AccoladeSlice/styles.tsx
  packages/design-system/src/slices/AccoladeSlice/trophy.svg
Due: eslint, prettier --write

fix: components
  packages/design-system/package.json
  packages/design-system/src/components/CarouselDots/styles.tsx
  packages/design-system/src/components/Group/index.tsx
  packages/design-system/src/components/Group/stories.tsx
  packages/design-system/src/components/Group/styles.tsx
  packages/design-system/src/components/Group/types.ts
  packages/design-system/src/components/VideoBackground/index.tsx
  packages/design-system/src/components/VideoDialog/index.tsx
  packages/design-system/src/components/VideoPlayer/index.tsx
  packages/design-system/src/partials/CaptionedPartial/stories.tsx
  packages/design-system/src/partials/FullTextPartial/index.tsx
  packages/design-system/src/partials/NewspaperPartial/styles.tsx
  packages/design-system/src/partials/PageHeaderPartial/stories.tsx
  packages/design-system/src/partials/SubtitlePartial/index.tsx
  packages/design-system/src/partials/SubtitlePartial/stories.tsx
  packages/design-system/src/partials/TitlePartial/index.tsx
  packages/design-system/src/partials/TitlePartial/stories.tsx
  packages/design-system/src/slices/CaptionedVideoSlice/index.tsx
  packages/design-system/src/slices/SubtitleSlice/index.tsx
  packages/website/src/domains/about-page/components/AboutCertifications/index.tsx
  packages/website/src/domains/about-page/components/AboutEducation/index.tsx
  packages/website/src/domains/about-page/components/AboutPrinciples/index.tsx
  packages/website/src/domains/case-study-page/components/CaseStudyAccolades/index.tsx
  packages/website/src/domains/case-study-page/components/CaseStudyCollaborators/index.tsx
  packages/website/src/domains/case-study-page/components/CaseStudyExhibitions/index.tsx
  packages/website/src/domains/case-study-page/components/CaseStudyHeader/index.tsx
  packages/website/src/domains/portfolio-page/components/PortfolioCategory/index.tsx
Due: sort-package-json, eslint, prettier --write

fix: aspect ratio
  packages/design-system/src/components/DeviceFeaturePhone/styles.tsx
  packages/design-system/src/components/DeviceSmartphone/styles.tsx
Due: eslint

style: consistent header font size
  packages/website/src/domains/home-page/components/HomeHello/index.tsx
  packages/website/src/domains/portfolio-page/components/PortfolioPageLockup/index.tsx
Due: eslint

style: carousel slider
  packages/design-system/package.json
  packages/design-system/src/components/Carousel/index.tsx
  packages/design-system/src/components/CarouselDots/index.tsx
  packages/design-system/src/components/CarouselPagination/hooks.ts
  packages/design-system/src/components/CarouselSlider/index.tsx
  packages/design-system/src/components/CarouselSlider/stories.tsx
Due: sort-package-json, eslint, prettier --write

fix: theme import
  packages/website/src/libraries/material-ui/theme/index.ts
Due: eslint

style: digital technologist
  packages/design-system/src/brand/MenuStrapline/styles.module.scss
  packages/website/src/app/layout.tsx
  packages/website/src/components/FooterNavigation/index.tsx
  packages/website/src/domains/home-page/components/HomeHello/index.tsx
Due: stylelint, eslint

chore: redirects
  packages/website/next.config.mjs
  packages/website/next.redirects.mjs
Due: none

refactor: remove extra slash
  packages/website/src/components/HeaderSocial/index.tsx
Due: eslint

style: not found text
  packages/website/src/app/not-found.tsx
Due: eslint

fix: sonarqube
  packages/website/src/domains/socials-github/SocialGitHubLoading/index.tsx
Due: eslint

chore: animating social sidebars
  packages/design-system/src/formatters/DateFormatter/index.tsx
  packages/socials/package.json
  packages/socials/src/github/index.ts
  packages/socials/src/medium/index.ts
  packages/socials/src/medium/types.ts
  packages/website/package.json
  packages/website/src/app/@socialModals/(.)socials/github/action.tsx
  packages/website/src/app/@socialModals/(.)socials/github/loading.tsx
  packages/website/src/app/@socialModals/(.)socials/github/page.tsx
  packages/website/src/app/@socialModals/(.)socials/medium/action.tsx
  packages/website/src/app/@socialModals/(.)socials/medium/loading.tsx
  packages/website/src/app/@socialModals/(.)socials/medium/page.tsx
  packages/website/src/app/@socialModals/(.)socials/stack-overflow/action.tsx
  packages/website/src/app/@socialModals/(.)socials/stack-overflow/loading.tsx
  packages/website/src/app/@socialModals/(.)socials/stack-overflow/page.tsx
  packages/website/src/components/MotionFadeIn/index.tsx
  packages/website/src/domains/socials-github/SocialGitHubContent/index.tsx
  packages/website/src/domains/socials-github/SocialGitHubError/index.tsx
  packages/website/src/domains/socials-github/SocialGitHubItem/index.tsx
  packages/website/src/domains/socials-github/SocialGitHubLoading/index.tsx
  packages/website/src/domains/socials-linked-in/SocialLinkedInError/index.tsx
  packages/website/src/domains/socials-medium/SocialMedium/index.tsx
  packages/website/src/domains/socials-medium/SocialMediumContent/index.tsx
  packages/website/src/domains/socials-medium/SocialMediumError/index.tsx
  packages/website/src/domains/socials-medium/SocialMediumItem/index.tsx
  packages/website/src/domains/socials-medium/SocialMediumLoading/index.tsx
  packages/website/src/domains/socials-stack-overflow/SocialStackOverflow/index.tsx
  packages/website/src/domains/socials-stack-overflow/SocialStackOverflowContent/index.tsx
  packages/website/src/domains/socials-stack-overflow/SocialStackOverflowError/index.tsx
  packages/website/src/domains/socials-stack-overflow/SocialStackOverflowItem/index.tsx
  packages/website/src/domains/socials-stack-overflow/SocialStackOverflowItem/styles.tsx
  packages/website/src/domains/socials-stack-overflow/SocialStackOverflowLoading/index.tsx
  packages/website/src/domains/socials/components/SocialHeader/index.tsx
  packages/website/src/domains/socials/components/SocialMotion/index.tsx
  yarn.lock
Due: sort-package-json, eslint, prettier --write

style: animation timing
  packages/website/src/domains/socials/components/SocialMotion/index.tsx
Due: eslint

style: slanted backgrounds
  packages/design-system/src/components/Tile/index.tsx
  packages/design-system/src/material-ui/components/MuiTypography/index.tsx
  packages/design-system/src/partials/PageHeaderPartial/index.tsx
  packages/design-system/src/partials/PageHeaderPartial/stories.tsx
  packages/design-system/src/slices/GridVideoSlice/index.tsx
  packages/website/src/components/Footer/styles.tsx
  packages/website/src/components/FooterNavigation/index.tsx
  packages/website/src/components/FooterNavigation/styles.tsx
  packages/website/src/domains/home-page/components/HomeFeatured/index.tsx
  packages/website/src/domains/home-page/components/HomeHello/index.tsx
  packages/website/src/domains/portfolio-page/components/PortfolioPageLockup/index.tsx
Due: eslint

chore: bump turbo from 2.5.4 to 2.5.5
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

style: header size
  packages/design-system/src/partials/SubtitlePartial/index.tsx
Due: eslint

fix: sonarqube
  packages/website/src/domains/portfolio-page/components/PortfolioPageLockup/index.tsx
  packages/website/src/domains/socials-github/SocialGitHubItem/index.tsx
  packages/website/src/domains/socials/components/SocialError/index.tsx
Due: eslint

chore: upgrade node
  .github/workflows/sonarcloud.yml
  .nvmrc
Due: yamllint

fix: sonarqube
  packages/website/src/app/@socialModals/(.)socials/stack-overflow/page.tsx
  packages/website/src/domains/socials-medium/SocialMediumItem/index.tsx
Due: eslint

refactor: group by medium articles
  packages/socials/package.json
  packages/socials/src/medium/index.ts
  packages/socials/src/medium/types.ts
  packages/website/src/app/@socialModals/(.)socials/medium/page.tsx
  packages/website/src/domains/socials-medium/SocialMediumContent/index.tsx
  packages/website/src/domains/socials-medium/SocialMediumItem/index.tsx
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore: remove matchMedia jest mock
  .jest/setup/window.matchMedia.ts
  packages/design-system/jest.config.ts
  packages/website/jest.config.ts
Due: eslint

chore: remove unused vscode configuration
  .vscode/launch.json
  .vscode/settings.json
Due: prettier --write

chore: bump storybook
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write
