Repository bashaus/bashkim-com: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, eslint, prettier --write, stylelint

chore(husky): change configuration
  .husky/pre-commit
  .huskyrc.json
Due: prettier --write

chore(jest): updating jest coverage paths
  packages/application/.gitignore
  packages/application/jest.config.js
Due: eslint

chore(cookies): moved URL
  .lintstagedrc.json
  infrastructure/modules/website/bucket.routing-rules.yaml
  packages/application/src/components/CookiesNotice/index.tsx
  packages/application/src/components/FooterLinks/index.tsx
  packages/application/src/pages/cookies/index.tsx
  packages/application/src/pages/cookies/styles.module.scss
  packages/sitemap/src/sitemaps/pages.ts
Due: eslint, prettier --write, stylelint

chore(rich-text): renaming %wysiwyg to <FormattedRichText />
  packages/application/src/components/AboutProfile/index.tsx
  packages/application/src/components/AboutProfile/styles.module.scss
  packages/application/src/components/CaseStudyCollaborators/styles.module.scss
  packages/application/src/components/CaseStudyDetails/index.tsx
  packages/application/src/components/CaseStudyDetails/styles.module.scss
  packages/application/src/components/CaseStudyExhibitions/styles.module.scss
  packages/application/src/components/CaseStudyHeader/styles.module.scss
  packages/application/src/components/PortfolioFeaturedCaseStudies/index.tsx
  packages/application/src/components/PortfolioFeaturedCaseStudies/styles.module.scss
  packages/application/src/components/SentryBoundary/index.tsx
  packages/application/src/components/SentryBoundary/styles.module.scss
  packages/application/src/slices/Accolade/index.tsx
  packages/application/src/slices/Accolade/styles.module.scss
  packages/application/src/slices/Exhibition/index.tsx
  packages/application/src/slices/GridEmbed/styles.module.scss
  packages/application/src/slices/GridVideo/index.tsx
  packages/application/src/slices/GridVideo/styles.module.scss
  packages/application/src/slices/Newspaper/index.tsx
  packages/design-system/src/components/CallToAction/styles.module.scss
  packages/design-system/src/components/CarouselImage/index.tsx
  packages/design-system/src/components/CarouselImage/styles.module.scss
  packages/design-system/src/components/DeviceFeaturePhone/index.tsx
  packages/design-system/src/components/DeviceFeaturePhone/styles.module.scss
  packages/design-system/src/components/DeviceSmartphone/index.tsx
  packages/design-system/src/components/DeviceSmartphone/styles.module.scss
  packages/design-system/src/components/Tile/index.tsx
  packages/design-system/src/components/Tile/styles.module.scss
  packages/design-system/src/formatters/FormattedRichText/index.tsx
  packages/design-system/src/formatters/FormattedRichText/stories.tsx
  packages/design-system/src/formatters/FormattedRichText/styles.module.scss
  packages/design-system/src/index.ts
  packages/design-system/src/partials/PartialCaptioned/index.tsx
  packages/design-system/src/partials/PartialCaptioned/styles.module.scss
  packages/design-system/src/partials/PartialFullBanner/index.tsx
  packages/design-system/src/partials/PartialFullBanner/styles.module.scss
  packages/design-system/src/partials/PartialFullText/index.tsx
  packages/design-system/src/partials/PartialFullText/styles.module.scss
  packages/design-system/src/partials/PartialNewspaper/styles.module.scss
  packages/design-system/src/partials/PartialSplitItem/index.tsx
  packages/design-system/src/partials/PartialSplitItem/style.module.scss
Due: eslint, stylelint

chore(styleguide): merging lists
  packages/design-system/src/formatters/FormattedRichText/stories.tsx
  packages/design-system/src/formatters/FormattedRichText/styles.module.scss
  packages/design-system/src/styleguide/designs/list-ordered.scss
  packages/design-system/src/styleguide/designs/list-unordered.scss
  packages/design-system/src/styleguide/designs/lists.scss
Due: eslint, stylelint

chore(home): update basic structure
  packages/application/public/static/vectors/brands/battersea.svg
  packages/application/public/static/vectors/brands/converse.svg
  packages/application/public/static/vectors/brands/huawei.svg
  packages/application/public/static/vectors/brands/ihg.svg
  packages/application/public/static/vectors/brands/jack-daniels.svg
  packages/application/public/static/vectors/brands/vodafone.svg
  packages/application/src/components/AboutCertifications/index.tsx
  packages/application/src/components/AboutEducation/index.tsx
  packages/application/src/components/HomeBrands/index.tsx
  packages/application/src/components/HomeBrands/styles.module.scss
  packages/application/src/components/HomeFeatured/index.tsx
  packages/application/src/pages/about/index.tsx
  packages/application/src/pages/index.tsx
  packages/design-system/src/partials/PartialSplit/index.tsx
  packages/design-system/src/partials/PartialSplit/stories.tsx
Due: eslint, stylelint

chore(images): remove unused images
  packages/application/public/static/images/about/employment/agency-republic/background.jpg
  packages/application/public/static/images/about/employment/agency-republic/logo.jpg
  packages/application/public/static/images/about/employment/mmt/background.jpg
  packages/application/public/static/images/about/employment/mmt/logo.svg
  packages/application/public/static/images/about/employment/ogilvy/background.jpg
  packages/application/public/static/images/about/employment/ogilvy/logo.png
  packages/application/public/static/images/about/employment/studio-farrago/background.jpg
  packages/application/public/static/images/about/employment/studio-farrago/background2.jpg
  packages/application/public/static/images/about/employment/studio-farrago/logo.jpg
  packages/application/public/static/images/about/employment/trouva/background.jpg
  packages/application/public/static/images/about/employment/trouva/logo.jpg
Due: none

chore(404): creating error page
  infrastructure/modules/website/bucket.tf
  packages/application/src/pages/404/index.tsx
Due: eslint

chore(cookies): removed cookies notice
  packages/application/package.json
  packages/application/src/components/CookiesNotice/index.tsx
  packages/application/src/components/CookiesNotice/stories.tsx
  packages/application/src/components/CookiesNotice/styles.module.scss
  packages/application/src/components/FooterLinks/index.tsx
  packages/application/src/components/LayoutDefault/index.tsx
  packages/application/src/contexts/Cookies/actions.ts
  packages/application/src/contexts/Cookies/context.ts
  packages/application/src/contexts/Cookies/provider.tsx
  packages/application/src/contexts/Cookies/reducer.ts
  packages/application/src/contexts/Cookies/state.ts
  packages/application/src/pages/cookies/index.tsx
  packages/application/src/styleguide/utils/_z-index.scss
  yarn.lock
Due: sort-package-json, eslint, prettier --write, stylelint

chore(cookies): removed unused cookie icon
  packages/application/public/static/vectors/icons/cookies.svg
Due: none

chore(layout): removed unused layout
  packages/application/src/components/LayoutDefault/index.tsx
  packages/application/src/pages/404/index.tsx
  packages/application/src/pages/_app.tsx
  packages/application/src/pages/about/index.tsx
  packages/application/src/pages/cookies/index.tsx
  packages/application/src/pages/index.tsx
  packages/application/src/pages/portfolio/[caseStudySlug]/index.tsx
  packages/application/src/pages/portfolio/index.tsx
  packages/design-system/src/components/VideoPlayerYouTube/stories.tsx
Due: eslint

chore(copyright): amend footer copyright design
  packages/application/src/components/FooterCopyright/styles.module.scss
Due: stylelint

chore(footer): updated line position
  packages/application/src/components/FooterColumn/styles.module.scss
Due: stylelint

chore(footer): split design system
  packages/application/src/components/Footer/index.tsx
  packages/application/src/components/Footer/stories.tsx
  packages/application/src/components/Footer/styles.module.scss
  packages/application/src/components/FooterCopyright/styles.module.scss
  packages/application/src/components/FooterLinks/index.tsx
  packages/application/src/components/FooterLinks/styles.module.scss
  packages/application/src/components/FooterSocial/index.tsx
  packages/application/src/components/FooterSocial/styles.module.scss
  packages/application/src/components/Navigation/index.tsx
  packages/design-system/.storybook/main.js
  packages/design-system/src/index.ts
  packages/design-system/src/layout/Footer/index.tsx
  packages/design-system/src/layout/Footer/stories.tsx
  packages/design-system/src/layout/Footer/styles.module.scss
  packages/design-system/src/layout/FooterColumn/index.tsx
  packages/design-system/src/layout/FooterColumn/stories.tsx
  packages/design-system/src/layout/FooterColumn/styles.module.scss
  packages/design-system/src/layout/FooterGroup/index.tsx
  packages/design-system/src/layout/FooterGroup/styles.module.scss
  packages/design-system/src/layout/FooterLinks/index.tsx
  packages/design-system/src/layout/FooterLinks/styles.module.scss
  packages/design-system/src/layout/Group/index.tsx
  packages/design-system/src/layout/Group/stories.tsx
  packages/design-system/src/layout/Group/styles.module.scss
  packages/design-system/src/layout/Navigation/index.tsx
  packages/design-system/src/layout/Navigation/stories.tsx
  packages/design-system/src/layout/Navigation/styles.module.scss
  packages/design-system/src/layout/NavigationGroup/index.tsx
  packages/design-system/src/layout/NavigationGroup/stories.tsx
  packages/design-system/src/layout/NavigationGroup/styles.module.scss
  packages/design-system/src/layout/NavigationItem/index.tsx
  packages/design-system/src/layout/NavigationItem/styles.module.scss
Due: eslint, stylelint

chore(cookies): updated cookie policy
  packages/application/public/static/images/cookies/header-desktop.jpg
  packages/application/public/static/images/cookies/header-mobile.jpg
  packages/application/src/pages/cookies/index.tsx
  packages/design-system/src/formatters/FormattedRichText/styles.module.scss
Due: eslint, stylelint

chore(partial): cleaning up header images
  packages/application/src/pages/about/index.tsx
  packages/application/src/pages/about/styles.module.scss
  packages/design-system/src/partials/PartialHeaderImage/index.tsx
  packages/design-system/src/partials/PartialHeaderImage/stories.tsx
Due: eslint, stylelint

chore(dependabot): installation
  .github/dependabot.yml
Due: none

chore(github): static analysis
  .github/workflows/static-analysis.yml
Due: none

chore(design): consistent typography
  packages/application/src/components/AboutProfile/styles.module.scss
  packages/application/src/components/CaseStudyTechnologies/styles.module.scss
  packages/application/src/components/FooterCopyright/index.tsx
  packages/application/src/components/FooterCopyright/styles.module.scss
  packages/application/src/pages/cookies/index.tsx
  packages/application/src/pages/cookies/styles.module.scss
  packages/design-system/src/components/Brick/styles.module.scss
  packages/design-system/src/components/Tile/index.tsx
  packages/design-system/src/components/Tile/styles.module.scss
  packages/design-system/src/formatters/FormattedRichText/stories.tsx
  packages/design-system/src/formatters/FormattedRichText/styles.module.scss
  packages/design-system/src/partials/PartialFullBanner/styles.module.scss
  packages/design-system/src/partials/PartialSubtitle/index.tsx
  packages/design-system/src/partials/PartialSubtitle/styles.module.scss
  packages/design-system/src/partials/PartialTitle/styles.module.scss
  packages/design-system/src/styleguide/designs/headings.scss
  packages/design-system/src/styleguide/utils/normalize.scss
Due: eslint, stylelint

chore(dev-deps): serverless upgrade
  .env.example
  .slsignore
  package.json
  serverless.yml
  yarn.lock
Due: sort-package-json, prettier --write

chore(storybook): upgrade to 6.3.9
  packages/design-system/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(next): using <Script /> tag
  .stylelintignore
  packages/application/src/components/GoogleAnalytics/index.tsx
Due: eslint

chore(jest): upgrading to version 27
  packages/application/package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps-dev): upgrade prettier dependencies
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(deps): yarn fix
  yarn.lock
Due: none

chore(deps-dev): added jest-css-modules-transform
  packages/application/jest.config.js
  packages/application/package.json
  yarn.lock
Due: sort-package-json, eslint, prettier --write

chore(yarn): update
  yarn.lock
Due: none

chore(deps): fixing yarn deps
  yarn.lock
Due: none

Path conditions:
  sort-package-json: any of: package.json
  eslint: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{md,html,json}
  stylelint: any of: *.{css,scss}
